In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('banglore.csv')

In [4]:
df.head()

,Unnamed: 0,bhk,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,"2.25 Cr13,966 per sqft",1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,"2.13 Cr12,909 per sqft",NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,"1.37 Cr9,648 per sqft",NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,"1.62 Cr11,000 per sqft",1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,"3.93 Cr15,023 per sqft",1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [5]:
BHK =df['bhk'].str.split(' ').str.get(0)

In [6]:
sector = df['bhk'].str.replace('3 BHK', '').str.replace('4 BHK','').str.replace('10 BHK','').str.replace('7 BHK','').str.replace('2 BHK','').str.replace('1 BHK','').str.replace('> 10 BHK','').str.replace('6 BHK','').str.replace('5 BHK','').str.replace('9 BHK','').str.replace(' Apartment for Sale in ','').str.replace('Builder Floor for Sale in','').str.replace('Studio','').str.replace('Bangalore','').str.strip()

In [7]:
df.insert(loc=2,column='BHK',value=BHK)
df.insert(loc=3,column='sector',value=sector)

In [8]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [9]:
df['sector'].value_counts().head(25)

sector
Whitefield                  49
Sarjapur Road               36
Panathur                    31
Kanakapura Road             31
Gunjur                      25
Thanisandra Main Road       20
Electronic City             19
Hennur Main Road            18
Sarjapura                   17
Bagaluru                    17
Thanisandra                 15
                            15
Hsr Layout                  13
Kengeri                     11
Jakkur                      11
Hebbal                      11
Phase 2 Electronic City     11
Phase 1 Electronics City    10
Yelahanka                   10
Yelahanka New Town          10
Chandapura                  10
Devanahalli                  9
Magadi Main Road             9
RR Nagar                     9
Krishnarajapura              9
Name: count, dtype: int64

In [10]:
df[df['sector'] == '285']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
640,640,2 BHK Apartment for Sale in 285 Bangalore,2,285,"99 Lac8,049 per sqft",986 sqft,NAN,Ready to Move,2 out of 4,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,2,2,NAN,NAN

In [11]:
df['sector'].iloc[553] = 'Kuthaganahalli'
df['sector'].iloc[1035] = 'green avenue layout'
df['sector'].iloc[[1164,1231]] = 'HBR Layout'
df['sector'].iloc[[415, 674, 1210]] = 'HRBR Layout'
df['sector'].iloc[[536,326,838,847, 1368,265, 291,933, 984,890, 891, 1006,
                   288, 380, 472, 485, 537, 743, 965, 988, 995, 1244, 1315, 1328, 1379]] = 'HSR Layout'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3603785115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[553] = 'Kuthaganahalli'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3603785115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1035] = 'green avenue layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3603785115.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1164,1231]] = 'HBR Layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3603785115.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[415, 674, 1210]] = 'HRBR Layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3603785115.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[536,326,838,847, 1368,265, 291,933, 984,890, 891, 1006,

In [12]:
df['sector'].iloc[1439] = 'Sanjay Nagar'
df['sector'].iloc[[1250,1117,1014,828,618, 774,706, 884,387, 1433,137, 302, 443, 1285,
                   115, 398, 601, 605, 842, 1120,441,329,215,1171,963,113, 211, 579, 1401]] = 'JP Nagar'
df['sector'].iloc[857] = 'Stage 2nd BTM Layout'
df['sector'].iloc[1140] = 'Kudlu'
df['sector'].iloc[631] = 'Sultan Palya'
df['sector'].iloc[544] = 'Aathreya'
df['sector'].iloc[550] = 'Kengeri'
df['sector'].iloc[764] = 'Kannuru'
df['sector'].iloc[783] = 'Hennur'
df['sector'].iloc[697] = 'Basaveshwara HBCS Layout'
df['sector'].iloc[386] = 'near embassy tech Village back gate'
df['sector'].iloc[394] = 'Banashankari Stage 2'
df['sector'].iloc[1078] = 'Airport Road'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1439] = 'Sanjay Nagar'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1250,1117,1014,828,618, 774,706, 884,387, 1433,137, 302, 443, 1285,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[857] = 'Stage 2nd BTM Layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1140] = 'Kudlu'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[631] = 'Sultan Palya'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[544] = 'Aathreya'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[550] = 'Kengeri'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[764] = 'Kannuru'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[783] = 'Hennur'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[697] = 'Basaveshwara HBCS Layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[386] = 'near embassy tech Village back gate'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[394] = 'Banashankari Stage 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3946982716.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1078] = 'Airport Road'

In [13]:
df['sector'].iloc[[188, 209, 305, 365, 650, 721, 757, 934, 957,1129, 1086, 
                   1255,524,771, 626, 799, 892, 967, 1053, 1215, 1280, 1367, 1421,1026]] = 'Electronic City'
df['sector'].iloc[[79, 118, 155, 176, 227, 296, 332, 1150, 1191, 1308,582]] = 'Yelahanka'
df['sector'].iloc[[632,655,668,385, 684,1266,694,442,385, 442, 549, 591, 632, 655, 668, 684, 694, 909, 1001, 1247, 1248,
       1266,374,334, 1092,225, 298, 1329]] = 'Jayanagar'
df['sector'].iloc[596] = 'Bommasandra Jigani Link Road'
df['sector'].iloc[674] = 'Block 1st HRBR Layout'
df['sector'].iloc[[223,522,789,228,141, 457, 1206, 1393,33, 123, 145, 580,239, 376, 748,1179,
                   5, 47, 50, 671]] = 'Whitefield'
df['sector'].iloc[[1283,1281,212, 954, 986, 1236, 1249, 1251,81, 1051, 1238, 1427,235, 1303,779, 786,
                   460, 812,740, 946, 1371,81,  212,  235,  460,  740,  779,  786,  812,  946,  954,  986, 1051,
       1170, 1236, 1238, 1249, 1251, 1281, 1283, 1303, 1371, 1427]] = 'Outer Ring Road'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[188, 209, 305, 365, 650, 721, 757, 934, 957,1129, 1086,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[79, 118, 155, 176, 227, 296, 332, 1150, 1191, 1308,582]] = 'Yelahanka'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[632,655,668,385, 684,1266,694,442,385, 442, 549, 591, 632, 655, 668, 684, 694, 909, 1001, 1247, 1248,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[596] = 'Bommasandra Jigani Link Road'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[674] = 'Block 1st HRBR Layout'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[223,522,789,228,141, 457, 1206, 1393,33, 123, 145, 580,239, 376, 748,1179,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1936272410.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1283,1281,212, 954, 986, 1236, 1249, 1251,81, 1051, 1238, 1427,235, 1303,779, 786,

In [14]:
df['sector']=df['sector'].str.split(',').str.get(-1).str.replace('Penthouse for Sale in ','').str.replace('Apartment for Sale in ','').str.strip()

In [15]:
df['sector'].value_counts().head(28)

sector
Whitefield               70
Electronic City          44
Sarjapur Road            36
Kanakapura Road          33
Panathur                 31
JP Nagar                 29
HSR Layout               25
Gunjur                   25
Yelahanka                23
Outer Ring Road          22
Thanisandra              21
Hennur Main Road         21
Jayanagar                21
Thanisandra Main Road    20
                         19
Sarjapura                18
Bagaluru                 17
Hebbal                   13
Kengeri                  12
Banaswadi                12
Jakkur                   11
Chandapura               10
Krishnarajapura          10
Basavanagudi              9
Hosur Road                9
RR Nagar                  9
Devanahalli               9
Magadi Main Road          9
Name: count, dtype: int64

In [16]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [17]:
df[df['sector'] == '']['bhk']

354                 2 BHK Apartment for Sale in Bangalore
356                 2 BHK Apartment for Sale in Bangalore
366     2 BHK Apartment for Sale in Bda Flats, Kommagh...
381                 2 BHK Apartment for Sale in Bangalore
382                 3 BHK Apartment for Sale in Bangalore
454                 4 BHK Apartment for Sale in Bangalore
463     2 BHK Apartment for Sale in Sharda Lotus, Mall...
478                 1 BHK Apartment for Sale in Bangalore
501     2 BHK Apartment for Sale in Dollars Colony Lot...
541                 3 BHK Apartment for Sale in Bangalore
571                 3 BHK Apartment for Sale in Bangalore
700                 2 BHK Apartment for Sale in Bangalore
815             3 BHK Builder Floor for Sale in Bangalore
895                 2 BHK Apartment for Sale in Bangalore
953                 3 BHK Apartment for Sale in Bangalore
1022                3 BHK Apartment for Sale in Bangalore
1036                3 BHK Apartment for Sale in Bangalore
1134                3 BHK Apartment for Sale in Bangalore
1432    3 BHK Apartment for Sale in Seshadripuram, Ban...
Name: bhk, dtype: object

In [18]:
df[df['Unnamed: 0'] == 501]['bhk'].iloc[0]

'2 BHK Apartment for Sale in Dollars Colony Lottegollahalli Stage 2nd RMV, Bangalore Bangalore'

In [19]:
df['sector'].iloc[366] = 'Kanakapura Road'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\2219559295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[366] = 'Kanakapura Road'

In [20]:
df['sector'].iloc[463] = 'Malleshpalya'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3571834300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[463] = 'Malleshpalya'

In [21]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [22]:
price = df['price_sqft_price'].str.split('Cr').str.get(0).str.split('Lac').str.get(0)

In [23]:
df.insert(loc=5,column='price',value=price)

In [24]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [25]:
df.rename(columns={'price':'price_in_CR'},inplace=True)

In [26]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price_in_CR,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [27]:
price_persqft =df['price_sqft_price'].str.replace('Cr',':').str.replace('Lac',':').str.split(':').str.get(1).str.replace(',','').str.split(' ').str.get(0)

In [28]:
df['price_sqft_price']

0        2.25 Cr13,966 per sqft
1        2.13 Cr12,909 per sqft
2         1.37 Cr9,648 per sqft
3        1.62 Cr11,000 per sqft
4        3.93 Cr15,023 per sqft
5        2.10 Cr12,485 per sqft
6        1.60 Cr10,063 per sqft
7         1.92 Cr9,846 per sqft
8        1.60 Cr10,036 per sqft
9         1.60 Cr9,963 per sqft
10       2.25 Cr12,584 per sqft
11       5.50 Cr15,524 per sqft
12       2.03 Cr12,601 per sqft
13       2.11 Cr13,100 per sqft
14         98 Lac8,305 per sqft
15       1.89 Cr11,595 per sqft
16        93 Lac10,109 per sqft
17       2.10 Cr12,868 per sqft
18       2.20 Cr13,656 per sqft
19       3.20 Cr13,716 per sqft
20        1.35 Cr9,507 per sqft
21        1.75 Cr8,974 per sqft
22       2.15 Cr13,346 per sqft
23       38.7 Lac4,000 per sqft
24       2.99 Cr13,002 per sqft
25       1.99 Cr12,061 per sqft
26       48.4 Lac5,500 per sqft
27       54.2 Lac5,500 per sqft
28       3.15 Cr12,050 per sqft
29       2.10 Cr13,125 per sqft
30       2.30 Cr14,277 per sqft
31        1.36 Cr9,510 per sqft
32        1.38 Cr8,338 per sqft
33       2.48 Cr13,696 per sqft
34       2.10 Cr10,966 per sqft
35        1.38 Cr9,650 per sqft
36       1.55 Cr10,650 per sqft
37       1.36 Cr10,112 per sqft
38       2.35 Cr14,688 per sqft
39       3.50 Cr12,069 per sqft
40       1.60 Cr10,000 per sqft
41       1.80 Cr12,587 per sqft
42       2.20 Cr13,656 per sqft
43       2.69 Cr14,047 per sqft
44        1.67 Cr9,970 per sqft
45       2.79 Cr12,669 per sqft
46       2.25 Cr13,966 per sqft
47       2.90 Cr15,934 per sqft
48        1.13 Cr9,496 per sqft
49       1.21 Cr10,108 per sqft
50       1.97 Cr11,712 per sqft
51          2 Cr12,121 per sqft
52       2.15 Cr13,206 per sqft
53        1.29 Cr9,615 per sqft
54        1.30 Cr9,659 per sqft
55       2.80 Cr14,286 per sqft
56        1.41 Cr8,418 per sqft
57       2.55 Cr13,316 per sqft
58       2.08 Cr11,200 per sqft
59       2.40 Cr14,898 per sqft
60       1.36 Cr10,500 per sqft
61       1.32 Cr10,154 per sqft
62       1.36 Cr10,089 per sqft
63       1.10 Cr16,641 per sqft
64        1.60 Cr9,524 per sqft
65       1.30 Cr11,008 per sqft
66        1.59 Cr9,300 per sqft
67      93.2 Lac13,326 per sqft
68       1.53 Cr10,514 per sqft
69        1.12 Cr9,396 per sqft
70       2.39 Cr18,893 per sqft
71       1.75 Cr11,090 per sqft
72       1.74 Cr11,821 per sqft
73       97.5 Lac5,013 per sqft
74       1.69 Cr10,710 per sqft
75       1.71 Cr10,240 per sqft
76       2.55 Cr12,964 per sqft
77       1.13 Cr10,367 per sqft
78        1.55 Cr7,123 per sqft
79         78 Lac7,895 per sqft
80      77.4 Lac10,830 per sqft
81        1.54 Cr8,114 per sqft
82       53.4 Lac5,000 per sqft
83       1.40 Cr10,666 per sqft
84       1.35 Cr10,385 per sqft
85       2.20 Cr11,488 per sqft
86        1.60 Cr9,524 per sqft
87        1.26 Cr9,376 per sqft
88       2.80 Cr13,896 per sqft
89       2.03 Cr10,598 per sqft
90        1.06 Cr7,946 per sqft
91        1.26 Cr9,452 per sqft
92        1.77 Cr9,500 per sqft
93       1.20 Cr10,256 per sqft
94        1.14 Cr9,200 per sqft
95       1.59 Cr11,368 per sqft
96       64.4 Lac9,000 per sqft
97        1.56 Cr8,575 per sqft
98                      1.30 Cr
99         84 Lac5,813 per sqft
100      88.7 Lac8,730 per sqft
101      77.8 Lac6,593 per sqft
102                      43 Lac
103        42 Lac8,400 per sqft
104      2.24 Cr10,500 per sqft
105       1.45 Cr8,923 per sqft
106        99 Lac6,828 per sqft
107       1.73 Cr9,551 per sqft
108       1.06 Cr7,200 per sqft
109      72.3 Lac6,200 per sqft
110       1.26 Cr8,485 per sqft
111      1.07 Cr10,000 per sqft
112      82.1 Lac6,900 per sqft
113      2.20 Cr11,914 per sqft
114      82.5 Lac6,634 per sqft
115       1.15 Cr8,745 per sqft
116      2.85 Cr10,182 per sqft
117       1.46 Cr9,200 per sqft
118        73 Lac6,848 per sqft
119      2.58 Cr16,005 per sqft
120      1.84 Cr10,601 per sqft
121      2.70 Cr10,843 per sqft
122       1.60 Cr9,524 per sqft
123      2.75 Cr14,016 per sqft
124      1.31 Cr10,500 per sqft
125      49.6 Lac4,000 per sqft
126       1.53 Cr9,527 per sqft
127       1.09 Cr7,962 per sqft
128      1.10 Cr11,000 per sqft
129       1.21 Cr8,996 per sqft
130       1.68 Cr6,800 per sqft
131      1.84 Cr11,500 per sqft
132       1.52 Cr7,847 per sqft
133       1.19 Cr9,500 per sqft
134       1.11 Cr8,665 per sqft
135       2.92 Cr8,400 per sqft
136      6.50 Cr30,093 per sqft
137      1.20 Cr10,118 per sqft
138      2.45 Cr12,800 per sqft
139      3.45 Cr13,906 per sqft
140      2.54 Cr14,000 per sqft
141      3.29 Cr12,576 per sqft
142     81.5 Lac12,352 per sqft
143      1.74 Cr10,875 per sqft
144         2 Cr13,966 per sqft
145      3.30 Cr12,615 per sqft
146      2.30 Cr14,277 per sqft
147      1.57 Cr10,495 per sqft
148      1.69 Cr11,785 per sqft
149       1.52 Cr9,560 per sqft
150      2.30 Cr13,939 per sqft
151       1.12 Cr9,492 per sqft
152      2.58 Cr13,473 per sqft
153      2.70 Cr14,099 per sqft
154                     5.74 Cr
155        71 Lac7,709 per sqft
156       1.10 Cr9,167 per sqft
157       1.28 Cr9,517 per sqft
158      87.3 Lac9,000 per sqft
159       1.80 Cr9,045 per sqft
160      2.15 Cr15,109 per sqft
161      2.50 Cr13,055 per sqft
162      2.50 Cr13,751 per sqft
163       1.45 Cr6,817 per sqft
164      2.80 Cr13,896 per sqft
165        83 Lac8,655 per sqft
166      1.75 Cr10,011 per sqft
167       1.23 Cr8,589 per sqft
168          1 Cr9,662 per sqft
169       2.20 Cr7,852 per sqft
170      1.89 Cr10,000 per sqft
171       2.62 Cr9,360 per sqft
172       2.27 Cr7,257 per sqft
173       1.14 Cr8,899 per sqft
174      8.13 Cr23,248 per sqft
175      5.50 Cr28,917 per sqft
176       1.22 Cr7,726 per sqft
177      3.10 Cr13,901 per sqft
178      40.6 Lac4,000 per sqft
179       73 Lac12,026 per sqft
180       1.80 Cr9,479 per sqft
181      1.36 Cr10,462 per sqft
182       1.30 Cr9,630 per sqft
183       1.26 Cr9,363 per sqft
184       1.26 Cr9,367 per sqft
185       1.30 Cr9,630 per sqft
186      2.30 Cr13,982 per sqft
187      2.80 Cr11,667 per sqft
188      57.2 Lac4,145 per sqft
189       1.90 Cr9,500 per sqft
190      72.6 Lac5,700 per sqft
191      2.30 Cr14,277 per sqft
192       1.20 Cr9,084 per sqft
193      1.50 Cr11,765 per sqft
194         3 Cr18,237 per sqft
195       1.64 Cr9,950 per sqft
196      2.30 Cr11,587 per sqft
197      4.50 Cr16,346 per sqft
198          1 Cr8,453 per sqft
199      7.50 Cr17,751 per sqft
200      6.30 Cr26,250 per sqft
201        35 Lac4,944 per sqft
202        73 Lac9,481 per sqft
203       1.83 Cr9,304 per sqft
204       1.60 Cr8,565 per sqft
205      8.55 Cr15,055 per sqft
206      1.19 Cr10,000 per sqft
207      53.8 Lac4,674 per sqft
208      5.07 Cr12,366 per sqft
209        49 Lac4,272 per sqft
210       1.12 Cr8,302 per sqft
211      80.9 Lac7,333 per sqft
212      2.34 Cr14,060 per sqft
213         2 Cr13,755 per sqft
214      3.50 Cr16,667 per sqft
215      4.50 Cr12,694 per sqft
216        92 Lac8,949 per sqft
217        68 Lac5,913 per sqft
218        52 Lac4,160 per sqft
219      2.65 Cr11,497 per sqft
220       1.40 Cr7,568 per sqft
221       1.65 Cr9,483 per sqft
222       1.30 Cr8,916 per sqft
223       1.19 Cr9,599 per sqft
224       1.36 Cr8,521 per sqft
225      2.40 Cr11,429 per sqft
226        74 Lac7,327 per sqft
227      53.1 Lac4,799 per sqft
228         6 Cr14,634 per sqft
229      4.79 Cr17,399 per sqft
230      2.80 Cr12,727 per sqft
231       1.70 Cr8,763 per sqft
232      4.75 Cr18,686 per sqft
233      1.91 Cr12,700 per sqft
234       1.94 Cr9,525 per sqft
235        77 Lac5,923 per sqft
236      2.84 Cr13,225 per sqft
237      3.60 Cr13,699 per sqft
238      1.55 Cr10,877 per sqft
239      98.9 Lac7,200 per sqft
240      2.50 Cr10,417 per sqft
241      75.7 Lac5,711 per sqft
242      6.20 Cr28,837 per sqft
243      2.05 Cr10,518 per sqft
244      1.18 Cr10,433 per sqft
245      2.85 Cr15,798 per sqft
246      4.42 Cr13,895 per sqft
247      59.3 Lac5,300 per sqft
248         8 Cr18,661 per sqft
249       2.26 Cr9,091 per sqft
250      2.90 Cr17,211 per sqft
251        86 Lac7,900 per sqft
252      94.9 Lac7,525 per sqft
253      3.95 Cr16,057 per sqft
254      1.45 Cr10,147 per sqft
255      83.6 Lac7,100 per sqft
256        60 Lac8,065 per sqft
257       1.10 Cr6,905 per sqft
258        99 Lac7,164 per sqft
259       1.25 Cr9,370 per sqft
260      1.90 Cr11,515 per sqft
261      2.70 Cr10,953 per sqft
262        70 Lac8,353 per sqft
263      6.20 Cr15,122 per sqft
264       2.58 Cr9,817 per sqft
265      2.59 Cr14,000 per sqft
266       1.80 Cr9,240 per sqft
267      1.30 Cr10,860 per sqft
268       1.56 Cr9,150 per sqft
269        92 Lac6,093 per sqft
270        75 Lac9,025 per sqft
271      2.65 Cr13,520 per sqft
272      2.50 Cr12,340 per sqft
273     13.65 Cr21,667 per sqft
274       1.07 Cr9,000 per sqft
275      4.75 Cr17,254 per sqft
276       1.25 Cr6,106 per sqft
277       1.10 Cr6,675 per sqft
278         3 Cr16,630 per sqft
279      58.3 Lac5,300 per sqft
280      5.50 Cr18,182 per sqft
281      3.10 Cr13,995 per sqft
282      74.8 Lac6,500 per sqft
283         7 Cr15,801 per sqft
284      1.85 Cr12,333 per sqft
285        75 Lac6,522 per sqft
286        34 Lac4,250 per sqft
287       70 Lac11,570 per sqft
288      98.5 Lac7,296 per sqft
289        54 Lac3,913 per sqft
290      4.15 Cr15,091 per sqft
291       1.80 Cr7,500 per sqft
292       1.08 Cr8,926 per sqft
293        53 Lac4,711 per sqft
294         4 Cr14,286 per sqft
295      1.60 Cr14,545 per sqft
296      77.6 Lac5,969 per sqft
297      65.2 Lac5,000 per sqft
298      1.40 Cr11,667 per sqft
299       1.30 Cr8,176 per sqft
300     18.90 Cr24,231 per sqft
301      5.50 Cr11,289 per sqft
302                      59 Lac
303      28.5 Lac2,591 per sqft
304       1.05 Cr7,516 per sqft
305      35.8 Lac3,675 per sqft
306       1.15 Cr8,977 per sqft
307      92.8 Lac6,500 per sqft
308        85 Lac8,543 per sqft
309      65.4 Lac6,346 per sqft
310      1.80 Cr10,976 per sqft
311      86.5 Lac6,500 per sqft
312       1.24 Cr8,999 per sqft
313      1.99 Cr15,152 per sqft
314                     1.20 Cr
315         2 Cr10,724 per sqft
316      2.70 Cr11,208 per sqft
317      2.12 Cr14,000 per sqft
318      4.50 Cr13,158 per sqft
319       1.51 Cr7,479 per sqft
320      7.10 Cr17,317 per sqft
321       1.11 Cr8,959 per sqft
322        60 Lac5,455 per sqft
323      92.2 Lac5,359 per sqft
324        79 Lac7,460 per sqft
325      4.30 Cr15,619 per sqft
326      2.80 Cr23,333 per sqft
327      7.88 Cr29,425 per sqft
328        88 Lac6,902 per sqft
329      74.5 Lac5,266 per sqft
330      9.50 Cr16,964 per sqft
331         5 Cr20,833 per sqft
332       1.12 Cr7,330 per sqft
333        98 Lac5,802 per sqft
334         6 Cr25,000 per sqft
335        90 Lac6,923 per sqft
336                     7.50 Cr
337         7 Cr26,139 per sqft
338         5 Cr13,947 per sqft
339       1.85 Cr9,635 per sqft
340       1.10 Cr7,612 per sqft
341       1.29 Cr9,181 per sqft
342        78 Lac7,059 per sqft
343                     1.04 Cr
344       1.75 Cr8,979 per sqft
345        88 Lac6,697 per sqft
346       3.70 Cr9,024 per sqft
347       1.10 Cr9,167 per sqft
348        53 Lac4,609 per sqft
349        65 Lac5,752 per sqft
350      1.50 Cr10,345 per sqft
351        51 Lac4,435 per sqft
352         3 Cr15,424 per sqft
353        55 Lac5,000 per sqft
354       1.12 Cr9,589 per sqft
355        75 Lac6,522 per sqft
356        75 Lac6,356 per sqft
357                     1.15 Cr
358        60 Lac4,396 per sqft
359      6.25 Cr15,455 per sqft
360        95 Lac9,013 per sqft
361        70 Lac5,000 per sqft
362        81 Lac5,960 per sqft
363      7.50 Cr31,250 per sqft
364      1.50 Cr12,397 per sqft
365        55 Lac6,215 per sqft
366        46 Lac4,340 per sqft
367      1.03 Cr10,499 per sqft
368       1.70 Cr8,387 per sqft
369        35 Lac5,785 per sqft
370        95 Lac7,422 per sqft
371        64 Lac5,387 per sqft
372        68 Lac6,028 per sqft
373        75 Lac4,896 per sqft
374         3 Cr13,636 per sqft
375        68 Lac5,965 per sqft
376       1.40 Cr9,340 per sqft
377                     1.20 Cr
378          1 Cr7,692 per sqft
379      58.5 Lac9,000 per sqft
380       1.43 Cr9,239 per sqft
381                      80 Lac
382                      90 Lac
383      1.10 Cr11,653 per sqft
384       1.15 Cr9,656 per sqft
385      4.80 Cr14,902 per sqft
386          5 Cr7,143 per sqft
387      2.05 Cr10,240 per sqft
388      2.50 Cr13,383 per sqft
389         5 Cr13,947 per sqft
390      7.75 Cr12,917 per sqft
391      3.70 Cr12,333 per sqft
392        85 Lac6,967 per sqft
393      1.90 Cr11,515 per sqft
394         3 Cr12,029 per sqft
395      2.15 Cr11,467 per sqft
396      6.10 Cr14,838 per sqft
397      99.4 Lac6,635 per sqft
398        95 Lac5,588 per sqft
399        38 Lac4,551 per sqft
400      2.75 Cr17,241 per sqft
401      1.35 Cr12,295 per sqft
402        75 Lac8,333 per sqft
403       1.42 Cr7,939 per sqft
404        55 Lac5,978 per sqft
405       95 Lac10,556 per sqft
406        86 Lac5,931 per sqft
407       1.62 Cr9,184 per sqft
408      2.32 Cr10,087 per sqft
409      6.20 Cr18,235 per sqft
410        47 Lac4,352 per sqft
411      1.46 Cr11,111 per sqft
412      2.13 Cr11,807 per sqft
413         6 Cr17,964 per sqft
414        95 Lac5,476 per sqft
415         2 Cr11,989 per sqft
416       1.25 Cr7,872 per sqft
417       1.36 Cr8,774 per sqft
418        20 Lac5,333 per sqft
419      1.49 Cr11,920 per sqft
420       1.27 Cr7,427 per sqft
421        65 Lac6,842 per sqft
422        85 Lac9,361 per sqft
423      2.90 Cr14,464 per sqft
424        96 Lac8,149 per sqft
425       100 Lac6,305 per sqft
426       1.53 Cr7,000 per sqft
427      1.90 Cr11,664 per sqft
428      4.50 Cr17,308 per sqft
429        57 Lac4,726 per sqft
430      3.98 Cr10,904 per sqft
431      9.60 Cr20,000 per sqft
432        99 Lac7,952 per sqft
433      82.5 Lac9,627 per sqft
434        75 Lac7,184 per sqft
435      1.75 Cr10,938 per sqft
436         2 Cr13,793 per sqft
437                     1.15 Cr
438       1.30 Cr9,723 per sqft
439       1.32 Cr8,829 per sqft
440        47 Lac4,585 per sqft
441          3 Cr9,554 per sqft
442      2.75 Cr16,667 per sqft
443       1.20 Cr7,843 per sqft
444      66.8 Lac4,899 per sqft
445      1.80 Cr16,364 per sqft
446       1.05 Cr9,633 per sqft
447        95 Lac6,934 per sqft
448        95 Lac7,983 per sqft
449       96 Lac16,000 per sqft
450          2 Cr7,380 per sqft
451      2.70 Cr16,119 per sqft
452       1.35 Cr7,584 per sqft
453        72 Lac6,316 per sqft
454       1.52 Cr7,992 per sqft
455        50 Lac4,545 per sqft
456        55 Lac3,929 per sqft
457       1.03 Cr7,045 per sqft
458       1.50 Cr9,375 per sqft
459        59 Lac4,917 per sqft
460      1.45 Cr11,647 per sqft
461      3.50 Cr19,696 per sqft
462      4.50 Cr11,250 per sqft
463        52 Lac5,103 per sqft
464          1 Cr8,961 per sqft
465        85 Lac7,083 per sqft
466        42 Lac4,800 per sqft
467      1.10 Cr11,470 per sqft
468        31 Lac3,827 per sqft
469      1.08 Cr12,796 per sqft
470                    78.5 Lac
471      1.55 Cr11,071 per sqft
472       1.13 Cr9,378 per sqft
473      5.95 Cr19,833 per sqft
474        95 Lac7,724 per sqft
475      46.7 Lac4,061 per sqft
476       1.40 Cr8,610 per sqft
477       1.70 Cr9,561 per sqft
478      1.59 Cr36,977 per sqft
479      5.25 Cr13,985 per sqft
480        45 Lac3,750 per sqft
481        55 Lac5,189 per sqft
482       1.30 Cr7,222 per sqft
483      1.80 Cr12,000 per sqft
484        76 Lac7,600 per sqft
485      2.50 Cr12,821 per sqft
486       1.03 Cr6,959 per sqft
487        65 Lac7,254 per sqft
488      1.75 Cr10,294 per sqft
489      2.65 Cr10,000 per sqft
490      3.25 Cr19,578 per sqft
491        60 Lac6,795 per sqft
492          1 Cr9,091 per sqft
493       69 Lac11,405 per sqft
494       1.59 Cr7,231 per sqft
495        42 Lac3,621 per sqft
496       1.80 Cr8,955 per sqft
497        58 Lac6,010 per sqft
498      1.80 Cr14,504 per sqft
499      1.35 Cr12,724 per sqft
500                      53 Lac
501          1 Cr5,000 per sqft
502        60 Lac6,309 per sqft
503        65 Lac5,589 per sqft
504        70 Lac6,364 per sqft
505      47.5 Lac4,872 per sqft
506       1.65 Cr6,875 per sqft
507                     1.70 Cr
508      5.25 Cr17,701 per sqft
509       1.02 Cr9,290 per sqft
510       1.30 Cr8,997 per sqft
511      1.65 Cr13,750 per sqft
512         3 Cr15,113 per sqft
513        48 Lac4,364 per sqft
514        90 Lac7,335 per sqft
515                    49.5 Lac
516      3.30 Cr15,000 per sqft
517      2.50 Cr14,706 per sqft
518                     1.15 Cr
519       1.17 Cr7,200 per sqft
520        72 Lac9,057 per sqft
521          2 Cr8,475 per sqft
522      5.80 Cr16,890 per sqft
523      69.5 Lac8,742 per sqft
524        63 Lac5,806 per sqft
525         4 Cr33,333 per sqft
526      3.50 Cr17,100 per sqft
527       3.75 Cr7,500 per sqft
528        52 Lac4,952 per sqft
529      75.8 Lac5,750 per sqft
530        70 Lac6,542 per sqft
531      1.10 Cr10,300 per sqft
532       1.30 Cr7,222 per sqft
533        87 Lac9,265 per sqft
534       1.30 Cr5,417 per sqft
535        68 Lac6,154 per sqft
536      2.40 Cr13,714 per sqft
537       1.50 Cr9,091 per sqft
538       1.75 Cr9,904 per sqft
539        60 Lac5,602 per sqft
540        69 Lac4,233 per sqft
541       1.20 Cr8,889 per sqft
542        90 Lac6,475 per sqft
543        62 Lac5,232 per sqft
544       9.50 Cr9,173 per sqft
545        75 Lac5,859 per sqft
546       2.05 Cr4,457 per sqft
547        50 Lac5,000 per sqft
548        82 Lac7,257 per sqft
549      1.80 Cr12,857 per sqft
550       2.75 Cr4,297 per sqft
551        75 Lac4,545 per sqft
552      1.30 Cr12,037 per sqft
553       2.20 Cr4,889 per sqft
554      93.6 Lac8,500 per sqft
555        40 Lac4,000 per sqft
556        55 Lac6,471 per sqft
557        60 Lac6,000 per sqft
558       85 Lac19,495 per sqft
559       1.20 Cr8,386 per sqft
560      1.45 Cr11,600 per sqft
561      1.99 Cr16,893 per sqft
562          1 Cr6,667 per sqft
563       1.25 Cr9,259 per sqft
564       1.70 Cr8,995 per sqft
565        75 Lac5,068 per sqft
566        50 Lac5,263 per sqft
567      63.4 Lac5,762 per sqft
568       70 Lac11,570 per sqft
569       78 Lac13,000 per sqft
570      1.25 Cr10,870 per sqft
571       1.40 Cr8,537 per sqft
572       1.15 Cr9,583 per sqft
573      2.25 Cr13,393 per sqft
574       1.20 Cr3,429 per sqft
575        79 Lac5,830 per sqft
576        80 Lac5,634 per sqft
577        60 Lac4,545 per sqft
578         6 Cr18,750 per sqft
579                    75.4 Lac
580       1.35 Cr8,303 per sqft
581        90 Lac3,214 per sqft
582      2.70 Cr10,588 per sqft
583     53.5 Lac10,308 per sqft
584      1.20 Cr14,371 per sqft
585       1.55 Cr5,962 per sqft
586        89 Lac8,476 per sqft
587      68.2 Lac6,189 per sqft
588      1.50 Cr25,000 per sqft
589       1.80 Cr9,636 per sqft
590        76 Lac5,067 per sqft
591                     6.34 Cr
592        85 Lac5,790 per sqft
593      2.20 Cr11,796 per sqft
594        70 Lac5,833 per sqft
595       1.45 Cr8,286 per sqft
596       1.85 Cr2,846 per sqft
597      2.65 Cr14,690 per sqft
598        64 Lac4,706 per sqft
599        85 Lac6,287 per sqft
600        40 Lac3,731 per sqft
601         2 Cr10,091 per sqft
602        90 Lac6,818 per sqft
603        26 Lac5,098 per sqft
604        88 Lac8,544 per sqft
605       1.45 Cr7,838 per sqft
606        55 Lac4,603 per sqft
607        53 Lac4,206 per sqft
608          1 Cr6,897 per sqft
609        18 Lac3,913 per sqft
610        80 Lac6,400 per sqft
611        68 Lac5,113 per sqft
612      2.75 Cr13,600 per sqft
613      2.05 Cr16,028 per sqft
614                     1.90 Cr
615        90 Lac9,000 per sqft
616      1.30 Cr10,906 per sqft
617        35 Lac4,667 per sqft
618        90 Lac7,958 per sqft
619        27 Lac6,000 per sqft
620      1.75 Cr16,279 per sqft
621      29.4 Lac4,900 per sqft
622        65 Lac5,242 per sqft
623        75 Lac7,317 per sqft
624      4.50 Cr37,500 per sqft

# Extract Cr and Lac

In [29]:
def extract_values(value):
    matches = re.findall(r'(\d+(\.\d+)?\s*Cr|\d+(\.\d+)?\s*Lac)', value)
    return ', '.join([match[0] for match in matches])

In [30]:
price = df['price_sqft_price'].apply(extract_values)

In [31]:
price

0        2.25 Cr
1        2.13 Cr
2        1.37 Cr
3        1.62 Cr
4        3.93 Cr
5        2.10 Cr
6        1.60 Cr
7        1.92 Cr
8        1.60 Cr
9        1.60 Cr
10       2.25 Cr
11       5.50 Cr
12       2.03 Cr
13       2.11 Cr
14        98 Lac
15       1.89 Cr
16        93 Lac
17       2.10 Cr
18       2.20 Cr
19       3.20 Cr
20       1.35 Cr
21       1.75 Cr
22       2.15 Cr
23      38.7 Lac
24       2.99 Cr
25       1.99 Cr
26      48.4 Lac
27      54.2 Lac
28       3.15 Cr
29       2.10 Cr
30       2.30 Cr
31       1.36 Cr
32       1.38 Cr
33       2.48 Cr
34       2.10 Cr
35       1.38 Cr
36       1.55 Cr
37       1.36 Cr
38       2.35 Cr
39       3.50 Cr
40       1.60 Cr
41       1.80 Cr
42       2.20 Cr
43       2.69 Cr
44       1.67 Cr
45       2.79 Cr
46       2.25 Cr
47       2.90 Cr
48       1.13 Cr
49       1.21 Cr
50       1.97 Cr
51          2 Cr
52       2.15 Cr
53       1.29 Cr
54       1.30 Cr
55       2.80 Cr
56       1.41 Cr
57       2.55 Cr
58       2.08 Cr
59       2.40 Cr
60       1.36 Cr
61       1.32 Cr
62       1.36 Cr
63       1.10 Cr
64       1.60 Cr
65       1.30 Cr
66       1.59 Cr
67      93.2 Lac
68       1.53 Cr
69       1.12 Cr
70       2.39 Cr
71       1.75 Cr
72       1.74 Cr
73      97.5 Lac
74       1.69 Cr
75       1.71 Cr
76       2.55 Cr
77       1.13 Cr
78       1.55 Cr
79        78 Lac
80      77.4 Lac
81       1.54 Cr
82      53.4 Lac
83       1.40 Cr
84       1.35 Cr
85       2.20 Cr
86       1.60 Cr
87       1.26 Cr
88       2.80 Cr
89       2.03 Cr
90       1.06 Cr
91       1.26 Cr
92       1.77 Cr
93       1.20 Cr
94       1.14 Cr
95       1.59 Cr
96      64.4 Lac
97       1.56 Cr
98       1.30 Cr
99        84 Lac
100     88.7 Lac
101     77.8 Lac
102       43 Lac
103       42 Lac
104      2.24 Cr
105      1.45 Cr
106       99 Lac
107      1.73 Cr
108      1.06 Cr
109     72.3 Lac
110      1.26 Cr
111      1.07 Cr
112     82.1 Lac
113      2.20 Cr
114     82.5 Lac
115      1.15 Cr
116      2.85 Cr
117      1.46 Cr
118       73 Lac
119      2.58 Cr
120      1.84 Cr
121      2.70 Cr
122      1.60 Cr
123      2.75 Cr
124      1.31 Cr
125     49.6 Lac
126      1.53 Cr
127      1.09 Cr
128      1.10 Cr
129      1.21 Cr
130      1.68 Cr
131      1.84 Cr
132      1.52 Cr
133      1.19 Cr
134      1.11 Cr
135      2.92 Cr
136      6.50 Cr
137      1.20 Cr
138      2.45 Cr
139      3.45 Cr
140      2.54 Cr
141      3.29 Cr
142     81.5 Lac
143      1.74 Cr
144         2 Cr
145      3.30 Cr
146      2.30 Cr
147      1.57 Cr
148      1.69 Cr
149      1.52 Cr
150      2.30 Cr
151      1.12 Cr
152      2.58 Cr
153      2.70 Cr
154      5.74 Cr
155       71 Lac
156      1.10 Cr
157      1.28 Cr
158     87.3 Lac
159      1.80 Cr
160      2.15 Cr
161      2.50 Cr
162      2.50 Cr
163      1.45 Cr
164      2.80 Cr
165       83 Lac
166      1.75 Cr
167      1.23 Cr
168         1 Cr
169      2.20 Cr
170      1.89 Cr
171      2.62 Cr
172      2.27 Cr
173      1.14 Cr
174      8.13 Cr
175      5.50 Cr
176      1.22 Cr
177      3.10 Cr
178     40.6 Lac
179       73 Lac
180      1.80 Cr
181      1.36 Cr
182      1.30 Cr
183      1.26 Cr
184      1.26 Cr
185      1.30 Cr
186      2.30 Cr
187      2.80 Cr
188     57.2 Lac
189      1.90 Cr
190     72.6 Lac
191      2.30 Cr
192      1.20 Cr
193      1.50 Cr
194         3 Cr
195      1.64 Cr
196      2.30 Cr
197      4.50 Cr
198         1 Cr
199      7.50 Cr
200      6.30 Cr
201       35 Lac
202       73 Lac
203      1.83 Cr
204      1.60 Cr
205      8.55 Cr
206      1.19 Cr
207     53.8 Lac
208      5.07 Cr
209       49 Lac
210      1.12 Cr
211     80.9 Lac
212      2.34 Cr
213         2 Cr
214      3.50 Cr
215      4.50 Cr
216       92 Lac
217       68 Lac
218       52 Lac
219      2.65 Cr
220      1.40 Cr
221      1.65 Cr
222      1.30 Cr
223      1.19 Cr
224      1.36 Cr
225      2.40 Cr
226       74 Lac
227     53.1 Lac
228         6 Cr
229      4.79 Cr
230      2.80 Cr
231      1.70 Cr
232      4.75 Cr
233      1.91 Cr
234      1.94 Cr
235       77 Lac
236      2.84 Cr
237      3.60 Cr
238      1.55 Cr
239     98.9 Lac
240      2.50 Cr
241     75.7 Lac
242      6.20 Cr
243      2.05 Cr
244      1.18 Cr
245      2.85 Cr
246      4.42 Cr
247     59.3 Lac
248         8 Cr
249      2.26 Cr
250      2.90 Cr
251       86 Lac
252     94.9 Lac
253      3.95 Cr
254      1.45 Cr
255     83.6 Lac
256       60 Lac
257      1.10 Cr
258       99 Lac
259      1.25 Cr
260      1.90 Cr
261      2.70 Cr
262       70 Lac
263      6.20 Cr
264      2.58 Cr
265      2.59 Cr
266      1.80 Cr
267      1.30 Cr
268      1.56 Cr
269       92 Lac
270       75 Lac
271      2.65 Cr
272      2.50 Cr
273     13.65 Cr
274      1.07 Cr
275      4.75 Cr
276      1.25 Cr
277      1.10 Cr
278         3 Cr
279     58.3 Lac
280      5.50 Cr
281      3.10 Cr
282     74.8 Lac
283         7 Cr
284      1.85 Cr
285       75 Lac
286       34 Lac
287       70 Lac
288     98.5 Lac
289       54 Lac
290      4.15 Cr
291      1.80 Cr
292      1.08 Cr
293       53 Lac
294         4 Cr
295      1.60 Cr
296     77.6 Lac
297     65.2 Lac
298      1.40 Cr
299      1.30 Cr
300     18.90 Cr
301      5.50 Cr
302       59 Lac
303     28.5 Lac
304      1.05 Cr
305     35.8 Lac
306      1.15 Cr
307     92.8 Lac
308       85 Lac
309     65.4 Lac
310      1.80 Cr
311     86.5 Lac
312      1.24 Cr
313      1.99 Cr
314      1.20 Cr
315         2 Cr
316      2.70 Cr
317      2.12 Cr
318      4.50 Cr
319      1.51 Cr
320      7.10 Cr
321      1.11 Cr
322       60 Lac
323     92.2 Lac
324       79 Lac
325      4.30 Cr
326      2.80 Cr
327      7.88 Cr
328       88 Lac
329     74.5 Lac
330      9.50 Cr
331         5 Cr
332      1.12 Cr
333       98 Lac
334         6 Cr
335       90 Lac
336      7.50 Cr
337         7 Cr
338         5 Cr
339      1.85 Cr
340      1.10 Cr
341      1.29 Cr
342       78 Lac
343      1.04 Cr
344      1.75 Cr
345       88 Lac
346      3.70 Cr
347      1.10 Cr
348       53 Lac
349       65 Lac
350      1.50 Cr
351       51 Lac
352         3 Cr
353       55 Lac
354      1.12 Cr
355       75 Lac
356       75 Lac
357      1.15 Cr
358       60 Lac
359      6.25 Cr
360       95 Lac
361       70 Lac
362       81 Lac
363      7.50 Cr
364      1.50 Cr
365       55 Lac
366       46 Lac
367      1.03 Cr
368      1.70 Cr
369       35 Lac
370       95 Lac
371       64 Lac
372       68 Lac
373       75 Lac
374         3 Cr
375       68 Lac
376      1.40 Cr
377      1.20 Cr
378         1 Cr
379     58.5 Lac
380      1.43 Cr
381       80 Lac
382       90 Lac
383      1.10 Cr
384      1.15 Cr
385      4.80 Cr
386         5 Cr
387      2.05 Cr
388      2.50 Cr
389         5 Cr
390      7.75 Cr
391      3.70 Cr
392       85 Lac
393      1.90 Cr
394         3 Cr
395      2.15 Cr
396      6.10 Cr
397     99.4 Lac
398       95 Lac
399       38 Lac
400      2.75 Cr
401      1.35 Cr
402       75 Lac
403      1.42 Cr
404       55 Lac
405       95 Lac
406       86 Lac
407      1.62 Cr
408      2.32 Cr
409      6.20 Cr
410       47 Lac
411      1.46 Cr
412      2.13 Cr
413         6 Cr
414       95 Lac
415         2 Cr
416      1.25 Cr
417      1.36 Cr
418       20 Lac
419      1.49 Cr
420      1.27 Cr
421       65 Lac
422       85 Lac
423      2.90 Cr
424       96 Lac
425      100 Lac
426      1.53 Cr
427      1.90 Cr
428      4.50 Cr
429       57 Lac
430      3.98 Cr
431      9.60 Cr
432       99 Lac
433     82.5 Lac
434       75 Lac
435      1.75 Cr
436         2 Cr
437      1.15 Cr
438      1.30 Cr
439      1.32 Cr
440       47 Lac
441         3 Cr
442      2.75 Cr
443      1.20 Cr
444     66.8 Lac
445      1.80 Cr
446      1.05 Cr
447       95 Lac
448       95 Lac
449       96 Lac
450         2 Cr
451      2.70 Cr
452      1.35 Cr
453       72 Lac
454      1.52 Cr
455       50 Lac
456       55 Lac
457      1.03 Cr
458      1.50 Cr
459       59 Lac
460      1.45 Cr
461      3.50 Cr
462      4.50 Cr
463       52 Lac
464         1 Cr
465       85 Lac
466       42 Lac
467      1.10 Cr
468       31 Lac
469      1.08 Cr
470     78.5 Lac
471      1.55 Cr
472      1.13 Cr
473      5.95 Cr
474       95 Lac
475     46.7 Lac
476      1.40 Cr
477      1.70 Cr
478      1.59 Cr
479      5.25 Cr
480       45 Lac
481       55 Lac
482      1.30 Cr
483      1.80 Cr
484       76 Lac
485      2.50 Cr
486      1.03 Cr
487       65 Lac
488      1.75 Cr
489      2.65 Cr
490      3.25 Cr
491       60 Lac
492         1 Cr
493       69 Lac
494      1.59 Cr
495       42 Lac
496      1.80 Cr
497       58 Lac
498      1.80 Cr
499      1.35 Cr
500       53 Lac
501         1 Cr
502       60 Lac
503       65 Lac
504       70 Lac
505     47.5 Lac
506      1.65 Cr
507      1.70 Cr
508      5.25 Cr
509      1.02 Cr
510      1.30 Cr
511      1.65 Cr
512         3 Cr
513       48 Lac
514       90 Lac
515     49.5 Lac
516      3.30 Cr
517      2.50 Cr
518      1.15 Cr
519      1.17 Cr
520       72 Lac
521         2 Cr
522      5.80 Cr
523     69.5 Lac
524       63 Lac
525         4 Cr
526      3.50 Cr
527      3.75 Cr
528       52 Lac
529     75.8 Lac
530       70 Lac
531      1.10 Cr
532      1.30 Cr
533       87 Lac
534      1.30 Cr
535       68 Lac
536      2.40 Cr
537      1.50 Cr
538      1.75 Cr
539       60 Lac
540       69 Lac
541      1.20 Cr
542       90 Lac
543       62 Lac
544      9.50 Cr
545       75 Lac
546      2.05 Cr
547       50 Lac
548       82 Lac
549      1.80 Cr
550      2.75 Cr
551       75 Lac
552      1.30 Cr
553      2.20 Cr
554     93.6 Lac
555       40 Lac
556       55 Lac
557       60 Lac
558       85 Lac
559      1.20 Cr
560      1.45 Cr
561      1.99 Cr
562         1 Cr
563      1.25 Cr
564      1.70 Cr
565       75 Lac
566       50 Lac
567     63.4 Lac
568       70 Lac
569       78 Lac
570      1.25 Cr
571      1.40 Cr
572      1.15 Cr
573      2.25 Cr
574      1.20 Cr
575       79 Lac
576       80 Lac
577       60 Lac
578         6 Cr
579     75.4 Lac
580      1.35 Cr
581       90 Lac
582      2.70 Cr
583     53.5 Lac
584      1.20 Cr
585      1.55 Cr
586       89 Lac
587     68.2 Lac
588      1.50 Cr
589      1.80 Cr
590       76 Lac
591      6.34 Cr
592       85 Lac
593      2.20 Cr
594       70 Lac
595      1.45 Cr
596      1.85 Cr
597      2.65 Cr
598       64 Lac
599       85 Lac
600       40 Lac
601         2 Cr
602       90 Lac
603       26 Lac
604       88 Lac
605      1.45 Cr
606       55 Lac
607       53 Lac
608         1 Cr
609       18 Lac
610       80 Lac
611       68 Lac
612      2.75 Cr
613      2.05 Cr
614      1.90 Cr
615       90 Lac
616      1.30 Cr
617       35 Lac
618       90 Lac
619       27 Lac
620      1.75 Cr
621     29.4 Lac
622       65 Lac
623       75 Lac
624      4.50 Cr
625       33 Lac
626       37 Lac
627       50 Lac
628       97 Lac
629       37 Lac
630      1.70 Cr
631         1 Cr
632       90 Lac
633       90 Lac
634       68 Lac
635       80 Lac
636       57 Lac
637      1.20 Cr
638       75 Lac
639       94 Lac
640       99 Lac
641     74.1 Lac
642     68.2 Lac
643     73.4 Lac
644      1.20 Cr
645       42 Lac
646       90 Lac
647       75 Lac
648       86 Lac
649       20 Lac
650      2.50 Cr
651      2.60 Cr
652       90 Lac
653       95 Lac
654      1.15 Cr
655      2.50 Cr
656      2.30 Cr
657     10.50 Cr
658       85 Lac
659      6.50 Cr
660      1.25 Cr
661      1.90 Cr
662     58.8 Lac
663         3 Cr
664      1.85 Cr
665         2 Cr
666     72.5 Lac
667       68 Lac
668      1.35 Cr
669         2 Cr
670      2.10 Cr
671       80 Lac
672      3.50 Cr
673         2 Cr
674         8 Cr
675       54 Lac
676       67 Lac
677       60 Lac
678       45 Lac
679         1 Cr
680       85 Lac
681      1.19 Cr
682      3.60 Cr
683      4.20 Cr
684      6.89 Cr
685       93 Lac
686       90 Lac
687      3.95 Cr
688       70 Lac
689         3 Cr
690         5 Cr
691      1.20 Cr
692         1 Cr
693      1.25 Cr
694        13 Cr
695      2.60 Cr
696      3.30 Cr
697      1.60 Cr
698      1.05 Cr
699       75 Lac
700       72 Lac
701      3.65 Cr
702       70 Lac
703       58 Lac
704       85 Lac
705      1.50 Cr
706      1.70 Cr
707      4.10 Cr
708       44 Lac
709         6 Cr
710      1.70 Cr
711      2.15 Cr
712      1.30 Cr
713      1.70 Cr
714      1.15 Cr
715       95 Lac
716      2.60 Cr
717      1.30 Cr
718      1.30 Cr
719      1.08 Cr
720       60 Lac
721      1.40 Cr
722       62 Lac
723      1.08 Cr
724      1.08 Cr
725      1.50 Cr
726       68 Lac
727       62 Lac
728         1 Cr
729         1 Cr
730       75 Lac
731      1.40 Cr
732         7 Cr
733      2.50 Cr
734      1.05 Cr
735         5 Cr
736      1.62 Cr
737      1.20 Cr
738       65 Lac
739      1.09 Cr
740      3.70 Cr
741       51 Lac
742      2.40 Cr
743      1.08 Cr
744       66 Lac
745      2.50 Cr
746      2.62 Cr
747      1.31 Cr
748      1.65 Cr
749      2.50 Cr
750      3.33 Cr
751        14 Cr
752       79 Lac
753       55 Lac
754     99.3 Lac
755      1.18 Cr
756      2.76 Cr
757       78 Lac
758      2.39 Cr
759      1.58 Cr
760      1.20 Cr
761      1.55 Cr
762      1.80 Cr
763         1 Cr
764      1.45 Cr
765      1.10 Cr
766      1.20 Cr
767       60 Lac
768      2.75 Cr
769      1.20 Cr
770      2.10 Cr
771      1.96 Cr
772      1.05 Cr
773      1.80 Cr
774      1.40 Cr
775      4.10 Cr
776      1.80 Cr
777      1.01 Cr
778       95 Lac
779      1.35 Cr
780       67 Lac
781      4.62 Cr
782      1.10 Cr
783      1.88 Cr
784         2 Cr
785         3 Cr
786         3 Cr
787      1.55 Cr
788      3.95 Cr
789      1.10 Cr
790      1.85 Cr
791      2.50 Cr
792      3.50 Cr
793       50 Lac
794      1.20 Cr
795       45 Lac
796      1.70 Cr
797      2.20 Cr
798      1.20 Cr
799       64 Lac
800      1.25 Cr
801      1.10 Cr
802       55 Lac
803      1.10 Cr
804       85 Lac
805         1 Cr
806      1.75 Cr
807       56 Lac
808      2.50 Cr
809       45 Lac
810      4.32 Cr
811      1.60 Cr
812       60 Lac
813      1.80 Cr
814       50 Lac
815      1.20 Cr
816      2.15 Cr
817      1.40 Cr
818       60 Lac
819      3.45 Cr
820         5 Cr
821         4 Cr
822      1.80 Cr
823      1.15 Cr
824       50 Lac
825      1.15 Cr
826       49 Lac
827      1.50 Cr
828      1.15 Cr
829      1.60 Cr
830      2.50 Cr
831      1.10 Cr
832       99 Lac
833       45 Lac
834       70 Lac
835      1.40 Cr
836       50 Lac
837       45 Lac
838      3.45 Cr
839       85 Lac
840      1.85 Cr
841      1.40 Cr
842      1.30 Cr
843      1.25 Cr
844      1.75 Cr
845      3.25 Cr
846      2.20 Cr
847      2.75 Cr
848       50 Lac
849      1.25 Cr
850      1.85 Cr
851      1.60 Cr
852      1.50 Cr
853      1.10 Cr
854      2.60 Cr
855      2.70 Cr
856      1.80 Cr
857      3.10 Cr
858      1.35 Cr
859      1.35 Cr
860       60 Lac
861      1.52 Cr
862      2.30 Cr
863      2.20 Cr
864         3 Cr
865       95 Lac
866      1.10 Cr
867       97 Lac
868       26 Lac
869         1 Cr
870         1 Cr
871      1.20 Cr
872         2 Cr
873      1.25 Cr
874       51 Lac
875       40 Lac
876       75 Lac
877      1.50 Cr
878         5 Cr
879       70 Lac
880      1.60 Cr
881       65 Lac
882       74 Lac
883      3.24 Cr
884      1.85 Cr
885      1.05 Cr
886         1 Cr
887         4 Cr
888      3.20 Cr
889      1.60 Cr
890         3 Cr
891         3 Cr
892       70 Lac
893       45 Lac
894      1.20 Cr
895      1.65 Cr
896         2 Cr
897       72 Lac
898      2.30 Cr
899       59 Lac
900       85 Lac
901      1.29 Cr
902      2.85 Cr
903       75 Lac
904       32 Lac
905      1.20 Cr
906         2 Cr
907      1.65 Cr
908      1.10 Cr
909         1 Cr
910       42 Lac
911      9.40 Cr
912       60 Lac
913      1.57 Cr
914      3.50 Cr
915       95 Lac
916       89 Lac
917      1.40 Cr
918       99 Lac
919         5 Cr
920       60 Lac
921      1.01 Cr
922      9.50 Cr
923      2.50 Cr
924      1.15 Cr
925      1.40 Cr
926       51 Lac
927       59 Lac
928      2.40 Cr
929      1.60 Cr
930      2.25 Cr
931      1.07 Cr
932      1.50 Cr
933      1.13 Cr
934       47 Lac
935       45 Lac
936      1.09 Cr
937      3.50 Cr
938      1.10 Cr
939      1.35 Cr
940       57 Lac
941      1.05 Cr
942      7.59 Cr
943      1.10 Cr
944      2.40 Cr
945       40 Lac
946       85 Lac
947      2.50 Cr
948       40 Lac
949       60 Lac
950       75 Lac
951      1.10 Cr
952       75 Lac
953       90 Lac
954      1.09 Cr
955      1.37 Cr
956       53 Lac
957       55 Lac
958      1.35 Cr
959      1.60 Cr
960      1.45 Cr
961       55 Lac
962      1.65 Cr
963      1.39 Cr
964       63 Lac
965      1.13 Cr
966      1.36 Cr
967     73.5 Lac
968       95 Lac
969      1.20 Cr
970      1.05 Cr
971      1.20 Cr
972       90 Lac
973      1.25 Cr
974       95 Lac
975       47 Lac
976      1.28 Cr
977       55 Lac
978       78 Lac
979      1.08 Cr
980      1.08 Cr
981      1.06 Cr
982       70 Lac
983      1.83 Cr
984      3.40 Cr
985      1.10 Cr
986      1.54 Cr
987         4 Cr
988         5 Cr
989       78 Lac
990       67 Lac
991       57 Lac
992      1.80 Cr
993       98 Lac
994      5.20 Cr
995      2.90 Cr
996       95 Lac
997      7.88 Cr
998      1.40 Cr
999       87 Lac
1000     1.80 Cr
1001     1.30 Cr
1002     1.35 Cr
1003     6.95 Cr
1004     3.25 Cr
1005      65 Lac
1006        3 Cr
1007      68 Lac
1008        1 Cr
1009      87 Lac
1010      42 Lac
1011     1.50 Cr
1012     1.20 Cr
1013     1.30 Cr
1014    42.5 Lac
1015     1.05 Cr
1016     2.99 Cr
1017     2.10 Cr
1018      45 Lac
1019     1.20 Cr
1020     1.10 Cr
1021     2.95 Cr
1022     1.95 Cr
1023     2.70 Cr
1024      68 Lac
1025      65 Lac
1026      55 Lac
1027     1.50 Cr
1028    68.2 Lac
1029        3 Cr
1030      75 Lac
1031     4.50 Cr
1032     1.50 Cr
1033     2.11 Cr
1034     1.10 Cr
1035        2 Cr
1036     4.15 Cr
1037     1.25 Cr
1038     1.60 Cr
1039     1.50 Cr
1040     1.25 Cr
1041        2 Cr
1042     4.30 Cr
1043      86 Lac
1044     1.03 Cr
1045     2.25 Cr
1046     3.07 Cr
1047      45 Lac
1048     2.60 Cr
1049        3 Cr
1050     2.50 Cr
1051     5.99 Cr
1052     1.50 Cr
1053     1.03 Cr
1054      55 Lac
1055     1.30 Cr
1056      50 Lac
1057     1.50 Cr
1058     1.30 Cr
1059     1.60 Cr
1060      36 Lac
1061      50 Lac
1062      75 Lac
1063      55 Lac
1064     1.10 Cr
1065     2.20 Cr
1066     1.18 Cr
1067      60 Lac
1068     1.05 Cr
1069     1.70 Cr
1070     1.90 Cr
1071     1.03 Cr
1072     1.30 Cr
1073     1.55 Cr
1074      43 Lac
1075     1.20 Cr
1076     2.70 Cr
1077     1.85 Cr
1078      42 Lac
1079      90 Lac
1080      90 Lac
1081        3 Cr
1082      95 Lac
1083     2.30 Cr
1084     1.50 Cr
1085      60 Lac
1086     1.50 Cr
1087     1.50 Cr
1088     1.10 Cr
1089    79.5 Lac
1090     1.75 Cr
1091     2.95 Cr
1092     4.40 Cr
1093     1.18 Cr
1094     1.30 Cr
1095      68 Lac
1096      85 Lac
1097      30 Lac
1098      80 Lac
1099      70 Lac
1100     1.40 Cr
1101     2.10 Cr
1102     1.25 Cr
1103     1.20 Cr
1104     1.60 Cr
1105     1.75 Cr
1106      58 Lac
1107     2.50 Cr
1108     2.70 Cr
1109     1.20 Cr
1110     1.90 Cr
1111        1 Cr
1112     2.45 Cr
1113     2.30 Cr
1114      22 Lac
1115      56 Lac
1116      70 Lac
1117      70 Lac
1118     1.45 Cr
1119      50 Lac
1120      43 Lac
1121     1.25 Cr
1122     2.30 Cr
1123     1.25 Cr
1124      85 Lac
1125     3.10 Cr
1126      65 Lac
1127     1.50 Cr
1128      60 Lac
1129       10 Cr
1130      55 Lac
1131     1.10 Cr
1132      52 Lac
1133     1.45 Cr
1134     3.20 Cr
1135     2.24 Cr
1136      60 Lac
1137     1.10 Cr
1138      72 Lac
1139     1.74 Cr
1140     2.50 Cr
1141     1.50 Cr
1142     1.35 Cr
1143      45 Lac
1144     1.40 Cr
1145     2.70 Cr
1146     1.90 Cr
1147     1.50 Cr
1148      55 Lac
1149     1.25 Cr
1150        1 Cr
1151     3.25 Cr
1152      60 Lac
1153     1.30 Cr
1154     6.75 Cr
1155        5 Cr
1156      90 Lac
1157      35 Lac
1158      65 Lac
1159      58 Lac
1160        5 Cr
1161        2 Cr
1162     1.20 Cr
1163      50 Lac
1164     1.10 Cr
1165     1.10 Cr
1166      60 Lac
1167        1 Cr
1168     1.30 Cr
1169        1 Cr
1170     1.15 Cr
1171     1.20 Cr
1172      72 Lac
1173     1.30 Cr
1174      49 Lac
1175      62 Lac

In [32]:
df.insert(loc=5,column='price',value=price)

In [33]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_in_CR,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25 Cr,2.25,1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13 Cr,2.13,NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37 Cr,1.37,NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62 Cr,1.62,1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93 Cr,3.93,1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [34]:
df.drop(['price_in_CR'], axis=1, inplace=True)

In [35]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25 Cr,1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13 Cr,NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37 Cr,NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62 Cr,1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93 Cr,1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [36]:
df.insert(loc=6,column='price_persqft',value=price_persqft)

In [37]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25 Cr,13966,1400 sqft,NAN,NAN,14 out of 17,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13 Cr,12909,NAN,1650 sqft,NAN,11 out of 18,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37 Cr,9648,NAN,1420 sqft,NAN,8 out of 14,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62 Cr,11000,1134 sqft,NAN,NAN,5 out of 13,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93 Cr,15023,1920 sqft,NAN,NAN,20 out of 24,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [38]:
df['price'] = df['price'].str.replace('Cr','').str.strip()

In [39]:
df_temp = df[df['price'].str.contains('Lac')]

In [40]:
df_temp['price'] = df_temp['price'].str.replace('Lac','').astype(float)/100

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3906335581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['price'] = df_temp['price'].str.replace('Lac','').astype(float)/100

In [41]:
index = df_temp['Unnamed: 0']

In [42]:
df.iloc[index] = df_temp

In [43]:
floor = df['Floor'].str.split(' ').str.get(0).str.replace('Ground','0')

In [44]:
df.insert(loc=11,column='floor',value=floor)

In [45]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966,1400 sqft,NAN,NAN,14 out of 17,14,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909,NAN,1650 sqft,NAN,11 out of 18,11,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648,NAN,1420 sqft,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000,1134 sqft,NAN,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023,1920 sqft,NAN,NAN,20 out of 24,20,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [46]:
df['SuperArea'] = df['SuperArea'].str.replace(' sqft','').str.strip()
df['SuperArea'] = df['SuperArea'].str.replace('sqft','').str.strip()

In [47]:
superArea = []

In [48]:
temp_df = df[df['price_persqft']=='']

In [49]:
temp_df['price_persqft'] = np.nan

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\4006234932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['price_persqft'] = np.nan

In [50]:
index = temp_df['Unnamed: 0']

In [51]:
df.iloc[index] = temp_df

In [52]:
round(df['price'].astype(float)*(10**7)/df['price_persqft'].astype(float))

0        1611.0
1        1650.0
2        1420.0
3        1473.0
4        2616.0
5        1682.0
6        1590.0
7        1950.0
8        1594.0
9        1606.0
10       1788.0
11       3543.0
12       1611.0
13       1611.0
14       1180.0
15       1630.0
16        920.0
17       1632.0
18       1611.0
19       2333.0
20       1420.0
21       1950.0
22       1611.0
23        968.0
24       2300.0
25       1650.0
26        880.0
27        985.0
28       2614.0
29       1600.0
30       1611.0
31       1430.0
32       1655.0
33       1811.0
34       1915.0
35       1430.0
36       1455.0
37       1345.0
38       1600.0
39       2900.0
40       1600.0
41       1430.0
42       1611.0
43       1915.0
44       1675.0
45       2202.0
46       1611.0
47       1820.0
48       1190.0
49       1197.0
50       1682.0
51       1650.0
52       1628.0
53       1342.0
54       1346.0
55       1960.0
56       1675.0
57       1915.0
58       1857.0
59       1611.0
60       1295.0
61       1300.0
62       1348.0
63        661.0
64       1680.0
65       1181.0
66       1710.0
67        699.0
68       1455.0
69       1192.0
70       1265.0
71       1578.0
72       1472.0
73       1945.0
74       1578.0
75       1670.0
76       1967.0
77       1090.0
78       2176.0
79        988.0
80        715.0
81       1898.0
82       1068.0
83       1313.0
84       1300.0
85       1915.0
86       1680.0
87       1344.0
88       2015.0
89       1915.0
90       1334.0
91       1333.0
92       1863.0
93       1170.0
94       1239.0
95       1399.0
96        716.0
97       1819.0
98          NaN
99       1445.0
100      1016.0
101      1180.0
102         NaN
103       500.0
104      2133.0
105      1625.0
106      1450.0
107      1811.0
108      1472.0
109      1166.0
110      1485.0
111      1070.0
112      1190.0
113      1847.0
114      1244.0
115      1315.0
116      2799.0
117      1587.0
118      1066.0
119      1612.0
120      1736.0
121      2490.0
122      1680.0
123      1962.0
124      1248.0
125      1240.0
126      1606.0
127      1369.0
128      1000.0
129      1345.0
130      2471.0
131      1600.0
132      1937.0
133      1253.0
134      1281.0
135      3476.0
136      2160.0
137      1186.0
138      1914.0
139      2481.0
140      1814.0
141      2616.0
142       660.0
143      1600.0
144      1432.0
145      2616.0
146      1611.0
147      1496.0
148      1434.0
149      1590.0
150      1650.0
151      1180.0
152      1915.0
153      1915.0
154         NaN
155       921.0
156      1200.0
157      1345.0
158       970.0
159      1990.0
160      1423.0
161      1915.0
162      1818.0
163      2127.0
164      2015.0
165       959.0
166      1748.0
167      1432.0
168      1035.0
169      2802.0
170      1890.0
171      2799.0
172      3128.0
173      1281.0
174      3497.0
175      1902.0
176      1579.0
177      2230.0
178      1015.0
179       607.0
180      1899.0
181      1300.0
182      1350.0
183      1346.0
184      1345.0
185      1350.0
186      1645.0
187      2400.0
188      1380.0
189      2000.0
190      1274.0
191      1611.0
192      1321.0
193      1275.0
194      1645.0
195      1648.0
196      1985.0
197      2753.0
198      1183.0
199      4225.0
200      2400.0
201       708.0
202       770.0
203      1967.0
204      1868.0
205      5679.0
206      1190.0
207      1151.0
208      4100.0
209      1147.0
210      1349.0
211      1103.0
212      1664.0
213      1454.0
214      2100.0
215      3545.0
216      1028.0
217      1150.0
218      1250.0
219      2305.0
220      1850.0
221      1740.0
222      1458.0
223      1240.0
224      1596.0
225      2100.0
226      1010.0
227      1106.0
228      4100.0
229      2753.0
230      2200.0
231      1940.0
232      2542.0
233      1504.0
234      2037.0
235      1300.0
236      2147.0
237      2628.0
238      1425.0
239      1374.0
240      2400.0
241      1326.0
242      2150.0
243      1949.0
244      1131.0
245      1804.0
246      3181.0
247      1119.0
248      4287.0
249      2486.0
250      1685.0
251      1089.0
252      1261.0
253      2460.0
254      1429.0
255      1177.0
256       744.0
257      1593.0
258      1382.0
259      1334.0
260      1650.0
261      2465.0
262       838.0
263      4100.0
264      2628.0
265      1850.0
266      1948.0
267      1197.0
268      1705.0
269      1510.0
270       831.0
271      1960.0
272      2026.0
273      6300.0
274      1189.0
275      2753.0
276      2047.0
277      1648.0
278      1804.0
279      1100.0
280      3025.0
281      2215.0
282      1151.0
283      4430.0
284      1500.0
285      1150.0
286       800.0
287       605.0
288      1350.0
289      1380.0
290      2750.0
291      2400.0
292      1210.0
293      1125.0
294      2800.0
295      1100.0
296      1300.0
297      1304.0
298      1200.0
299      1590.0
300      7800.0
301      4872.0
302         NaN
303      1100.0
304      1397.0
305       974.0
306      1281.0
307      1428.0
308       995.0
309      1031.0
310      1640.0
311      1331.0
312      1378.0
313      1313.0
314         NaN
315      1865.0
316      2409.0
317      1514.0
318      3420.0
319      2019.0
320      4100.0
321      1239.0
322      1100.0
323      1720.0
324      1059.0
325      2753.0
326      1200.0
327      2678.0
328      1275.0
329      1415.0
330      5600.0
331      2400.0
332      1528.0
333      1689.0
334      2400.0
335      1300.0
336         NaN
337      2678.0
338      3585.0
339      1920.0
340      1445.0
341      1405.0
342      1105.0
343         NaN
344      1949.0
345      1314.0
346      4100.0
347      1200.0
348      1150.0
349      1130.0
350      1450.0
351      1150.0
352      1945.0
353      1100.0
354      1168.0
355      1150.0
356      1180.0
357         NaN
358      1365.0
359      4044.0
360      1054.0
361      1400.0
362      1359.0
363      2400.0
364      1210.0
365       885.0
366      1060.0
367       981.0
368      2027.0
369       605.0
370      1280.0
371      1188.0
372      1128.0
373      1532.0
374      2200.0
375      1140.0
376      1499.0
377         NaN
378      1300.0
379       650.0
380      1548.0
381         NaN
382         NaN
383       944.0
384      1191.0
385      3221.0
386      7000.0
387      2002.0
388      1868.0
389      3585.0
390      6000.0
391      3000.0
392      1220.0
393      1650.0
394      2494.0
395      1875.0
396      4111.0
397      1498.0
398      1700.0
399       835.0
400      1595.0
401      1098.0
402       900.0
403      1789.0
404       920.0
405       900.0
406      1450.0
407      1764.0
408      2300.0
409      3400.0
410      1080.0
411      1314.0
412      1804.0
413      3340.0
414      1735.0
415      1668.0
416      1588.0
417      1550.0
418       375.0
419      1250.0
420      1710.0
421       950.0
422       908.0
423      2005.0
424      1178.0
425      1586.0
426      2186.0
427      1629.0
428      2600.0
429      1206.0
430      3650.0
431      4800.0
432      1245.0
433       857.0
434      1044.0
435      1600.0
436      1450.0
437         NaN
438      1337.0
439      1495.0
440      1025.0
441      3140.0
442      1650.0
443      1530.0
444      1364.0
445      1100.0
446      1090.0
447      1370.0
448      1190.0
449       600.0
450      2710.0
451      1675.0
452      1780.0
453      1140.0
454      1902.0
455      1100.0
456      1400.0
457      1462.0
458      1600.0
459      1200.0
460      1245.0
461      1777.0
462      4000.0
463      1019.0
464      1116.0
465      1200.0
466       875.0
467       959.0
468       810.0
469       844.0
470         NaN
471      1400.0
472      1205.0
473      3000.0
474      1230.0
475      1150.0
476      1626.0
477      1778.0
478       430.0
479      3754.0
480      1200.0
481      1060.0
482      1800.0
483      1500.0
484      1000.0
485      1950.0
486      1480.0
487       896.0
488      1700.0
489      2650.0
490      1660.0
491       883.0
492      1100.0
493       605.0
494      2199.0
495      1160.0
496      2010.0
497       965.0
498      1241.0
499      1061.0
500         NaN
501      2000.0
502       951.0
503      1163.0
504      1100.0
505       975.0
506      2400.0
507         NaN
508      2966.0
509      1098.0
510      1445.0
511      1200.0
512      1985.0
513      1100.0
514      1227.0
515         NaN
516      2200.0
517      1700.0
518         NaN
519      1625.0
520       795.0
521      2360.0
522      3434.0
523       795.0
524      1085.0
525      1200.0
526      2047.0
527      5000.0
528      1050.0
529      1318.0
530      1070.0
531      1068.0
532      1800.0
533       939.0
534      2400.0
535      1105.0
536      1750.0
537      1650.0
538      1767.0
539      1071.0
540      1630.0
541      1350.0
542      1390.0
543      1185.0
544     10356.0
545      1280.0
546      4600.0
547      1000.0
548      1130.0
549      1400.0
550      6400.0
551      1650.0
552      1080.0
553      4500.0
554      1101.0
555      1000.0
556       850.0
557      1000.0
558       436.0
559      1431.0
560      1250.0
561      1178.0
562      1500.0
563      1350.0
564      1890.0
565      1480.0
566       950.0
567      1100.0
568       605.0
569       600.0
570      1150.0
571      1640.0
572      1200.0
573      1680.0
574      3500.0
575      1355.0
576      1420.0
577      1320.0
578      3200.0
579         NaN
580      1626.0
581      2800.0
582      2550.0
583       519.0
584       835.0
585      2600.0
586      1050.0
587      1102.0
588       600.0
589      1868.0
590      1500.0
591         NaN
592      1468.0
593      1865.0
594      1200.0
595      1750.0
596      6500.0
597      1804.0
598      1360.0
599      1352.0
600      1072.0
601      1982.0
602      1320.0
603       510.0
604      1030.0
605      1850.0
606      1195.0
607      1260.0
608      1450.0
609       460.0
610      1250.0
611      1330.0
612      2022.0
613      1279.0
614         NaN
615      1000.0
616      1192.0
617       750.0
618      1131.0
619       450.0
620      1075.0
621       600.0
622      1240.0
623      1025.0
624      1200.0
625       970.0
626       950.0
627      1225.0
628      1450.0
629       900.0
630      1387.0
631       620.0
632      1250.0
633      1154.0
634       650.0
635       905.0
636      1170.0
637      1000.0
638      1000.0
639      1436.0
640      1230.0
641      1398.0
642      1105.0
643      1540.0
644      1647.0
645         NaN
646      1000.0
647         NaN
648      1278.0
649       550.0
650      1200.0
651      4000.0
652      1680.0
653      1189.0
654      1215.0
655      1950.0
656      3500.0
657      4370.0
658      1526.0
659      4044.0
660      1600.0
661         NaN
662      1120.0
663      2122.0
664      2200.0
665      1629.0
666      1000.0
667      1102.0
668      1850.0
669      3200.0
670      2674.0
671      1099.0
672      1500.0
673      2100.0
674     10000.0
675      1200.0
676       888.0
677      1050.0
678       700.0
679      1225.0
680      1850.0
681      1197.0
682      2200.0
683      2900.0
684      4084.0
685      1050.0
686      2000.0
687      4851.0
688      1090.0
689      3100.0
690      4448.0
691      1490.0
692      1275.0
693      1200.0
694     12000.0
695      1999.0
696      1640.0
697      1180.0
698      1800.0
699         NaN
700      1150.0
701      4300.0
702       965.0
703      1110.0
704       730.0
705      1790.0
706      1417.0
707      2300.0
708       828.0
709         NaN
710      1300.0
711      1630.0
712      1085.0
713      1200.0
714         NaN
715      1092.0
716      2990.0
717      1243.0
718         NaN
719      1206.0
720      1205.0
721      4000.0
722       850.0
723      1208.0
724      1208.0
725      1595.0
726      1140.0
727         NaN
728       750.0
729      1200.0
730      2400.0
731      1560.0
732      2000.0
733      2100.0
734      1420.0
735      1680.0
736      1680.0
737      1300.0
738      1060.0
739      1336.0
740      1900.0
741      1200.0
742      2200.0
743      1295.0
744         NaN
745      1680.0
746      1200.0
747         NaN
748         NaN
749      2500.0
750      2400.0
751      3250.0
752       904.0
753      1200.0
754      1360.0
755      1445.0
756      2120.0
757      1010.0
758      2060.0
759      1500.0
760      1081.0
761      2200.0
762      1080.0
763      1300.0
764      2400.0
765      1124.0
766      1600.0
767      1070.0
768      2615.0
769      1663.0
770      1800.0
771      1200.0
772      1160.0
773      1200.0
774      1410.0
775      2365.0
776      1350.0
777      1351.0
778      1500.0
779      1670.0
780      1160.0
781      1991.0
782      1250.0
783      1831.0
784      2605.0
785      1500.0
786      2380.0
787      2000.0
788      7500.0
789         NaN
790      1994.0
791      2400.0
792      1700.0
793      1007.0
794      1600.0
795       950.0
796      2000.0
797      1360.0
798      3300.0
799      1360.0
800      1575.0
801      1100.0
802       986.0
803         NaN
804      1200.0
805       855.0
806      1850.0
807      1300.0
808      3000.0
809       729.0
810      2400.0
811      1425.0
812       700.0
813      1800.0
814      1197.0
815      2200.0
816      1800.0
817      1240.0
818       975.0
819      2075.0
820     14002.0
821      1200.0
822      2570.0
823      2000.0
824      1300.0
825      1180.0
826      1050.0
827       873.0
828      1487.0
829         NaN
830      1960.0
831      1363.0
832      1700.0
833       754.0
834       970.0
835      2400.0
836       814.0
837       960.0
838      1150.0
839       900.0
840      4000.0
841       700.0
842      1650.0
843      1500.0
844      1850.0
845      2400.0
846         NaN
847       660.0
848      1200.0
849      1350.0
850      1625.0
851      1420.0
852      1250.0
853      1200.0
854      1375.0
855      2100.0
856      1280.0
857      5400.0
858      1711.0
859      2040.0
860      1100.0
861      1760.0
862      1876.0
863      1100.0
864      2130.0
865      1100.0
866      1250.0
867      1420.0
868       549.0
869      1700.0
870      1664.0
871       960.0
872      2270.0
873      1470.0
874       690.0
875       925.0
876      1570.0
877      2220.0
878      6500.0
879      1390.0
880      1689.0
881      1187.0
882      1200.0
883      1800.0
884      1200.0
885      1000.0
886       850.0
887      1900.0
888      1800.0
889      1535.0
890      2400.0
891      2000.0
892      1070.0
893       733.0
894      1658.0
895      1431.0
896      1960.0
897      1438.0
898      1300.0
899         NaN
900      1100.0
901      1518.0
902      2567.0
903      1100.0
904       710.0
905      1053.0
906      1320.0
907      1918.0
908       270.0
909       750.0
910       729.0
911      4170.0
912       800.0
913      1627.0
914      2300.0
915      1276.0
916      1374.0
917      3150.0
918      1350.0
919      3571.0
920      1150.0
921      1300.0
922      5389.0
923      2350.0
924      1800.0
925      1685.0
926      1109.0
927      1080.0
928      2200.0
929      1298.0
930      1925.0
931      1230.0
932      1408.0
933      1208.0
934      1089.0
935       953.0
936      1331.0
937      2300.0
938      1400.0
939      1650.0
940       878.0
941      1387.0
942      4500.0
943      1100.0
944      2105.0
945       930.0
946      1350.0
947      1983.0
948       745.0
949      1500.0
950         NaN
951      1685.0
952      1200.0
953      1480.0
954      1332.0
955      2293.0
956      1000.0
957         NaN
958      1207.0
959      3000.0
960      1350.0
961      1120.0
962      1473.0
963      2600.0
964      1100.0
965      1284.0
966      1200.0
967      1134.0
968      1210.0
969      2150.0
970       970.0
971      2150.0
972      1092.0
973       800.0
974      1600.0
975       952.0
976      1740.0
977       510.0
978      1450.0
979      1204.0
980      1200.0
981      1334.0
982      1100.0
983      1661.0
984      6000.0
985      1377.0
986      1222.0
987      2302.0
988      5400.0
989      1740.0
990      1245.0
991      1060.0
992      1650.0
993      1058.0
994      3200.0
995      2150.0
996         NaN
997      2678.0
998      1250.0
999      1650.0
1000     1230.0
1001      970.0
1002        NaN
1003     3800.0
1004     1890.0
1005      700.0
1006     2400.0
1007      850.0
1008     1250.0
1009     1340.0
1010     1188.0
1011     1350.0
1012        NaN
1013     1200.0
1014     1200.0
1015     1200.0
1016     4000.0
1017     3300.0
1018      900.0
1019     1570.0
1020     2400.0
1021     2290.0
1022     1900.0
1023     3000.0
1024      850.0
1025     1295.0
1026        NaN
1027     1650.0
1028     1105.0
1029        NaN
1030     1540.0
1031     1050.0
1032     4500.0
1033     2700.0
1034     1130.0
1035     4000.0
1036        NaN
1037     1350.0
1038     1680.0
1039     2150.0
1040     1300.0
1041     2107.0
1042     2753.0
1043     1225.0
1044     1241.0
1045        NaN
1046     2047.0
1047        NaN
1048     2400.0
1049     1935.0
1050     1850.0
1051     4281.0
1052     1277.0
1053     1575.0
1054      800.0
1055     1601.0
1056     1200.0
1057     1240.0
1058     1230.0
1059     1250.0
1060      680.0
1061     1050.0
1062     1010.0
1063      825.0
1064     1663.0
1065     1865.0
1066     1130.0
1067     1100.0
1068     1450.0
1069     2200.0
1070     2500.0
1071     1635.0
1072     1158.0
1073     1800.0
1074      790.0
1075      930.0
1076     2215.0
1077     1607.0
1078     1200.0
1079     1142.0
1080     1142.0
1081     2400.0
1082     1400.0
1083     1490.0
1084     1048.0
1085     1075.0
1086     1800.0
1087     1350.0
1088     1318.0
1089     1350.0
1090     1660.0
1091     1925.0
1092     5200.0
1093     1665.0
1094     1813.0
1095     1105.0
1096     1131.0
1097      750.0
1098     1065.0
1099     1170.0
1100     1500.0
1101     2080.0
1102     1810.0
1103     1080.0
1104     1298.0
1105     1500.0
1106     1080.0
1107     3200.0
1108     2200.0
1109     1200.0
1110     1597.0
1111     1900.0
1112     1775.0
1113     1350.0
1114      750.0
1115     1200.0
1116     1500.0
1117     1075.0
1118     1268.0
1119      525.0
1120     1190.0
1121     1350.0
1122     2102.0
1123     2000.0
1124     1384.0
1125     2300.0
1126      979.0
1127     1134.0
1128     1150.0
1129     2500.0
1130      980.0
1131     1260.0
1132     1200.0
1133     1520.0
1134     2473.0
1135     1080.0
1136     1400.0
1137     1530.0
1138     1440.0
1139        NaN
1140        NaN
1141     2293.0
1142     1550.0
1143     1075.0
1144     1499.0
1145     2290.0
1146     1865.0
1147     1500.0
1148      440.0
1149     1440.0
1150     1200.0
1151     3800.0
1152     1350.0
1153     1563.0
1154    10000.0
1155        NaN
1156     1390.0
1157     1300.0
1158     1540.0
1159     1230.0
1160     2000.0
1161     1658.0
1162     1640.0
1163      875.0
1164     1320.0
1165     1396.0
1166     1347.0
1167     1100.0
1168        NaN
1169     1132.0
1170     1705.0
1171     2000.0
1172      891.0
1173     1600.0
1174     1470.0
1175     1320.0
1176     1005.0
1177     2000.0
1178      600.0
1179     6200.0
1180     1200.0
1181      998.0
1182     1123.0
1183     1000.0
1184     2100.0
1185        NaN
1186      938.0
1187     1250.0
1188     1748.0
1189     1906.0
1190     1450.0
1191     1800.0
1192      645.0
1193      940.0
1194     1450.0
1195     1879.0
1196     1254.0
1197     1290.0
1198     1228.0
1199     1475.0
1200     1100.0
1201      695.0
1202     1050.0
1203     1199.0
1204     1369.0
1205     2910.0
1206     2050.0
1207     1600.0
1208     1450.0
1209     1415.0
1210     1574.0
1211     1192.0
1212     1000.0
1213     1080.0
1214     3190.0
1215     1449.0
1216        NaN
1217     2200.0
1218     1650.0
1219     1216.0
1220     1640.0
1221      883.0
1222     1575.0
1223     1350.0
1224     2089.0
1225      900.0
1226        NaN
1227     1710.0
1228        NaN
1229     1390.0
1230     1553.0
1231     1272.0
1232     1200.0
1233     3100.0
1234     1250.0
1235      795.0
1236     1694.0
1237     1250.0
1238     1150.0
1239     1860.0
1240     1065.0
1241     1666.0
1242     1800.0
1243      950.0
1244     1209.0
1245     1657.0
1246        NaN
1247     4128.0
1248     1022.0
1249     1577.0

In [53]:
tempp_df = df[~df['price_persqft'].isnull()]

In [54]:
temp = tempp_df[tempp_df['SuperArea'] == 'NAN']

In [55]:
temp['SuperArea']=(round(temp['price'].astype(float)*(10**7)/ temp['price_persqft'].astype(float)).astype(int)).astype(str)

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1654276339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['SuperArea']=(round(temp['price'].astype(float)*(10**7)/ temp['price_persqft'].astype(float)).astype(int)).astype(str)

In [56]:
index = temp['Unnamed: 0']

In [57]:
df.iloc[index] = temp

In [58]:
temp_df = df[df['SuperArea'] == 'NAN']

In [59]:
temp_df['SuperArea'] = temp_df['Carpet_Area']

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\3384333700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['SuperArea'] = temp_df['Carpet_Area']

In [60]:
index = temp_df['Unnamed: 0']

In [61]:
df.iloc[index] = temp_df

In [62]:
df.shape

(1440, 22)

In [63]:
df['SuperArea'] = df['SuperArea'].str.replace(' sqft','').str.strip().str.replace(',','').str.strip().astype(float)

In [64]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966,1400 sqft,1611.0,NAN,14 out of 17,14,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909,NAN,1650.0,NAN,11 out of 18,11,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648,NAN,1420.0,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000,1134 sqft,1473.0,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023,1920 sqft,2616.0,NAN,20 out of 24,20,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [65]:
temp_df = df[df['sector'] == '']

In [66]:
temp_df['sector'] = 'others'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\2838185545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['sector'] = 'others'

In [67]:
index = temp_df['Unnamed: 0']

In [68]:
df.iloc[index] = temp_df

In [69]:
df['sector'].value_counts().head(23)

sector
Whitefield               70
Electronic City          44
Sarjapur Road            36
Kanakapura Road          34
Panathur                 31
JP Nagar                 29
HSR Layout               25
Gunjur                   25
Yelahanka                23
Outer Ring Road          22
Thanisandra              21
Hennur Main Road         21
Jayanagar                21
Thanisandra Main Road    20
Sarjapura                18
others                   17
Bagaluru                 17
Hebbal                   13
Kengeri                  12
Banaswadi                12
Jakkur                   11
Chandapura               10
Krishnarajapura          10
Name: count, dtype: int64

In [70]:
cat = ['Whitefield',
'Electronic City'
'Kanakapura Road',
'Panathur',
'JP Nagar',
'Sarjapur Road',
'HSR Layout',
'Gunjur',
'Yelahanka',
'Outer Ring Road',
'Thanisandra',
'Hennur Main Road',
'Jayanagar',
'Thanisandra Main Road',
'Sarjapura',
'others',
'Bagaluru',
'Hebbal',
'Kengeri',
'Banaswadi',
'Jakkur',
'Chandapura',
'Krishnarajapura']

In [71]:
def category(value):
    if value in cat:
        return value
    else:
        return 'others'

In [72]:
sectors = df['sector'].apply(category)

In [73]:
df['sector']=sectors

In [74]:
df['sector'].value_counts()

sector
others                   993
Whitefield                70
Sarjapur Road             36
Panathur                  31
JP Nagar                  29
Gunjur                    25
HSR Layout                25
Yelahanka                 23
Outer Ring Road           22
Thanisandra               21
Hennur Main Road          21
Jayanagar                 21
Thanisandra Main Road     20
Sarjapura                 18
Bagaluru                  17
Hebbal                    13
Kengeri                   12
Banaswadi                 12
Jakkur                    11
Chandapura                10
Krishnarajapura           10
Name: count, dtype: int64

In [75]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966,1400 sqft,1611.0,NAN,14 out of 17,14,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909,NAN,1650.0,NAN,11 out of 18,11,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648,NAN,1420.0,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000,1134 sqft,1473.0,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023,1920 sqft,2616.0,NAN,20 out of 24,20,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [76]:
df['BHK'].value_counts()

BHK
3            651
2            573
4            105
1             43
5             21
>             11
Studio        10
7              6
8              5
6              5
9              4
Apartment      3
10             2
Builder        1
Name: count, dtype: int64

In [77]:
df[df['BHK'] == 'Builder']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
813,813,Builder Floor for Sale in chikka Gollarahatti ...,Builder,others,"1.80 Cr10,000 per sqft",1.80,10000,NAN,1800.0,Ready to Move,Ground out of 4,0,Resale,Unfurnished,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [78]:
bhk=['1','2','3','4']
def bhkk(value):
    if value in bhk:
        return value
    elif value == 'Studio':
        return '1'
    else:
        return '4+'

In [79]:
bhk = df['BHK'].apply(bhkk)

In [80]:
bhk

0        3
1        3
2        3
3        3
4        4
5        3
6        3
7        3
8        3
9        3
10       3
11       4
12       3
13       3
14       2
15       3
16       2
17       3
18       3
19       4
20       3
21       3
22       3
23       2
24       4
25       3
26       2
27       2
28       4
29       3
30       3
31       3
32       3
33       3
34       3
35       3
36       3
37       2
38       3
39      4+
40       3
41       3
42       3
43       3
44       2
45       3
46       3
47       3
48       2
49       2
50       3
51       3
52       3
53       2
54       2
55       3
56       3
57       3
58       3
59       3
60       2
61       2
62       2
63       1
64       3
65       2
66       3
67       1
68       2
69       2
70       3
71       3
72       2
73       2
74       3
75       3
76       3
77       2
78       3
79       2
80       1
81       3
82       2
83       2
84       2
85       3
86       3
87       2
88       3
89       3
90       2
91       2
92       3
93       2
94       2
95       2
96       1
97       3
98       3
99       2
100      2
101      2
102      2
103      1
104      3
105      3
106      3
107      3
108      3
109      2
110      3
111      2
112      2
113      3
114      2
115      3
116      4
117      3
118      2
119      3
120      3
121      3
122      3
123      3
124      2
125      3
126      3
127      3
128      2
129      3
130      3
131      3
132      3
133      3
134      3
135      4
136      4
137      3
138      3
139      4
140      3
141      4
142      1
143      3
144      3
145      4
146      3
147      3
148      3
149      3
150      3
151      2
152      3
153      3
154      4
155      2
156      2
157      2
158      1
159      3
160      3
161      3
162      3
163      3
164      3
165      2
166      3
167      3
168      2
169      4
170      4
171      4
172      4
173      3
174      4
175      3
176      3
177      4
178      2
179      1
180      3
181      2
182      2
183      2
184      2
185      2
186      3
187      3
188      3
189      3
190      2
191      3
192      3
193      2
194      3
195      3
196      3
197      3
198      2
199     4+
200     4+
201      2
202      2
203      3
204      3
205      4
206      2
207      2
208      4
209      2
210      3
211      2
212      3
213      3
214      3
215      4
216      2
217      2
218      2
219      3
220      3
221      3
222      3
223      2
224      3
225      3
226      2
227      2
228      3
229      3
230      3
231      3
232      3
233      3
234      4
235      3
236      3
237      3
238      2
239      3
240      4
241      2
242      3
243      3
244      2
245      3
246      4
247      2
248      4
249      3
250      3
251      2
252      2
253      3
254      3
255      2
256      2
257      3
258      3
259      3
260      3
261      3
262      2
263      3
264      3
265      3
266      3
267      2
268      3
269      3
270      2
271      3
272      3
273      4
274      2
275      3
276      3
277      3
278      3
279      2
280      3
281      3
282      2
283      4
284      3
285      2
286      1
287      1
288      2
289      3
290      3
291     4+
292      2
293      2
294      3
295      2
296      3
297      3
298      2
299      3
300     4+
301     4+
302      2
303      2
304      3
305      2
306      3
307      2
308      2
309      2
310      3
311      3
312      2
313      2
314      3
315      3
316      3
317      3
318     4+
319      3
320      3
321      3
322      2
323      3
324      2
325      3
326     4+
327      3
328      2
329      3
330     4+
331      4
332      3
333      3
334      3
335      2
336      4
337      3
338      4
339      3
340      3
341      3
342      2
343      2
344      3
345      3
346      4
347      2
348      2
349      2
350      2
351      2
352      4
353      3
354      2
355      2
356      2
357      3
358      3
359      4
360      2
361      2
362      3
363      1
364      2
365      2
366      2
367      2
368      3
369      1
370      2
371      2
372      2
373      3
374      3
375      2
376      3
377      2
378      2
379      1
380      3
381      2
382      3
383      2
384      2
385      4
386     4+
387      3
388      3
389      4
390      4
391      4
392      2
393      3
394      3
395      3
396      4
397      3
398      3
399      2
400      3
401      2
402      2
403      3
404      2
405      2
406      3
407      3
408      3
409      4
410      3
411      2
412      3
413      4
414      3
415      3
416      3
417      3
418      1
419      2
420      3
421      2
422      2
423      3
424      2
425      3
426      3
427      3
428      3
429      2
430      4
431      4
432      2
433      1
434      2
435      3
436      3
437      2
438      2
439      2
440      2
441     4+
442      4
443      2
444      2
445      4
446      3
447      3
448      2
449      2
450      3
451      3
452      3
453      2
454      4
455      2
456      2
457      2
458      3
459      2
460      2
461      3
462      2
463      2
464      2
465      2
466      2
467      2
468      2
469      2
470      2
471      3
472      2
473      3
474      2
475      2
476      3
477      3
478      1
479      4
480      2
481      2
482      3
483     4+
484      2
485      3
486      3
487      2
488      3
489      4
490      2
491      2
492      2
493      1
494      3
495      2
496      3
497      2
498     4+
499      2
500      2
501      2
502      2
503      2
504      2
505      2
506      3
507      3
508      3
509      2
510      3
511      2
512      3
513      2
514      3
515      2
516      3
517      3
518      2
519      3
520      2
521      3
522      4
523      2
524      2
525      2
526      3
527     4+
528      2
529      3
530      2
531      3
532      3
533      2
534     4+
535      2
536      3
537      3
538      3
539      2
540      3
541      3
542      3
543      2
544     4+
545      2
546     4+
547      2
548      2
549      4
550     4+
551      3
552      2
553     4+
554      2
555      2
556      2
557      2
558      1
559      3
560      3
561      3
562      2
563      3
564      2
565      3
566      2
567      2
568      1
569     4+
570      3
571      3
572      3
573      3
574      2
575      3
576      3
577      2
578      4
579      2
580      3
581     4+
582      3
583      1
584      1
585     4+
586      2
587      2
588      2
589      2
590      3
591      4
592      3
593      3
594      2
595      3
596     4+
597      3
598      2
599      2
600      2
601      3
602      3
603      1
604      2
605      3
606      2
607      3
608      3
609      1
610      2
611      3
612      3
613      2
614      3
615      2
616      3
617      2
618      3
619      1
620      3
621      1
622      2
623      2
624      2
625      2
626      2
627      2
628      2
629      2
630      3
631      2
632      2
633      2
634      1
635      2
636      2
637      2
638      2
639      3
640      2
641      2
642      2
643      3
644      3
645      2
646      2
647      3
648      3
649      2
650      2
651      2
652      3
653      2
654      2
655      3
656      4
657      4
658      3
659      4
660      3
661      3
662      2
663      3
664      3
665      3
666      2
667      2
668      3
669      4
670      3
671      2
672      3
673      3
674     4+
675      2
676      2
677      2
678      2
679      2
680      4
681      2
682      3
683      3
684      4
685      2
686      3
687      4
688      2
689      4
690      4
691      3
692      2
693      3
694     4+
695      3
696      3
697      2
698      3
699      2
700      2
701      4
702      2
703      2
704     4+
705      3
706      3
707      2
708      2
709     4+
710      2
711      3
712      2
713      2
714      2
715      2
716      3
717      2
718      2
719      2
720      2
721      1
722      2
723      2
724      2
725      3
726      2
727      2
728      1
729      3
730     4+
731      3
732      1
733      3
734      2
735      1
736      4
737      2
738      2
739      2
740     4+
741      2
742      3
743      2
744      2
745      3
746      4
747      2
748      3
749      3
750      3
751     4+
752      2
753     4+
754      2
755      3
756      3
757      3
758      3
759      2
760      3
761      3
762      4
763      2
764     4+
765      1
766      3
767      2
768      4
769      3
770      3
771     4+
772      2
773      3
774      2
775      4
776      3
777      3
778      3
779      3
780      2
781      3
782      2
783      3
784      4
785     4+
786      3
787      2
788      1
789      3
790      3
791      3
792      4
793      2
794      3
795      2
796      3
797      3
798      3
799      2
800      3
801      2
802      2
803      3
804      2
805      2
806      3
807      3
808     4+
809      2
810      3
811      3
812      2
813     4+
814      2
815      3
816      3
817      3
818      2
819      3
820     4+
821      4
822      3
823      4
824      3
825      2
826      2
827      2
828      3
829      3
830      3
831      2
832      3
833      2
834      2
835      4
836      2
837      2
838      1
839      2
840      4
841      2
842      4
843      2
844      3
845      3
846      3
847      2
848      2
849      3
850      3
851      3
852      2
853      3
854      2
855      3
856      3
857     4+
858      3
859      3
860      2
861      2
862      3
863      2
864      3
865      2
866      2
867      3
868      1
869      3
870      3
871      2
872      3
873      3
874      2
875      2
876      3
877      3
878     4+
879      3
880      3
881      2
882      2
883     4+
884      1
885      2
886      2
887      4
888      3
889      3
890      3
891      3
892      2
893      1
894      3
895      2
896      4
897      3
898      2
899      2
900      2
901      3
902      3
903      2
904      2
905      3
906      2
907      3
908      1
909      1
910      2
911      3
912      2
913      3
914      3
915      2
916      3
917     4+
918      3
919      4
920      2
921      3
922     4+
923      3
924      3
925      3
926      3
927      2
928      3
929      2
930      3
931      2
932      3
933      2
934      2
935      2
936      2
937      3
938      3
939      3
940      2
941      2
942      4
943      3
944      3
945      2
946      3
947      3
948      2
949      3
950      3
951      3
952      2
953      3
954      2
955      3
956      2
957      2
958      3
959     4+
960      3
961      2
962      3
963     4+
964      2
965      2
966      2
967      2
968      2
969      3
970      2
971      3
972      2
973      2
974      3
975      3
976      3
977      1
978      3
979      2
980      2
981      2
982      2
983      3
984     4+
985      3
986      2
987      2
988     4+
989      3
990      2
991      2
992      3
993      2
994      3
995      3
996      3
997      3
998      2
999      3
1000     2
1001     2
1002     3
1003     4
1004     3
1005     2
1006     3
1007     2
1008     2
1009     2
1010     2
1011     3
1012     3
1013     3
1014     2
1015    4+
1016     4
1017     3
1018     2
1019     3
1020    4+
1021     4
1022     3
1023     3
1024     2
1025     3
1026     2
1027     3
1028     2
1029     3
1030     3
1031     2
1032     4
1033     4
1034     2
1035    4+
1036     3
1037     3
1038     3
1039     3
1040     3
1041     3
1042     3
1043     2
1044     2
1045     3
1046     2
1047     2
1048     3
1049     3
1050     3
1051     4
1052     2
1053     3
1054     2
1055     3
1056     2
1057     4
1058     2
1059     2
1060     2
1061     2
1062     3
1063     2
1064     3
1065     3
1066     2
1067     2
1068     3
1069     3
1070     3
1071     3
1072     2
1073     3
1074     1
1075     2
1076     3
1077     3
1078     2
1079     2
1080     2
1081     4
1082     2
1083     3
1084     2
1085     3
1086     3
1087     3
1088     3
1089     3
1090     3
1091     3
1092     4
1093     3
1094     4
1095     2
1096     2
1097     2
1098     2
1099     2
1100     3
1101     3
1102     3
1103     2
1104     2
1105     3
1106     2
1107     4
1108     3
1109     4
1110     3
1111     3
1112     3
1113     4
1114     2
1115     2
1116     3
1117     2
1118     2
1119     1
1120     2
1121     2
1122     3
1123     2
1124     2
1125     3
1126     2
1127     2
1128     2
1129    4+
1130     2
1131     2
1132     2
1133     3
1134     3
1135     2
1136     3
1137     3
1138     2
1139     3
1140    4+
1141     3
1142     2
1143     2
1144     3
1145     4
1146     3
1147     3
1148     1
1149     3
1150     2
1151     4
1152     3
1153     3
1154    4+
1155    4+
1156     3
1157     2
1158     3
1159     2
1160     3
1161     3
1162     3
1163     2
1164     3
1165     3
1166     3
1167     2
1168    4+
1169     2
1170     3
1171     3
1172     2
1173     3
1174     3
1175     3
1176     2
1177     3
1178     2
1179    4+
1180     2
1181     2
1182     2
1183     2
1184     3
1185     1
1186     2
1187     3
1188     3
1189     3
1190     2
1191     3
1192     1
1193     2
1194     3
1195     3
1196     3
1197     1
1198     2
1199     3
1200     2
1201     2
1202     2
1203     2
1204     2
1205    4+
1206     4
1207     3
1208     3
1209     2
1210     3
1211     2
1212     2
1213     2
1214     4
1215     3
1216     3
1217     3
1218     3
1219     2
1220     3
1221     2
1222     3
1223     3
1224     3
1225     2
1226     2
1227     3
1228     2
1229     2
1230     3
1231     3
1232     2
1233     3
1234     3
1235     2
1236     3
1237     2
1238     2
1239    4+
1240     2
1241     3
1242     3
1243     2
1244     2
1245     3
1246     3
1247     4
1248     2
1249     2
1250     3
1251     3
1252     2
1253     2
1254     2
1255     1
1256     3
1257     2
1258     2
1259     2
1260     3
1261     3
1262     3
1263     2
1264     2
1265     2
1266     2
1267     1
1268     2
1269     3
1270     2
1271     4
1272     2
1273     2
1274     3
1275     1
1276     2
1277     4
1278     2
1279     2
1280     2
1281     3
1282     2
1283     3
1284     2
1285     2
1286     3
1287     2
1288     2
1289     4
1290     3
1291     2
1292     1
1293     1
1294     3
1295     2
1296     3
1297     3
1298     3
1299     3
1300     3
1301     3
1302     2
1303     2
1304     2
1305     2
1306     2
1307     3
1308     3
1309     2
1310     3
1311     2
1312     2
1313     3
1314     2
1315     3
1316     2
1317     3
1318     2
1319     4
1320     3
1321    4+
1322     3
1323     3
1324     3
1325     3
1326     3
1327     2
1328     2
1329     3
1330     3
1331     3
1332     3
1333     3
1334     3
1335     2
1336     3
1337     1
1338     2
1339     2
1340     3
1341     4
1342     3
1343     2
1344     3
1345     3
1346     2
1347     3
1348     2
1349     2
1350     2
1351     3
1352     3
1353     3
1354     3
1355     3
1356     3
1357     3
1358     3
1359     3
1360     2
1361     4
1362     3
1363     3
1364     3
1365     1
1366     3
1367     2
1368     2
1369     3
1370     3
1371     2
1372     3
1373     2
1374     2
1375     3
1376     4
1377     2
1378     2
1379     2
1380     3
1381     2
1382     3
1383     2
1384     2
1385     2
1386     3
1387     2
1388     3
1389     4
1390     3
1391     2
1392     2
1393     3
1394     3
1395     3
1396     3
1397     3
1398     2
1399     3
1400     3
1401     2
1402     3
1403     2
1404     2
1405     2
1406     2
1407     2
1408     2
1409     2
1410     3
1411     3
1412     2
1413     2
1414     2
1415     2
1416     2
1417     3
1418     2
1419     4
1420     2
1421     2
1422     1
1423     2
1424     2
1425     2
1426     2
1427     3
1428     2
1429     3
1430     3
1431     3
1432     3
1433     2
1434     3
1435     3
1436     3
1437     3
1438     3
1439     4
Name: BHK, dtype: object

In [81]:
df['BHK'] = bhk

In [82]:
df['BHK'].value_counts()

BHK
3     651
2     573
4     105
4+     58
1      53
Name: count, dtype: int64

In [83]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966,1400 sqft,1611.0,NAN,14 out of 17,14,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909,NAN,1650.0,NAN,11 out of 18,11,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648,NAN,1420.0,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000,1134 sqft,1473.0,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023,1920 sqft,2616.0,NAN,20 out of 24,20,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [84]:
temp = df[df['price_persqft'].isnull()]

In [85]:
sqft = round(temp['price'].astype(float)*(10**7)/temp['SuperArea'])

In [86]:
temp['price_persqft'] = sqft

C:\Users\dhanr\AppData\Local\Temp\ipykernel_29468\1880075225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['price_persqft'] = sqft

In [87]:
index = temp['Unnamed: 0']

In [88]:
df['price_persqft'] = df['price_persqft'].astype(float)

In [89]:
df.iloc[index] = temp

In [90]:
df.isnull().sum()

Unnamed: 0            0
bhk                   0
BHK                   0
sector                0
price_sqft_price      0
price                 0
price_persqft         1
Carpet_Area           0
SuperArea             1
Status                0
Floor                 0
floor                 0
Transaction           0
Furnishing            0
facing                0
Society               0
Ownership             0
Car_Parking           0
Bathroom              0
Balcony               0
overlooking           0
Under_Construction    0
dtype: int64

# **Floor**

In [91]:
df['floor'].value_counts()

floor
2        240
1        220
3        204
0        124
4        121
NAN       80
5         65
10        51
12        39
6         37
8         37
7         33
9         30
11        16
15        16
14        16
18        13
13        13
20        12
16        11
17         8
19         7
23         7
21         6
22         5
28         4
27         4
25         3
32         3
29         3
30         2
31         2
24         2
Lower      2
34         1
26         1
Upper      1
33         1
Name: count, dtype: int64

In [92]:
floors = ['1','2','3','4','5','6','7','8','9','10']
def floor(value):
    if value in floors:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '10+'

In [93]:
floor = df['floor'].apply(floor)

In [94]:
df['floor'] = floor

In [95]:
df['floor'].value_counts()

floor
10+    322
2      240
1      220
3      204
4      121
5       65
10      51
8       37
6       37
7       33
9       30
Name: count, dtype: int64

In [96]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966.0,1400 sqft,1611.0,NAN,14 out of 17,10+,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909.0,NAN,1650.0,NAN,11 out of 18,10+,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648.0,NAN,1420.0,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000.0,1134 sqft,1473.0,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023.0,1920 sqft,2616.0,NAN,20 out of 24,10+,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [97]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.25 Cr13,966 per sqft",2.25,13966.0,1400 sqft,1611.0,NAN,14 out of 17,10+,New Property,Unfurnished,East,NAN,Freehold,1 Covered,2,1,Garden/Park,Poss. by Dec '27
1,1,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"2.13 Cr12,909 per sqft",2.13,12909.0,NAN,1650.0,NAN,11 out of 18,10+,New Property,Unfurnished,East,NAN,NAN,2 Covered,3,2,Garden/Park,Poss. by Dec '27
2,2,3 BHK Apartment for Sale in Thanisandra Bangalore,3,Thanisandra,"1.37 Cr9,648 per sqft",1.37,9648.0,NAN,1420.0,NAN,8 out of 14,8,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Pool",Poss. by Dec '28
3,3,3 BHK Apartment for Sale in Panathur Bangalore,3,Panathur,"1.62 Cr11,000 per sqft",1.62,11000.0,1134 sqft,1473.0,NAN,5 out of 13,5,New Property,Unfurnished,North - East,NAN,Freehold,1 Covered,2,1,"Garden/Park, Main Road",Poss. by Mar '27
4,4,4 BHK Apartment for Sale in Whitefield Bangalore,4,Whitefield,"3.93 Cr15,023 per sqft",3.93,15023.0,1920 sqft,2616.0,NAN,20 out of 24,10+,New Property,Unfurnished,East,NAN,Freehold,1 Covered,3,2,Garden/Park,Poss. by Dec '27

In [98]:
df.drop(columns=['Status','Transaction','Society','Ownership','Under_Construction','price_sqft_price','bhk','Carpet_Area','Floor'], axis=1, inplace=True)

In [99]:
df['city'] = 'Banglore'

# **Furnishing**

In [100]:
df['Furnishing'].value_counts()

Furnishing
Unfurnished       763
Semi-Furnished    499
Furnished         162
NAN                16
Name: count, dtype: int64

In [101]:
furnish = ['Unfurnished','Semi-Furnished','Furnished']
def furnishin(value):
    if value in furnish:
        return value
    else:
        return np.nan

In [102]:
fur = df['Furnishing'].apply(furnishin)

In [103]:
df['Furnishing'] = fur

# **Facing**

In [104]:
df['facing'].value_counts()

facing
NAN             567
East            490
North           164
West             84
North - East     77
South            26
North - West     16
South - East     11
South -West       5
Name: count, dtype: int64

In [105]:
face = ['East','North','West','North - East','South','North - West','South - East','South -West']
def facin(value):
    if value in face:
        return value
    else:
        return np.nan

In [106]:
facein = df['facing'].apply(facin)

In [107]:
df['facing'] = facein

# **Car Parking**

In [108]:
df['Car_Parking'].value_counts()

Car_Parking
NAN            826
1 Covered      417
2 Covered       85
1 Covered,      66
1 Open          13
3 Covered        9
2 Covered,       8
2 Open           3
4 Covered,       2
4 Open           2
4 Covered        2
3 Covered,       1
6 Covered        1
10 Covered       1
80 Covered       1
401 Covered      1
6 Open           1
8 Covered        1
Name: count, dtype: int64

In [109]:
def car(value):
    if value == 'NAN':
        return 'May be not'
    else:
        return 'Available'

In [110]:
carp = df['Car_Parking'].apply(car)

In [111]:
df['Car_Parking'] = carp

# **Bathroom**

In [112]:
df['Bathroom'].value_counts()

Bathroom
2       725
3       457
4       104
1        60
5        43
> 10     18
NAN       9
8         7
6         6
7         5
10        3
9         3
Name: count, dtype: int64

In [113]:
bathrm = ['1','2','3','4']
def bath(value):
    if value in bathrm:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [114]:
bathr = df['Bathroom'].apply(bath)

In [115]:
df['Bathroom'] = bathr

In [116]:
df['Bathroom'].value_counts()

Bathroom
2     725
3     457
4     104
4+     85
1      60
Name: count, dtype: int64

# **Balcony**

In [117]:
df['Balcony'].value_counts()

Balcony
NAN     429
1       408
2       384
3       152
4        43
5        13
6         5
> 10      3
7         1
8         1
9         1
Name: count, dtype: int64

In [118]:
balcony = ['1','2','3','4']
def balc(value):
    if value in balcony:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [119]:
bal = df['Balcony'].apply(balc)

In [120]:
df['Balcony'] = bal

# **Overlooking**

In [121]:
df['overlooking'].value_counts()

overlooking
NAN                             677
Main Road                       228
Garden/Park                     168
Garden/Park, Pool, Main Road    135
Garden/Park, Main Road          108
Garden/Park, Pool                63
Pool, Garden/Park, Main Road     30
Pool                              8
Pool, Garden/Park                 8
Main Road, Garden/Park            5
Pool, Main Road                   4
Main Road, Garden/Park, Pool      4
Pool, Main Road, Garden/Park      1
Main Road, Pool                   1
Name: count, dtype: int64

In [122]:
def over(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [123]:
over = df['overlooking'].apply(over)

In [124]:
df['overlooking'] = over

In [125]:
df.head()

,Unnamed: 0,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,0,3,Panathur,2.25,13966.0,1611.0,10+,Unfurnished,East,Available,2,1,Garden/Park,Banglore
1,1,3,Panathur,2.13,12909.0,1650.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore
2,2,3,Thanisandra,1.37,9648.0,1420.0,8,Unfurnished,North - East,Available,2,1,"Garden/Park, Pool",Banglore
3,3,3,Panathur,1.62,11000.0,1473.0,5,Unfurnished,North - East,Available,2,1,"Garden/Park, Main Road",Banglore
4,4,4,Whitefield,3.93,15023.0,2616.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore

In [126]:
df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [127]:
df.head()

,BHK,sector,price,price_persqft,SuperArea,floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,3,Panathur,2.25,13966.0,1611.0,10+,Unfurnished,East,Available,2,1,Garden/Park,Banglore
1,3,Panathur,2.13,12909.0,1650.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore
2,3,Thanisandra,1.37,9648.0,1420.0,8,Unfurnished,North - East,Available,2,1,"Garden/Park, Pool",Banglore
3,3,Panathur,1.62,11000.0,1473.0,5,Unfurnished,North - East,Available,2,1,"Garden/Park, Main Road",Banglore
4,4,Whitefield,3.93,15023.0,2616.0,10+,Unfurnished,East,Available,3,2,Garden/Park,Banglore

In [128]:
df.to_csv('banglore_cleaned.csv',index=False)