In [310]:
import pandas as pd
import numpy as np 
import re

In [311]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [312]:
df = pd.read_csv('gurgaon.csv')

In [313]:
df.head()

,Unnamed: 0,bhk,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...","2.19 Cr13,560 per sqft",NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...","2.07 Cr12,351 per sqft",NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...","2.81 Cr15,707 per sqft",NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,"3.95 Cr24,890 per sqft",1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...","2.55 Cr16,500 per sqft",NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

In [314]:
BHK = df['bhk'].str.split(' ').str.get(0)

In [315]:
BHK

0               3
1               3
2               3
3               3
4               3
5               3
6               3
7               2
8               3
9               4
10              4
11              4
12              4
13              4
14              3
15              2
16              3
17              4
18              3
19              2
20              4
21              3
22              3
23              3
24              3
25              3
26              5
27              3
28              3
29              3
30              3
31              5
32              3
33              3
34              3
35              3
36              2
37              4
38              3
39              3
40              3
41              3
42              2
43              2
44              4
45              5
46              2
47              3
48              3
49              4
50              4
51              3
52              4
53              3
54              3
55              3
56              4
57              2
58              4
59              4
60              3
61              4
62              3
63              3
64              4
65              4
66              4
67              3
68              2
69              2
70              3
71              3
72              3
73              3
74              4
75              4
76              3
77              3
78              4
79              4
80              3
81              4
82              3
83              4
84              4
85              4
86              3
87              3
88              3
89              4
90              3
91              5
92              3
93              3
94              3
95              3
96              4
97              3
98              4
99              6
100             3
101             2
102             3
103             2
104             3
105             4
106             3
107             3
108             4
109             3
110             4
111             4
112             4
113             3
114             3
115             3
116             3
117             3
118             3
119             4
120             2
121             3
122             2
123             3
124             3
125             3
126             4
127             4
128             2
129             3
130             3
131             2
132             3
133             4
134             4
135             3
136             5
137             3
138             3
139             3
140             4
141             3
142             3
143             3
144             4
145             4
146             3
147             4
148             3
149             4
150             3
151             4
152             4
153             3
154             4
155             3
156             3
157             2
158             3
159             3
160             3
161             3
162             4
163             3
164             3
165             3
166             3
167             3
168             2
169             2
170             3
171             3
172             4
173             3
174             3
175             3
176             3
177             3
178             4
179             2
180             3
181             3
182             3
183             3
184             3
185             3
186             4
187             3
188             3
189             4
190             3
191             1
192             3
193             4
194             5
195             2
196             3
197             3
198             3
199             3
200             3
201             3
202             3
203             3
204             3
205             4
206             3
207             4
208             3
209             4
210             2
211             3
212             3
213             2
214             3
215             3
216             4
217             2
218             3
219             3
220             4
221             4
222             3
223             2
224             4
225             4
226             3
227             3
228             3
229             4
230             4
231             2
232             4
233             4
234             3
235             3
236             3
237             5
238             3
239             3
240             4
241             4
242             2
243             2
244             3
245             4
246             3
247             4
248             4
249             3
250             3
251             2
252             3
253             4
254             3
255             4
256             3
257             4
258             4
259             4
260             3
261             4
262             4
263             4
264             4
265             3
266             4
267             3
268             4
269             4
270             4
271             3
272             3
273             4
274             4
275             3
276             3
277             3
278             2
279             2
280             2
281             4
282             5
283             3
284             4
285             4
286             3
287             3
288             3
289             4
290             2
291             3
292             4
293             5
294             4
295             4
296             3
297             4
298             5
299             3
300             3
301             3
302             3
303             3
304             4
305             3
306             4
307             5
308             3
309             4
310             4
311             3
312             4
313             4
314             3
315             4
316             3
317             2
318             4
319             3
320             2
321             3
322             3
323             3
324             3
325             4
326             3
327             2
328             4
329             4
330             3
331             4
332             3
333             3
334             4
335             4
336             4
337             3
338             3
339             3
340             3
341             4
342             3
343             5
344             4
345             2
346             3
347             3
348             2
349             >
350             3
351             3
352             4
353             3
354             3
355             3
356             3
357             3
358             4
359             3
360             4
361             4
362             3
363             3
364             3
365             3
366             3
367             4
368             3
369             3
370             3
371     Apartment
372             3
373             3
374             3
375             4
376             4
377             3
378             4
379             3
380             2
381             4
382             4
383             4
384             3
385             3
386             4
387             4
388             3
389             4
390             3
391             4
392             4
393             3
394             3
395             2
396             3
397             4
398             4
399             4
400             4
401             3
402             3
403             4
404             4
405             3
406             3
407             4
408             3
409             4
410             3
411             4
412             3
413             3
414             3
415             3
416             4
417             2
418             4
419             2
420             5
421             3
422             3
423             4
424             4
425             3
426             3
427             2
428             2
429             3
430             3
431             3
432             4
433             3
434             3
435             3
436             4
437             3
438             3
439             3
440             4
441             4
442             4
443             4
444             4
445             3
446             2
447             2
448             3
449             3
450             3
451             3
452             3
453             3
454             2
455             4
456             4
457             2
458             3
459             4
460             3
461             3
462             3
463             5
464             3
465             3
466             4
467             4
468             1
469             2
470             3
471             4
472             4
473             4
474             4
475        Studio
476             3
477             3
478             3
479             3
480             3
481             4
482             2
483             3
484             3
485             4
486             3
487             3
488             3
489             3
490             3
491             3
492             2
493             3
494             3
495             4
496             4
497             3
498             4
499             4
500             5
501             3
502             4
503             3
504             3
505             1
506             2
507             4
508             4
509             4
510             3
511             2
512             3
513             4
514             4
515             3
516             3
517             3
518             2
519             3
520             3
521             2
522             3
523             3
524             3
525             2
526             3
527             3
528             2
529             3
530             4
531             4
532             3
533             3
534             3
535             4
536             4
537             2
538             7
539             3
540             3
541             4
542             4
543             2
544             3
545             4
546             4
547             4
548             4
549             4
550             3
551             4
552             3
553             4
554             3
555             4
556             3
557             4
558             2
559             3
560             2
561             3
562             3
563             4
564             2
565             3
566             3
567             3
568             3
569             1
570             4
571             3
572             4
573             3
574             5
575             4
576             4
577             4
578             2
579             4
580             3
581             3
582             4
583             3
584             3
585             3
586             3
587             3
588             3
589             4
590             4
591             3
592             3
593             3
594             4
595             3
596             9
597             3
598             3
599             4
600             4
601             2
602             2
603             2
604             3
605             4
606             4
607             2
608             5
609             4
610             3
611             4
612             4
613             3
614             4
615             4
616             3
617             3
618             3
619             4
620             3
621             3
622             4
623             4
624             2
625             2
626             3
627             3
628             3
629             4
630             4
631             3
632             2
633             3
634             4
635             3
636             3
637             4
638             3
639             4
640             4
641             3
642             3
643             3
644             3
645             4
646             3
647             3
648             3
649             3
650             3
651             2
652             3
653             3
654             3
655             3
656             3
657             2
658             2
659             3
660        Studio
661             3
662             3
663             3
664             5
665             2
666             6
667             1
668             2
669             4
670             3
671             3
672             3
673             2
674             3
675             4
676             3
677             3
678             4
679             3
680             3
681             4
682             2
683             2
684             4
685             3
686             2
687             4
688             3
689             2
690             3
691             3
692             4
693             2
694             3
695             3
696             3
697             2
698             1
699             3
700             3
701             2
702             2
703             2
704             3
705             4
706             3
707             3
708             3
709     Apartment
710             3
711             3
712             2
713             3
714             4
715             4
716             2
717             4
718             3
719             4
720             3
721             1
722             4
723             3
724             2
725             3
726             3
727             2
728             2
729             2
730             3
731             2
732             4
733             4
734             2
735             2
736        Studio
737             4
738             2
739             4
740             3
741             3
742             2
743             2
744             3
745             3
746             2
747             3
748             3
749             4
750             5
751             2
752             4
753             3
754             2
755             2
756             3
757             1
758             3
759             2
760             3
761             2
762             3
763             4
764             4
765             2
766             4
767             2
768        Studio
769             3
770             2
771             3
772             3
773             3
774             3
775             2
776             4
777             2
778             3
779             3
780             2
781             2
782             3
783             3
784             3
785             2
786             3
787             3
788             3
789             4
790             3
791             3
792             3
793             3
794             3
795             2
796             3
797             3
798             4
799             2
800             4
801             2
802             2
803             3
804             2
805             3
806             3
807             2
808             4
809             2
810             2
811             3
812             3
813             2
814             4
815             2
816             2
817             2
818             3
819             3
820             2
821             2
822             4
823             4
824             3
825             3
826             3
827             3
828             3
829             4
830             2
831             2
832             4
833             4
834        Studio
835             3
836             2
837             3
838             2
839             4
840             3
841             3
842             4
843             2
844             3
845             3
846             3
847             4
848             2
849             4
850             4
851             3
852             4
853             2
854             2
855             2
856             4
857             3
858             3
859             3
860             4
861             2
862             2
863             3
864             4
865             2
866             4
867             3
868             2
869             4
870             3
871             3
872             4
873             4
874             4
875             2
876             3
877             3
878             4
879             3
880             3
881             4
882             4
883             4
884             4
885        Studio
886             4
887             3
888             3
889             3
890             1
891             3
892             4
893             4
894             3
895             4
896             3
897             3
898             3
899             3
900             3
901             4
902             3
903             3
904             4
905             5
906             2
907             4
908             4
909             2
910             1
911             3
912             4
913             1
914             2
915             3
916             3
917             3
918             3
919             3
920             5
921             4
922             2
923             4
924             2
925             3
926             4
927             2
928             3
929             3
930             2
931        Studio
932             3
933             3
934             3
935             2
936             4
937             4
938             2
939             2
940             2
941             3
942             3
943             2
944             2
945             2
946             2
947             3
948             4
949             4
950             2
951             4
952             4
953             3
954             2
955             4
956             3
957             1
958             3
959             2
960             4
961             3
962             4
963             2
964             4
965             3
966             4
967             4
968             3
969             3
970        Studio
971             2
972             3
973             4
974             4
975             2
976             2
977             3
978             2
979             4
980             1
981             3
982             3
983             2
984             3
985             3
986             3
987             3
988             3
989             3
990             2
991             4
992             2
993             2
994             2
995             3
996             4
997             3
998             3
999             1
1000            3
1001            2
1002            3
1003            3
1004            3
1005            3
1006            3
1007            4
1008            3
1009            2
1010            3
1011            2
1012            2
1013            3
1014            3
1015            2
1016            3
1017            3
1018            4
1019            3
1020            2
1021            3
1022            3
1023            3
1024            4
1025            3
1026            4
1027            4
1028            3
1029            5
1030            2
1031            4
1032            2
1033            3
1034            3
1035            3
1036            2
1037            4
1038            3
1039            2
1040            2
1041            4
1042            4
1043            2
1044            4
1045            3
1046            2
1047            3
1048            2
1049            4
1050            6
1051            1
1052            3
1053            2
1054            3
1055            1
1056            3
1057            2
1058            2
1059            3
1060            4
1061            1
1062            2
1063            3
1064            4
1065            2
1066            2
1067            3
1068            3
1069            3
1070            1
1071            3
1072            3
1073            4
1074            3
1075            3
1076            3
1077            3
1078            3
1079            2
1080            2
1081            3
1082            2
1083            2
1084            2
1085            5
1086            3
1087            4
1088            2
1089            4
1090            2
1091            2
1092            3
1093            3
1094            3
1095            2
1096            2
1097            3
1098            2
1099            4
1100            3
1101            2
1102            2
1103            2
1104            4
1105            3
1106            2
1107            3
1108            4
1109            3
1110            5

In [316]:
df.insert(loc=2,column='BHK',value=BHK)

In [317]:
df.head()

,Unnamed: 0,bhk,BHK,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,"2.19 Cr13,560 per sqft",NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,"2.07 Cr12,351 per sqft",NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,"2.81 Cr15,707 per sqft",NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,"3.95 Cr24,890 per sqft",1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,"2.55 Cr16,500 per sqft",NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

In [318]:
sector = df['bhk'].str.split(',').str.get(1).str.replace('Gurgaon', '')

In [319]:
df['bhk'].iloc[412]

'3 BHK Builder Floor for Sale in Phase 2 DLF Gurgaon'

In [320]:
df.insert(loc=3,column='sector',value=sector)

In [321]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32 Sohna,"2.81 Cr15,707 per sqft",NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

In [322]:
df1 = df[df['sector'].isnull()]

In [323]:
df1['bhk'].str.strip()

58      4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
59      4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
64      4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
66         4 BHK Apartment for Sale in Sector 102 Gurgaon
74      4 BHK Builder Floor for Sale in Sector 57 Gurgaon
78      4 BHK Builder Floor for Sale in South City 1 G...
80      3 BHK Builder Floor for Sale in Sushant Lok Gu...
83      4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
85      4 BHK Builder Floor for Sale in Golf Course Ex...
90        3 BHK Apartment for Sale in New Gurgaon Gurgaon
92      3 BHK Builder Floor for Sale in Sector 57 Gurgaon
95        3 BHK Apartment for Sale in Phase 5 DLF Gurgaon
103         2 BHK Apartment for Sale in Sector 89 Gurgaon
106         3 BHK Apartment for Sale in Sector 67 Gurgaon
110     4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
126     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
130     3 BHK Builder Floor for Sale in Phase 1 DLF Gu...
133     4 BHK Builder Floor for Sale in Sector 67 Gurgaon
134     4 BHK Builder Floor for Sale in South City 2 G...
139     3 BHK Builder Floor for Sale in Block H DLF Ph...
140     4 BHK Builder Floor for Sale in Sushant Lok 2 ...
148     3 BHK Builder Floor for Sale in DLF Cyber City...
152         4 BHK Apartment for Sale in Sector 89 Gurgaon
161     3 BHK Builder Floor for Sale in Sector 69 Gurgaon
162     4 BHK Builder Floor for Sale in Sector 46 Sout...
177     3 BHK Builder Floor for Sale in Phase 1 DLF Gu...
196        3 BHK Apartment for Sale in Sector 102 Gurgaon
209     4 BHK Builder Floor for Sale in Sector 67A Gur...
220     4 BHK Builder Floor for Sale in Sector 70A Gur...
226     3 BHK Builder Floor for Sale in Sector 89 Gurgaon
236     3 BHK Apartment for Sale in Sector 2 Sohna Gur...
239     3 BHK Builder Floor for Sale in Sector 23A Gur...
241     4 BHK Apartment for Sale in Block B Sushant Lo...
246         3 BHK Apartment for Sale in Sector 85 Gurgaon
249     3 BHK Builder Floor for Sale in Gwal Pahari Gu...
252        3 BHK Apartment for Sale in Sector 63A Gurgaon
253     4 BHK Builder Floor for Sale in Sohna Road Gur...
256     3 BHK Builder Floor for Sale in Sector 40 Gurgaon
259       4 BHK Apartment for Sale in Phase 3 DLF Gurgaon
261     4 BHK Builder Floor for Sale in Block C Sushan...
262     4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
263       4 BHK Apartment for Sale in Sushant Lok Gurgaon
266     4 BHK Builder Floor for Sale in South City 2 G...
267     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
268     4 BHK Builder Floor for Sale in Sector 67 Gurgaon
277       3 BHK Apartment for Sale in Phase 5 DLF Gurgaon
283     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
289     4 BHK Builder Floor for Sale in Sector 45 Gurgaon
291     3 BHK Builder Floor for Sale in Block G Sector...
292     4 BHK Builder Floor for Sale in Block D Sector...
293     5 BHK Builder Floor for Sale in Sushant Lok 2 ...
295     4 BHK Builder Floor for Sale in Palam Vihar Gu...
296     3 BHK Builder Floor for Sale in Urban Estate S...
297     4 BHK Builder Floor for Sale in Sector 31 Gurgaon
298     5 BHK Builder Floor for Sale in Phase 2 DLF Gu...
299     3 BHK Builder Floor for Sale in Sector 42 Gurgaon
301     3 BHK Builder Floor for Sale in Block G DLF Ph...
302     3 BHK Builder Floor for Sale in South City 2 G...
303     3 BHK Builder Floor for Sale in Block H DLF Ph...
306     4 BHK Builder Floor for Sale in Sector 67A Gur...
307     5 BHK Builder Floor for Sale in Sector 91 Gurgaon
308         3 BHK Apartment for Sale in Sector 92 Gurgaon
309     4 BHK Builder Floor for Sale in Sector 56 Gurgaon
310     4 BHK Builder Floor for Sale in Sector 48 Gurgaon
311         3 BHK Apartment for Sale in Sector 65 Gurgaon
313     4 BHK Builder Floor for Sale in Sushant Lok 2 ...
316     3 BHK Builder Floor for Sale in Sector 40 Gurgaon
318     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
319     3 BHK Builder Floor for Sale in Sushant Lok Gu...
320     2 BHK Builder Floor for Sale in Sector 11 Gurgaon
323         3 BHK Apartment for Sale in Sector 65 Gurgaon
326     3 BHK Apartment for Sale in Sector 5 Sohna Gur...
331     4 BHK Builder Floor for Sale in Sector 56 Gurgaon
332        3 BHK Apartment for Sale in Sector 22B Gurgaon
334     4 BHK Builder Floor for Sale in Sector 47 Gurgaon
335     4 BHK Builder Floor for Sale in Block A Sushan...
337     3 BHK Builder Floor for Sale in Block A Sushan...
343     5 BHK Builder Floor for Sale in Phase 4 DLF Gu...
344     4 BHK Builder Floor for Sale in South City 2 G...
346     3 BHK Builder Floor for Sale in Sector 55 Gurgaon
349     > 10 BHK Builder Floor for Sale in Sector 57 G...
351        3 BHK Apartment for Sale in Sector 102 Gurgaon
352     4 BHK Builder Floor for Sale in Sector 65 Gurgaon
356     3 BHK Builder Floor for Sale in Block B Ardee ...
357     3 BHK Builder Floor for Sale in Palam Vihar Gu...
358         4 BHK Apartment for Sale in Sector 52 Gurgaon
359         3 BHK Apartment for Sale in Sector 27 Gurgaon
361         4 BHK Penthouse for Sale in Sector 48 Gurgaon
362        3 BHK Apartment for Sale in Sector 63A Gurgaon
367       4 BHK Apartment for Sale in Vatika City Gurgaon
370     3 BHK Builder Floor for Sale in Block C Sushan...
375     4 BHK Builder Floor for Sale in Sector 57 Gurgaon
380         2 BHK Apartment for Sale in Sector 69 Gurgaon
381     4 BHK Builder Floor for Sale in South City 2 G...
382     4 BHK Builder Floor for Sale in Block F DLF Ph...
383     4 BHK Builder Floor for Sale in Phase 4 DLF Gu...
386     4 BHK Builder Floor for Sale in Block Q South ...
387     4 BHK Builder Floor for Sale in Block B Sushan...
388     3 BHK Builder Floor for Sale in Palam Vihar Gu...
389     4 BHK Builder Floor for Sale in South City 2 G...
392     4 BHK Builder Floor for Sale in Palam Vihar Gu...
394     3 BHK Builder Floor for Sale in Ashok Vihar Ph...
395         2 BHK Apartment for Sale in Sector 67 Gurgaon
398     4 BHK Builder Floor for Sale in Sushant Lok 2 ...
400     4 BHK Builder Floor for Sale in Huda Sector 23...
401     3 BHK Builder Floor for Sale in Part 1 Sector ...
404     4 BHK Builder Floor for Sale in Phase 4 DLF Gu...
405             3 BHK Apartment for Sale in Ghata Gurgaon
406     3 BHK Apartment for Sale in Block H Sector 82 ...
407     4 BHK Builder Floor for Sale in Sector 46 Gurgaon
410     3 BHK Builder Floor for Sale in Sector 3A Gurgaon
412     3 BHK Builder Floor for Sale in Phase 2 DLF Gu...
413     3 BHK Builder Floor for Sale in South City 1 G...
414      3 BHK Builder Floor for Sale in Sector 4 Gurgaon
415      3 BHK Apartment for Sale in South City 2 Gurgaon
416     4 BHK Builder Floor for Sale in South City 1 G...
417        2 BHK Apartment for Sale in Sohna Road Gurgaon
418         4 BHK Apartment for Sale in Sector 69 Gurgaon
420     5 BHK Builder Floor for Sale in Block A Sushan...
421         3 BHK Apartment for Sale in Sector 67 Gurgaon
423         4 BHK Apartment for Sale in Sector 58 Gurgaon
431     3 BHK Builder Floor for Sale in Sushant Lok Gu...
433     3 BHK Builder Floor for Sale in Block J Mayfie...
437     3 BHK Builder Floor for Sale in Phase 4 DLF Gu...
438         3 BHK Apartment for Sale in Sector 59 Gurgaon
440     4 BHK Builder Floor for Sale in Sushant Lok 2 ...
443     4 BHK Builder Floor for Sale in Greenwood City...
444     4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
446     2 BHK Builder Floor for Sale in Sohna Road Gur...
448     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
457     2 BHK Builder Floor for Sale in Sector 23 Gurgaon
459     4 BHK Builder Floor for Sale in South City 2 G...
464     3 BHK Builder Floor for Sale in Phase 2 DLF Gu...
465     3 BHK Builder Floor for Sale in DLF Cyber City...
467     4 BHK Builder Floor for Sale in Block C Sushan...
475        Studio Apartment for Sale in Sector 53 Gurgaon
477     3 BHK Builder Floor for Sale in Huda Colony Se...
479         3 BHK Apartment for Sale in Sector 89 Gurgaon
483        3 BHK Apartment for Sale in Sector 102 Gurgaon
485     4 BHK Builder Floor for Sale in Sector 56 Gurgaon
489     3 BHK Builder Floor for Sale in Block M DLF Co...
492     2 BHK Apartment for Sale in emaar emerald esta...
493     3 BHK Builder Floor for Sale in Phase 2 DLF Gu...
496     4 BHK Builder Floor for Sale in Block C Sushan...
499     4 BHK Builder Floor for Sale in Palam Vihar Gu...
502          4 BHK Apartment for Sale in DLF City Gurgaon
503      3 BHK Apartment for Sale in tulip violet Gurgaon
504     3 BHK Builder Floor for Sale in Sector 31 Gurgaon
507     4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
508     4 BHK Builder Floor for Sale in Sushant Lok Gu...
509         4 BHK Apartment for Sale in Sector 56 Gurgaon
512     3 BHK Builder Floor for Sale in Sector 14 Gurgaon
513     4 BHK Builder Floor for Sale in South City 1 G...
514         4 BHK Apartment for Sale in Sector 49 Gurgaon
516     3 BHK Apartment for Sale in Phase 3 Sushant Lo...
519     3 BHK Apartment for Sale in vatika city homes ...
520     3 BHK Builder Floor for Sale in Block N Mayfie...
523         3 BHK Apartment for Sale in Sector 24 Gurgaon
525         2 BHK Builder Floor for Sale in Sohna Gurgaon
527     3 BHK Builder Floor for Sale in Sector 46 Gurgaon
529     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
530     4 BHK Builder Floor for Sale in Sector 91 Gurgaon
531     4 BHK Builder Floor for Sale in Sector 31 Gurgaon
532     3 BHK Apartment for Sale in Satya the legend G...
533     3 BHK Builder Floor for Sale in Sushant Lok 2 ...
534     3 BHK Builder Floor for Sale in Sector 41 Gurgaon
537         2 BHK Apartment for Sale in Sector 70 Gurgaon
539     3 BHK Apartment for Sale in Phase 1 Ashok Viha...
542     4 BHK Builder Floor for Sale in Sector 82 Gurgaon
545     4 BHK Builder Floor for Sale in Block F DLF Ph...
547     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
548     4 BHK Builder Floor for Sale in DLF City 4 Gur...
549     4 BHK Builder Floor for Sale in Block J Mayfie...
550     3 BHK Builder Floor for Sale in DLF City 4 Gur...
551     4 BHK Builder Floor for Sale in Block F DLF Ph...
553         4 BHK Apartment for Sale in Sector 56 Gurgaon
555     4 BHK Builder Floor for Sale in Phase 3 DLF Gu...
557     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
561         3 BHK Apartment for Sale in Sector 68 Gurgaon
562     3 BHK Builder Floor for Sale in Block C Sushan...
563     4 BHK Builder Floor for Sale in Phase 4 DLF Gu...
566         3 BHK Apartment for Sale in Sector 56 Gurgaon
567       3 BHK Apartment for Sale in Phase 2 DLF Gurgaon
568     3 BHK Builder Floor for Sale in Huda Colony Se...
570     4 BHK Builder Floor for Sale in Greenwood City...
573       3 BHK Apartment for Sale in Phase 2 DLF Gurgaon
574     5 BHK Builder Floor for Sale in Sector 57 Gurgaon
575     4 BHK Builder Floor for Sale in Sector 22A Gur...
576     4 BHK Builder Floor for Sale in Sushant Lok 2 ...
577     4 BHK Builder Floor for Sale in Phase 1 DLF Gu...
579     4 BHK Builder Floor for Sale in Phase 5 DLF Gu...
580             3 BHK Apartment for Sale in Badha Gurgaon
587     3 BHK Builder Floor for Sale in Part 1 Sector ...
588     3 BHK Builder Floor for Sale in Sector 89 Gurgaon
590     4 BHK Builder Floor for Sale in Sector 49 Gurgaon
591     3 BHK Builder Floor for Sale in Phase 2 DLF Gu...
592     3 BHK Builder Floor for Sale in Pocket A Palam...
593     3 BHK Builder Floor for Sale in South City 2 G...
595     3 BHK Apartment for Sale in Sector 1 IMT Manes...
596     9 BHK Builder Floor for Sale in Ambedkar Nagar...
597     3 BHK Builder Floor for Sale in Phase 1 DLF Gu...
598     3 BHK Builder Floor for Sale in Huda Sector Se...
599     4 BHK Builder Floor for Sale in Sector 51 Gurgaon
601     2 BHK Builder Floor for Sale in Sector 55 Gurgaon
603     2 BHK Builder Floor for Sale in Block M South ...
604     3 BHK Apartment for Sale in Dwarka Expressway ...
605       4 BHK Apartment for Sale in Phase 3 DLF Gurgaon
606     4 BHK Builder Floor for Sale in Block C South ...
607        2 BHK Apartment for Sale in Sector 103 Gurgaon
608     5 BHK Apartment for Sale in Golf Course Road G...
609     4 BHK Builder Floor for Sale in Sector 31 Gurgaon
611     4 BHK Builder Floor for Sale in Sushant Lok Gu...
612     4 BHK Apartment for Sale in Golf Course  Road ...
614     4 BHK Builder Floor for Sale in Sector 83 Gurgaon
621     3 BHK Builder Floor for Sale in Block B Sushan...
622     4 BHK Builder Floor for Sale in Sohna Road Gur...
624     2 BHK Builder Floor for Sale in Sector 92 Gurgaon
626     3 BHK Builder Floor for Sale in Block C Sushan...
629         4 BHK Apartment for Sale in Sector 23 Gurgaon
633        3 BHK Apartment for Sale in Sector 111 Gurgaon
635     3 BHK Builder Floor for Sale in Sector 102 Gur...
636     3 BHK Builder Floor for Sale in Block F Sector...
639     4 BHK Builder Floor for Sale in Pocket F Palam...
640        4 BHK Apartment for Sale in Sector 102 Gurgaon
642     3 BHK Apartment for Sale in AWHO Shanti Vihar ...
643     3 BHK Builder Floor for Sale in Block H DLF Ph...
645     4 BHK Builder Floor for Sale in Sector 52 Gurgaon
646     3 BHK Builder Floor for Sale in Urban Estate S...
648     3 BHK Builder Floor for Sale in Sector 31 Gurgaon
650           3 BHK Apartment for Sale in Block F Gurgaon
653     3 BHK Apartment for Sale in Naharpur Road Gurgaon
654     3 BHK Builder Floor for Sale in Sector 56 Gurgaon
655         3 BHK Apartment for Sale in Sector 33 Gurgaon
657        2 BHK Apartment for Sale in Sohna Road Gurgaon
659     3 BHK Builder Floor for Sale in Phase 2 DLF Gu...
660        Studio Apartment for Sale in Sector 39 Gurgaon
662     3 BHK Apartment for Sale in Dwarka Expressway ...
664      5 BHK Builder Floor for Sale in Sector 4 Gurgaon
665      2 BHK Builder Floor for Sale in Sector 3 Gurgaon
666     6 BHK Builder Floor for Sale in Saraswati Encl...
667     1 BHK Builder Floor for Sale in Sector 56 Gurgaon
668               2 BHK Builder Floor for Sale in Gurgaon
669     4 BHK Builder Floor for Sale in Urban Estate S...
676     3 BHK Builder Floor for Sale in Sector 43 Gurgaon
677     3 BHK Builder Floor for Sale in Sector 42 Gurgaon
679     3 BHK Builder Floor for Sale in Pocket C Palam...
683     2 BHK Apartment for Sale in Sheetla Colony Ash...
687     4 BHK Builder Floor for Sale in Phase 4 DLF Gu...
690     3 BHK Builder Floor for Sale in South City 2 G...
691     3 BHK Builder Floor for Sale in Sushant Lok I ...
692     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...
702     2 BHK Apartment for Sale in Sector 4 Sohna Gur...
703         2 BHK Apartment for Sale in Sector 68 Gurgaon
705     4 BHK Builder Floor for Sale in Sector 57 Gurgaon
708     3 BHK Builder Floor for Sale in Sushant Lok 2 ...
709                   Apartment for Sale in Sohna Gurgaon
712         2 BHK Apartment for Sale in Sector 66 Gurgaon
713     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
715     4 BHK Builder Floor for Sale in Palam Vihar Gu...
720     3 BHK Builder Floor for Sale in Sector 43 Gurgaon
721         1 BHK Apartment for Sale in Sector 15 Gurgaon
722       4 BHK Apartment for Sale in Phase 5 DLF Gurgaon
724        2 BHK Apartment for Sale in Sector 112 Gurgaon
725         3 BHK Apartment for Sale in Sector 71 Gurgaon
726         3 BHK Apartment for Sale in Sector 69 Gurgaon
727         2 BHK Apartment for Sale in Sector 12 Gurgaon
728     2 BHK Builder Floor for Sale in Laxman Vihar S...
729     2 BHK Apartment for Sale in Dwarka Expressway ...
730         3 BHK Apartment for Sale in Sector 92 Gurgaon
732         4 BHK Apartment for Sale in Sector 56 Gurgaon
733     4 BHK Builder Floor for Sale in Sector 28 Gurgaon
734     2 BHK Builder Floor for Sale in Dwarka Express...
735        2 BHK Apartment for Sale in Sector 104 Gurgaon
736        Studio Apartment for Sale in Sector 28 Gurgaon
737     4 BHK Apartment for Sale in Dwarka Expressway ...
738     2 BHK Builder Floor for Sale in Sector 105 Gur...
740     3 BHK Apartment for Sale in shree vardhman oli...
741     3 BHK Builder Floor for Sale in Dharuhera Gurgaon
742     2 BHK Apartment for Sale in Dwarka Expressway ...
745         3 BHK Apartment for Sale in Sector 70 Gurgaon
747     3 BHK Builder Floor for Sale in Laxman Vihar S...
748         3 BHK Apartment for Sale in Sector 79 Gurgaon
750     5 BHK Builder Floor for Sale in Sector 55 Gurgaon
751     2 BHK Apartment for Sale in Old Delhi Gurgaon ...
752     4 BHK Apartment for Sale in Prem Nagar Sector ...
754     2 BHK Apartment for Sale in Sheetla Colony Ash...
755     2 BHK Apartment for Sale in Breez global hill ...
756                   3 BHK Apartment for Sale in Gurgaon
757        1 BHK Apartment for Sale in Sector 107 Gurgaon
759         2 BHK Apartment for Sale in Sector 78 Gurgaon
760         3 BHK Apartment for Sale in Sector 84 Gurgaon
761        2 BHK Apartment for Sale in Sector 104 Gurgaon
762        3 BHK Apartment for Sale in Sector 109 Gurgaon
763     4 BHK Builder Floor for Sale in Sector 22 Gurgaon
765     2 BHK Apartment for Sale in Old Delhi Gurgaon ...
766     4 BHK Builder Floor for Sale in Sector 49 Gurgaon
767     2 BHK Apartment for Sale in Phase 1 Ashok Viha...
769     3 BHK Builder Floor for Sale in Sector 81 Gurgaon
770         2 BHK Apartment for Sale in Sector 93 Gurgaon
771        3 BHK Apartment for Sale in Sector 112 Gurgaon
772     3 BHK Apartment for Sale in Sector 65 Gurgaon ...
773         3 BHK Apartment for Sale in Sector 92 Gurgaon
774     3 BHK Builder Floor for Sale in Sector 84 Gurgaon
775     2 BHK Apartment for Sale in vatika city homes ...
776           4 BHK Apartment for Sale in Manesar Gurgaon
777         2 BHK Apartment for Sale in Sector 33 Gurgaon
778     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
779       3 BHK Apartment for Sale in Gwal Pahari Gurgaon
786     3 BHK Builder Floor for Sale in Sector 57 Gurgaon
787     3 BHK Builder Floor for Sale in Sector 46 Gurgaon
791     3 BHK Apartment for Sale in godrej summit Gurgaon
792     3 BHK Builder Floor for Sale in South City 1 G...
793     3 BHK Builder Floor for Sale in Sector 55 Gurgaon
794         3 BHK Apartment for Sale in Sector 56 Gurgaon
795         2 BHK Builder Floor for Sale in Sohna Gurgaon
796     3 BHK Apartment for Sale in emmar Pam garden s...
801     2 BHK Builder Floor for Sale in Sector 23A Gur...
803     3 BHK Builder Floor for Sale in Block C Sushan...
807             2 BHK Apartment for Sale in Badha Gurgaon
808     4 BHK Builder Floor for Sale in Sector 22 Gurgaon
811     3 BHK Builder Floor for Sale in Sector 55 Gurgaon
812     3 BHK Builder Floor for Sale in Simphni Floor ...
813     2 BHK Apartment for Sale in Sector 33 Sohna Gu...
818     3 BHK Builder Floor for Sale in Builder Floor ...
819        3 BHK Apartment for Sale in Sector 102 Gurgaon
820         2 BHK Apartment for Sale in Sector 65 Gurgaon
822     4 BHK Builder Floor for Sale in Sector 26 Gurgaon
824     3 BHK Builder Floor for Sale in Sector 22 Gurgaon
827     3 BHK Builder Floor for Sale in Sector 30 Gurgaon
828     3 BHK Builder Floor for Sale in Sector 31 Gurgaon
839     4 BHK Builder Floor for Sale in Sector 31 Gurgaon
840         3 BHK Apartment for Sale in Sector 14 Gurgaon
844     3 BHK Builder Floor for Sale in South City 1 G...
851     3 BHK Builder Floor for Sale in Sector 2 Palam...
852                   4 BHK Apartment for Sale in Gurgaon
854         2 BHK Apartment for Sale in Sector 83 Gurgaon
870     3 BHK Builder Floor for Sale in Ashok Vihar Ph...
872     4 BHK Builder Floor for Sale in South City 2 G...
879     3 BHK Apartment for Sale in Block E Sector 56 ...
881     4 BHK Builder Floor for Sale in Phase 3 DLF Gu...
892     4 BHK Builder Floor for Sale in South City 2 G...
893     4 BHK Builder Floor for Sale in Block C Sector...
900     3 BHK Builder Floor for Sale in Model Town Sec...
908     4 BHK Builder Floor for Sale in Phase 2 DLF Gu...

In [324]:
df1['sector'] = df1['bhk'].str.strip().str.replace(' Builder Floor for Sale in','').str.replace('4 BHK','').str.replace('1 BHK','').str.replace('3 BHK','').str.replace('2 BHK','').str.replace('5 BHK','').str.replace(' Apartment for Sale in','').str.replace('Studio Apartment for Sale in','').str.replace('Apartment for Sale in','').str.replace(' Penthouse for Sale in','').str.replace('Gurgaon','')

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\356698512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sector'] = df1['bhk'].str.strip().str.replace(' Builder Floor for Sale in','').str.replace('4 BHK','').str.replace('1 BHK','').str.replace('3 BHK','').str.replace('2 BHK','').str.replace('5 BHK','').str.replace(' Apartment for Sale in','').str.replace('Studio Apartment for Sale in','').str.replace('Apartment for Sale in','').str.replace(' Penthouse for Sale in','').str.replace('Gurgaon','')

In [325]:
df1.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
58,58,4 BHK Builder Floor for Sale in Phase 1 DLF Gu...,4,Phase 1 DLF,"4.50 Cr13,889 per sqft",2100 sqft,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,North - West,NAN,Freehold,"2 Covered,",4,2,"Pool, Garden/Park, Main Road",NAN
59,59,4 BHK Builder Floor for Sale in Phase 2 DLF Gu...,4,Phase 2 DLF,"6.50 Cr14,387 per sqft",3900 sqft,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,NAN,NAN,Freehold,"3 Covered,",5,2,"Garden/Park, Main Road",NAN
64,64,4 BHK Builder Floor for Sale in Phase 2 DLF Gu...,4,Phase 2 DLF,"3.85 Cr14,259 per sqft",2400 sqft,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,"2 Covered,",5,2,"Garden/Park, Pool, Main Road",NAN
66,66,4 BHK Apartment for Sale in Sector 102 Gurgaon,4,Sector 102,"3.20 Cr10,000 per sqft",1200 sqft,NAN,Ready to Move,12 out of 12,New Property,Semi-Furnished,North,NAN,Freehold,NAN,4,4,"Garden/Park, Pool, Main Road",NAN
74,74,4 BHK Builder Floor for Sale in Sector 57 Gurgaon,4,Sector 57,"3 Cr16,251 per sqft",1846 sqft,NAN,Ready to Move,1 out of 4,New Property,Furnished,North - West,NAN,Freehold,2 Covered,4,2,NAN,NAN

In [326]:
index = df1['Unnamed: 0']

In [327]:
df[df['Unnamed: 0'].isin(index)] = df1

In [328]:
df[df['Unnamed: 0'].isin(index)].head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
58,58,4 BHK Builder Floor for Sale in Phase 1 DLF Gu...,4,Phase 1 DLF,"4.50 Cr13,889 per sqft",2100 sqft,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,North - West,NAN,Freehold,"2 Covered,",4,2,"Pool, Garden/Park, Main Road",NAN
59,59,4 BHK Builder Floor for Sale in Phase 2 DLF Gu...,4,Phase 2 DLF,"6.50 Cr14,387 per sqft",3900 sqft,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,NAN,NAN,Freehold,"3 Covered,",5,2,"Garden/Park, Main Road",NAN
64,64,4 BHK Builder Floor for Sale in Phase 2 DLF Gu...,4,Phase 2 DLF,"3.85 Cr14,259 per sqft",2400 sqft,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,"2 Covered,",5,2,"Garden/Park, Pool, Main Road",NAN
66,66,4 BHK Apartment for Sale in Sector 102 Gurgaon,4,Sector 102,"3.20 Cr10,000 per sqft",1200 sqft,NAN,Ready to Move,12 out of 12,New Property,Semi-Furnished,North,NAN,Freehold,NAN,4,4,"Garden/Park, Pool, Main Road",NAN
74,74,4 BHK Builder Floor for Sale in Sector 57 Gurgaon,4,Sector 57,"3 Cr16,251 per sqft",1846 sqft,NAN,Ready to Move,1 out of 4,New Property,Furnished,North - West,NAN,Freehold,2 Covered,4,2,NAN,NAN

In [329]:
df.isnull().sum()

Unnamed: 0            0
bhk                   0
BHK                   0
sector                0
price_sqft_price      0
Carpet_Area           0
SuperArea             0
Status                0
Floor                 0
Transaction           0
Furnishing            0
facing                0
Society               0
Ownership             0
Car_Parking           0
Bathroom              0
Balcony               0
overlooking           0
Under_Construction    0
dtype: int64

In [330]:
df['sector'].unique()

array([' Sector 71', ' Sector 32 Sohna', ' Sector 111', ' Sector 61',
       ' Sector 63A', ' Sector 65', ' Sector 112', ' Sector 49',
       ' Sector 63', ' Sector 76', ' Sector 89', ' Sector 37D',
       ' Sector 59', ' Sector 81', ' Sector 113', ' Sector 106',
       ' Sector 71 ', ' Sector 103 ', ' Sector 111 ', ' Sector 113 ',
       ' Sector 61 ', ' Sector 65 ', ' Sector 83 ', ' Sector 49 ',
       ' Sector 89 ', ' Sector 53 ', ' Sector 51 ', ' Sector 63A ',
       ' Sector 84 ', ' Sector 22 ', ' Sector 63 ', ' Sector 2 Sohna ',
       ' Phase 1 DLF ', ' Phase 2 DLF ', ' Sector 106 ', ' Sector 93 ',
       ' Sector 102 ', ' Sector 92 ', ' Sector 59 ', ' Sector 57 ',
       ' Golf Course Extension Road ', ' South City 1 ', ' Sushant Lok ',
       ' Delhi  Expressway ', ' Sector 47 ', ' Sector 50 ', ' New  ',
       ' Phase 5 DLF ', ' Sector 43 ', ' Sector 80 ', ' Ullahawas',
       ' Sector 67 ', ' Sector 79 ', ' Sector 35 Sohna ',
       ' South City 2 ', ' Sector 32 Sohna ', ' Sector 112 ',
       ' Sector 36A ', ' Block H DLF Phase 1 ',
       ' Sushant Lok 2 Sector 57 ', ' Daulatabad ', ' DLF Cyber City ',
       ' Sector 56 ', ' Sector 24', ' Sector 69 ',
       ' Sector 46 South City 2 ', ' Sector 62 ', ' Sector 85 ',
       ' Shikohpur ', ' Phase 2 Greenopolis ', ' Sector 108 ',
       ' Golf Course Road ', ' IILM Institute', ' Sector 48 ',
       ' Orchid Petals ', ' Sihi Village Sector 84 ',
       ' Behrampur Village', ' Sector 33 Sohna ', ' Sector 67A ',
       ' Sector 66 ', ' Sector 58 ', ' Sector 70A ', ' Sector 72 ',
       ' Garauli Khurd', ' Sector 23A ', ' Block B Sushant Lok Phase 1 ',
       ' Gwal Pahari ', ' Sohna Road ', ' Sector 40 ', ' Sector 82 ',
       ' Phase 3 DLF ', ' Block C Sushant Lok Phase 1 ', ' Dhorka',
       ' Uppal Southend', ' Dhani', ' Parsvnath Exotica ', ' Sector 45 ',
       ' Block G Sector 57 ', ' Block D Sector 49 ',
       ' Sushant Lok 2 Sector 55 ', ' Palam Vihar ',
       ' Urban Estate Sector 40 ', ' Sector 31 ', ' Sector 42 ',
       ' Block G DLF Phase 1 ', ' Fazilpur Jharsa', ' Sector 91 ',
       ' Sector 52 ', ' Sector 11 ', ' Sector 81 ', ' Sector 5 Sohna ',
       ' Sector 22B ', ' Block A Sushant Lok Phase 1 ',
       ' Block A Sushant Lok 3 ', ' Phase 4 DLF ', ' Sector 55 ',
       '> 10 BHK Sector 57 ', ' Block B Ardee City ', ' Sector 27 ',
       ' Sector 28 ', ' Vatika City ', ' Dwarka Expressway ',
       ' Block F DLF Phase 1 ', ' Block Q South City 1 ',
       ' Block B Sushant Lok 3 ', ' Ashok Vihar Phase 3 Extension ',
       ' Huda Sector 23 ', ' Part 1 Sector 15 ', ' Ghata ',
       ' Block H Sector 82 ', ' Sector 46 ', ' Sector 3A ', ' Sector 4 ',
       ' Sector 7 ', ' Sector 95A', ' Block J Mayfield Garden ',
       ' Greenwood City ', ' Pataudi Road ', ' Sector 14 ', ' Dharampur',
       ' Sector 23 ', ' bptp park terra ', 'Studio Sector 53 ',
       ' Huda Colony Sector 46 ', ' Block M DLF Colony ',
       ' emaar emerald estate ', ' Sector 30', ' DLF City ',
       ' tulip violet ', ' Sikandarpur Badha ', ' Phase 3 Sushant Lok ',
       ' Central Park 2 ', ' vatika city homes Sector-83 gurgaon ',
       ' Block N Mayfield Garden ', ' Sector 24 ', ' Sohna ',
       ' Satya the legend ', ' Sector 41 ', ' Sector 70 ',
       ' Phase 1 Ashok Vihar ', ' DLF City 4 ', ' Sector 6 ',
       ' Sector 68 ', ' Block C Sushant Lok 3 ', ' Ghatta Kanarpur',
       ' Sector 22A ', ' Badha ', ' Behrampur', ' Pocket A Palam Vihar ',
       ' Sector 1 IMT Manesar ', '9 BHK Ambedkar Nagar Sector 9 ',
       ' Huda Sector Sector 55 ', ' Block M South City 1 ',
       ' Block C South City 1 ', ' Golf Course  Road ', ' Sector 95 ',
       ' Sector 12A ', ' Block F Sector 57 ', ' Sector 92',
       ' Pocket F Palam Vihar ', ' AWHO Shanti Vihar ',
       ' Urban Estate Sector 4 ', ' Block F ', ' Naharpur Road ',
       ' Sector 33 ', 'Studio Sector 39 ', ' Sector 3 ',
       '6 BHK Saraswati Enclave ', ' ', ' Pocket C Palam Vihar ',
       ' Sheetla Colony Ashok Vihar Phase 2 ',
       ' Dwarka Expressway Link Road ', ' Sushant Lok I ', '  ',
       ' Sector 4 Sohna ', ' Sector 15 ', ' Sector 12 ',
       ' Laxman Vihar Sector 3A ', ' Sector 104 ', 'Studio Sector 28 ',
       ' Sector 105 ', ' shree vardhman olive ', ' Dharuhera ',
       ' Sector 89A ', ' Old Delhi  Road ', ' Prem Nagar Sector 11 ',
       ' Breez global hill view ', ' Sector 107 ', ' Sector 78 ',
       ' Sector 109 ', ' Sector 67A', ' Sector 65  ',
       ' vatika city homes  sector 83 ', ' Manesar ', ' Mension ',
       ' godrej summit ', ' emmar Pam garden sector 83 ',
       ' Simphni Floor ', ' Builder Floor Sector 56 ', ' Naurangpur ',
       ' Sector 26 ', ' Sector 36 Sohna ', ' Sector 30 ', ' Sector 110 ',
       ' Sector 2 Palam Vihar ', ' Sector 90 ', ' Sector 88A ',
       ' Sector 88B ', ' Block T Sector 109 ', ' Ashok Vihar Phase 2 ',
       ' Sector 99A', ' Block E Sector 56 ', ' Block C Sector 45 ',
       ' Sector 73', ' Model Town Sector 11 ', ' Nirvana Country',
       ' Lodha Belmondo ', ' Sector 9A ', ' Sector 10A',
       ' Pocket E Palam Vihar ', ' Sector-92  ', ' Sector 37C',
       ' Gpl eden heights ', ' Sector 110A ', ' Land Mark ',
       ' Gurugram Road ', ' Sector 77', ' May Field Gardens Sector 51 ',
       ' Sector 60 ', ' Block 5 Phase 3 DLF ', ' Sector 89  ',
       ' Sector 54 ', ' Kherki Daula', ' Sector 5 ',
       ' Badshahpur Sohna Road Highway ', ' Sec 37d ', ' Orchid Island',
       ' Ashok Vihar', ' Chakkarpur', ' Sector 11 Sohna ',
       ' Shastri Nagar Industrial Area Sector 106 ', ' Part 2 Sector 15 ',
       ' Sector 99 ', ' Signature global sector 92 ', ' Sector-89 A  ',
       ' sp units ews dlf phase 4 sector 43 ', ' Mehrauli  Road ',
       ' Sector 9 ', ' Sector-86 ', ' Sector 82A ', ' Ambience Island',
       ' Sector 26A ', ' Ninex Rmg Residency', ' Sector 36 ',
       ' Sector 86 ', ' Mianwali Colony', ' M3M Golf Hills ',
       ' Block B Sector 56 ', ' Anand society ', ' Block B ',
       ' Sector 88 ', ' Block B1 Sector 57 ', ' Sector 39 ',
       ' Sector-99 ', ' Sriflex city ', 'sector 65 ',
       ' Block A Sector 30 ', ' Block F Suncity ',
       ' Sector 1 Palam Vihar ', 'Studio Sector 31 ', ' dlf gardencity ',
       ' Surya Vihar Sector 21 ',
       ' Ashoka estate  sector 63A golf course road  Gurugram ',
       ' Sushant Lok-I', 'Studio Sector 62 ',
       ' Siddharth ncr one sector 95 gurgaon ', ' Sector 13 ',
       ' Mayfield Garden', ' Palam Vihar Extension ', ' Sector - 28 ',
       ' IMT Manesar ', ' Sector 21 ', ' Shanti Nagar Sector 11 '],
      dtype=object)

In [331]:
df['sector']=df['sector'].str.strip()

In [332]:
temp_index = df[df['sector'] == 'Delhi  Expressway']['Unnamed: 0']

In [333]:
sec = df[df['sector'] == 'Delhi  Expressway']['bhk'].str.split(',').str.get(0).str.split(' ').str.get((-2))

In [334]:
num = df[df['sector'] == 'Delhi  Expressway']['bhk'].str.split(',').str.get(0).str.split(' ').str.get((-1))

In [335]:
temp = sec + " "+ num

In [336]:
df1 = df[df['Unnamed: 0'].isin(temp_index)]

In [337]:
df1['sector'] = temp

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2828916892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sector'] = temp

In [338]:
df[df['Unnamed: 0'].isin(temp_index)] = df1

In [339]:
df[df['Unnamed: 0'].isin(temp_index)]

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
82,82,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"1.53 Cr12,240 per sqft",875 sqft,NAN,NAN,2 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,1 Covered,3,3,"Garden/Park, Pool, Main Road",Poss. by Jan '25
300,300,"3 BHK Apartment for Sale in Sector 76, Delhi G...",3,Sector 76,"4.50 Cr15,322 per sqft",2600 sqft,NAN,Ready to Move,3 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,2 Covered,4,3,Garden/Park,NAN
393,393,"3 BHK Builder Floor for Sale in Sector 73, Del...",3,Sector 73,"2.40 Cr13,333 per sqft",1600 sqft,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,North,NAN,Freehold,NAN,3,2,"Garden/Park, Main Road",NAN
411,411,"4 BHK Builder Floor for Sale in Sector 17A, De...",4,Sector 17A,"4 Cr11,765 per sqft",2600 sqft,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,West,NAN,Freehold,"1 Covered,",5,2,Main Road,NAN
435,435,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"3.90 Cr15,000 per sqft",NAN,2600 sqft,NAN,2 out of 32,New Property,Semi-Furnished,East,NAN,Freehold,2 Covered,4,4,Main Road,Poss. by Mar '27
554,554,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"3.11 Cr12,999 per sqft",NAN,2400 sqft,NAN,6 out of 37,New Property,Semi-Furnished,NAN,NAN,Freehold,2 Covered,3,2,Main Road,NAN
675,675,"4 BHK Apartment for Sale in Sector 74, Delhi G...",4,Sector 74,"3.80 Cr18,831 per sqft",NAN,2018 sqft,Ready to Move,7 out of 32,New Property,Furnished,North,NAN,Power Of Attorney,NAN,3,3,"Pool, Main Road",NAN
697,697,"2 BHK Builder Floor for Sale in Sector 37D, De...",2,Sector 37D,"65 Lac6,566 per sqft",850 sqft,NAN,Ready to Move,1 out of 5,Resale,Furnished,NAN,NAN,NAN,NAN,2,3,NAN,NAN
711,711,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"2 Cr13,333 per sqft",NAN,1500 sqft,Ready to Move,8 out of 12,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,2,NAN,NAN,NAN
731,731,"2 BHK Apartment for Sale in Sector 37D, Delhi ...",2,Sector 37D,"1.15 Cr8,333 per sqft",NAN,1380 sqft,Ready to Move,11 out of 21,Resale,Unfurnished,NAN,NAN,NAN,NAN,2,NAN,NAN,NAN
739,739,"4 BHK Apartment for Sale in Sector 37C, Delhi ...",4,Sector 37C,"85.2 Lac4,500 per sqft",NAN,1894 sqft,NAN,6 out of 12,Resale,Semi-Furnished,NAN,NAN,Freehold,NAN,4,3,NAN,NAN
743,743,"2 BHK Apartment for Sale in Sector 37D, Delhi ...",2,Sector 37D,"75 Lac5,725 per sqft",NAN,1310 sqft,NAN,1 out of 19,Resale,Semi-Furnished,NAN,NAN,Freehold,NAN,2,NAN,Garden/Park,NAN
746,746,"2 BHK Apartment for Sale in Sector 99A, Delhi ...",2,Sector 99A,"50 Lac10,000 per sqft",NAN,500 sqft,Ready to Move,2 out of 12,Resale,Unfurnished,NAN,NAN,NAN,NAN,2,NAN,NAN,NAN
753,753,"3 BHK Apartment for Sale in Civil Lines, Delhi...",3,Civil Lines,"1.60 Cr11,852 per sqft",NAN,1350 sqft,Ready to Move,3 out of 3,Resale,Furnished,NAN,NAN,NAN,NAN,3,NAN,NAN,NAN
768,768,"Studio Apartment for Sale in Sector 74, Delhi ...",Studio,Sector 74,"1.20 Cr13,809 per sqft",NAN,869 sqft,NAN,11 out of 16,Resale,Unfurnished,NAN,NAN,NAN,NAN,1,NAN,NAN,NAN
974,974,"4 BHK Builder Floor for Sale in Sector 74, Del...",4,Sector 74,4.70 Cr,3300 sqft,NAN,Ready to Move,4 out of 4,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,4,4,NAN,NAN
1043,1043,"2 BHK Apartment for Sale in Sector 37C, Delhi ...",2,Sector 37C,"70 Lac5,385 per sqft",NAN,1300 sqft,NAN,13 out of 21,Resale,Unfurnished,NAN,NAN,NAN,1 Open,2,1,NAN,NAN
1044,1044,"4 BHK Apartment for Sale in Civil Lines, Delhi...",4,Civil Lines,"1.50 Cr6,250 per sqft",2000 sqft,NAN,NAN,2 out of 5,Resale,Unfurnished,NAN,NAN,NAN,NAN,4,4,NAN,Poss. by Jun '24
1047,1047,"3 BHK Apartment for Sale in Sector 99A, Delhi ...",3,Sector 99A,"1.65 Cr8,258 per sqft",NAN,1998 sqft,NAN,6 out of 21,Resale,Unfurnished,East,NAN,NAN,NAN,3,2,NAN,NAN
1114,1114,"3 BHK Apartment for Sale in Sector 77, Delhi G...",3,Sector 77,"2.10 Cr10,000 per sqft",1500 sqft,NAN,NAN,5 out of 14,Resale,Unfurnished,NAN,NAN,NAN,NAN,3,3,NAN,NAN
1130,1130,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"1.25 Cr6,173 per sqft",NAN,2025 sqft,NAN,7 out of 19,Resale,Unfurnished,NAN,NAN,Freehold,NAN,3,NAN,NAN,NAN
1206,1206,"2 BHK Apartment for Sale in Sector 37D, Delhi ...",2,Sector 37D,"60 Lac8,054 per sqft",NAN,1900 sqft,Ready to Move,9 out of 18,Resale,Semi-Furnished,North - East,Indiabulls Centrum Park,Freehold,NAN,3,5,"Pool, Garden/Park, Main Road",NAN
1239,1239,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"3 Cr13,043 per sqft",NAN,2124 sqft,Ready to Move,18 out of 40,Resale,Semi-Furnished,North - East,Urban Oasis,Freehold,1 Covered,4,4,NAN,NAN
1254,1254,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"90 Lac5,625 per sqft",NAN,1525 sqft,NAN,3 out of 4,Resale,Unfurnished,West,Signature Global City 79B 1,Freehold,NAN,3,2,Garden/Park,Poss. by Mar '26
1281,1281,"3 BHK Apartment for Sale in Sector 73, Delhi G...",3,Sector 73,"2.60 Cr12,399 per sqft",NAN,2900 sqft,NAN,14 out of 40,Resale,Unfurnished,East,Sobha City,NAN,NAN,4,3,Garden/Park,NAN
1389,1389,"3 BHK Apartment for Sale in Sector 37D, Delhi ...",3,Sector 37D,"1.75 Cr8,750 per sqft",660 sqft,NAN,Ready to Move,4 out of 4,Resale,Semi-Furnished,North,Central Park Flower Valley,Freehold,2 Covered,2,4,Garden/Park,NAN
1444,1444,"2 BHK Apartment for Sale in Patel Nagar, Delhi...",2,Patel Nagar,32 Lac,NAN,1138 sqft,NAN,1 out of 4,Resale,Furnished,NAN,M3M Antalya Hills Phase I,NAN,NAN,2,NAN,NAN,NAN

In [340]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'Golf Course Extension Road',
       'South City 1', 'Sushant Lok', 'Sector 47', 'Sector 50', 'New',
       'Phase 5 DLF', 'Sector 43', 'Sector 80', 'Ullahawas', 'Sector 67',
       'Sector 79', 'Sector 35 Sohna', 'South City 2', 'Sector 36A',
       'Block H DLF Phase 1', 'Sushant Lok 2 Sector 57', 'Daulatabad',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46 South City 2', 'Sector 62', 'Sector 85', 'Shikohpur',
       'Phase 2 Greenopolis', 'Sector 108', 'Golf Course Road',
       'IILM Institute', 'Sector 48', 'Orchid Petals',
       'Sihi Village Sector 84', 'Behrampur Village', 'Sector 33 Sohna',
       'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A', 'Sector 72',
       'Garauli Khurd', 'Sector 23A', 'Block B Sushant Lok Phase 1',
       'Gwal Pahari', 'Sohna Road', 'Sector 40', 'Sector 82',
       'Phase 3 DLF', 'Block C Sushant Lok Phase 1', 'Dhorka',
       'Uppal Southend', 'Dhani', 'Parsvnath Exotica', 'Sector 45',
       'Block G Sector 57', 'Block D Sector 49',
       'Sushant Lok 2 Sector 55', 'Palam Vihar', 'Urban Estate Sector 40',
       'Sector 31', 'Sector 42', 'Block G DLF Phase 1', 'Fazilpur Jharsa',
       'Sector 91', 'Sector 52', 'Sector 11', 'Sector 5 Sohna',
       'Sector 22B', 'Block A Sushant Lok Phase 1',
       'Block A Sushant Lok 3', 'Phase 4 DLF', 'Sector 55',
       '> 10 BHK Sector 57', 'Block B Ardee City', 'Sector 27',
       'Sector 28', 'Vatika City', 'Dwarka Expressway',
       'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 46',
       'Sector 3A', 'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road', 'Sector 33',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Signature global sector 92', 'Sector-89 A',
       'sp units ews dlf phase 4 sector 43', 'Mehrauli  Road', 'Sector 9',
       'Sector-86', 'Sector 82A', 'Ambience Island', 'Sector 26A',
       'Ninex Rmg Residency', 'Sector 36', 'Sector 86', 'Mianwali Colony',
       'M3M Golf Hills', 'Block B Sector 56', 'Anand society', 'Block B',
       'Sector 88', 'Block B1 Sector 57', 'Sector 39', 'Sector-99',
       'Sriflex city', 'sector 65', 'Block A Sector 30',
       'Block F Suncity', 'Sector 1 Palam Vihar', 'Studio Sector 31',
       'dlf gardencity', 'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [341]:
df[df['sector'] == 'New'].index

Index([90, 1134, 1265], dtype='int64')

In [342]:
df['sector'].iloc[1265] = 'Sector 85'
df['sector'].iloc[1134] = 'Sector 86'
df['sector'].iloc[90] = np.nan

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1473657688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1265] = 'Sector 85'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1473657688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1134] = 'Sector 86'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1473657688.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[90] = np.nan

In [343]:
df.iloc[[90, 1134, 1265]]

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
90,90,3 BHK Apartment for Sale in New Gurgaon Gurgaon,3,NaN,"2.72 Cr12,035 per sqft",1600 sqft,NAN,NAN,17 out of 30,New Property,Semi-Furnished,North - East,NAN,Freehold,2 Covered,3,4,Garden/Park,Poss. by Jul '26
1134,1134,"2 BHK Apartment for Sale in Ansal Height 86, N...",2,Sector 86,"80.8 Lac5,938 per sqft",NAN,1360 sqft,Ready to Move,NAN,Resale,Semi-Furnished,NAN,Ansal Height 86,NAN,NAN,2,1,NAN,NAN
1265,1265,3 BHK Apartment for Sale in New Gurgaon Gurgaon,3,Sector 85,"70 Lac7,778 per sqft",1000 sqft,NAN,Ready to Move,5 out of 10,Resale,Unfurnished,NAN,Orris Aster Court,Freehold,NAN,2,2,Garden/Park,NAN

In [344]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'Golf Course Extension Road',
       'South City 1', 'Sushant Lok', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 43', 'Sector 80', 'Ullahawas', 'Sector 67',
       'Sector 79', 'Sector 35 Sohna', 'South City 2', 'Sector 36A',
       'Block H DLF Phase 1', 'Sushant Lok 2 Sector 57', 'Daulatabad',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46 South City 2', 'Sector 62', 'Sector 85', 'Shikohpur',
       'Phase 2 Greenopolis', 'Sector 108', 'Golf Course Road',
       'IILM Institute', 'Sector 48', 'Orchid Petals',
       'Sihi Village Sector 84', 'Behrampur Village', 'Sector 33 Sohna',
       'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A', 'Sector 72',
       'Garauli Khurd', 'Sector 23A', 'Block B Sushant Lok Phase 1',
       'Gwal Pahari', 'Sohna Road', 'Sector 40', 'Sector 82',
       'Phase 3 DLF', 'Block C Sushant Lok Phase 1', 'Dhorka',
       'Uppal Southend', 'Dhani', 'Parsvnath Exotica', 'Sector 45',
       'Block G Sector 57', 'Block D Sector 49',
       'Sushant Lok 2 Sector 55', 'Palam Vihar', 'Urban Estate Sector 40',
       'Sector 31', 'Sector 42', 'Block G DLF Phase 1', 'Fazilpur Jharsa',
       'Sector 91', 'Sector 52', 'Sector 11', 'Sector 5 Sohna',
       'Sector 22B', 'Block A Sushant Lok Phase 1',
       'Block A Sushant Lok 3', 'Phase 4 DLF', 'Sector 55',
       '> 10 BHK Sector 57', 'Block B Ardee City', 'Sector 27',
       'Sector 28', 'Vatika City', 'Dwarka Expressway',
       'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 46',
       'Sector 3A', 'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road', 'Sector 33',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [345]:
df[df['sector']=='Ullahawas'].index

Index([104, 118, 123, 128, 131, 197, 231, 282, 521, 558], dtype='int64')

In [346]:
df['sector'].iloc[[104, 118, 123, 128, 131, 197, 231, 282, 521, 558]] = 'Sector 61'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\947574573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[104, 118, 123, 128, 131, 197, 231, 282, 521, 558]] = 'Sector 61'

In [347]:
df[df['sector'] == 'Sector 35 Sohna'].index

Index([122, 439, 458], dtype='int64')

In [348]:
df['sector'].iloc[[122, 439, 458]] = 'Sector 35'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3321670171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[122, 439, 458]] = 'Sector 35'

In [349]:
df[df['sector']=='Sector 32 Sohna'].index

Index([2, 15, 135, 223, 250, 627, 802, 1390], dtype='int64')

In [350]:
df['sector'].iloc[[135, 223, 250, 627, 802, 1390]] = 'Sector 32'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\806730106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[135, 223, 250, 627, 802, 1390]] = 'Sector 32'

In [351]:
df[df['sector'] == 'Block H DLF Phase 1'].index

Index([139, 303, 643], dtype='int64')

In [352]:
df['sector'].iloc[[139, 303, 643]] = 'DLF Phase 1'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3768118733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[139, 303, 643]] = 'DLF Phase 1'

In [353]:
df[df['sector'] == 'Sushant Lok 2 Sector 57'].index

Index([140, 313, 533, 576, 994, 1042, 1102], dtype='int64')

In [354]:
df['sector'].iloc[[140, 313, 533, 576, 994, 1042, 1102]] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\905668865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[140, 313, 533, 576, 994, 1042, 1102]] = 'Sector 57'

In [355]:
df[df['sector'] == 'Daulatabad']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
142,142,"3 BHK Apartment for Sale in Chintamani, Daulat...",3,Daulatabad,"1.88 Cr10,190 per sqft",1012 sqft,NAN,NAN,5 out of 29,New Property,Semi-Furnished,East,Chintamani,Freehold,1 Covered,2,3,Main Road,Poss. by Jun '26

In [356]:
df['sector'].iloc[142] = 'sector 103'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\134385350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[142] = 'sector 103'

In [357]:
df[df['sector'] == 'Sector 46 South City 2']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
162,162,4 BHK Builder Floor for Sale in Sector 46 Sout...,4,Sector 46 South City 2,"3.25 Cr10,621 per sqft",320 sqyrd,NAN,NAN,1 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,"2 Covered,",4,3,Main Road,Poss. by Jul '24

In [358]:
df['sector'].iloc[162] = 'Sector 46'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2499772902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[162] = 'Sector 46'

In [359]:
df[df['sector'] == 'Shikohpur']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
168,168,2 BHK Builder Floor for Sale in M3M Antalya Hi...,2,Shikohpur,"1.71 Cr15,100 per sqft",987 sqft,NAN,NAN,2 out of 2,New Property,Semi-Furnished,North - East,M3M Antalya Hills Phase I,Freehold,"1 Covered,",2,2,"Garden/Park, Pool, Main Road",Poss. by Dec '25
187,187,3 BHK Apartment for Sale in M3M Antalya Hills ...,3,Shikohpur,"2 Cr13,089 per sqft",1100 sqft,NAN,NAN,2 out of 4,New Property,Semi-Furnished,North,M3M Antalya Hills Phase I,Freehold,2 Covered,3,3,"Garden/Park, Pool, Main Road",Poss. by Sep '26
199,199,3 BHK Builder Floor for Sale in M3M Antalya Hi...,3,Shikohpur,"1.95 Cr11,934 per sqft",1460 sqft,NAN,NAN,2 out of 4,New Property,Unfurnished,North - East,M3M Antalya Hills Phase I,Freehold,"1 Covered,",3,2,"Garden/Park, Pool, Main Road",Poss. by Jul '25
835,835,3 BHK Apartment for Sale in M3M Golf Hills Pha...,3,Shikohpur,"2.80 Cr13,659 per sqft",1730 sqft,NAN,NAN,10 out of 30,New Property,Semi-Furnished,North - East,M3M Golf Hills Phase 1,Freehold,1 Covered,3,3,"Pool, Garden/Park",Poss. by Feb '28
1268,1268,"2 BHK Apartment for Sale in Godrej Aria, Shiko...",2,Shikohpur,"1.65 Cr11,931 per sqft",NAN,1394 sqft,Ready to Move,2 out of 3,Resale,Furnished,NAN,NAN,Leasehold,NAN,3,3,NAN,NAN

In [360]:
df['sector'].iloc[[168,187,199,835,1268]] = 'Sector 79'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\478295211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[168,187,199,835,1268]] = 'Sector 79'

In [361]:
df[df['sector'] == 'Phase 2 Greenopolis']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
171,171,"3 BHK Apartment for Sale in Smart World Gems, ...",3,Phase 2 Greenopolis,"1.28 Cr9,032 per sqft",NAN,1423 sqft,NAN,1 out of 4,Resale,Semi-Furnished,North - East,Smart World Gems,Freehold,1 Covered,3,3,"Garden/Park, Pool, Main Road",NAN

In [362]:
df['sector'].iloc[171] = 'Sector 89'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1979573798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[171] = 'Sector 89'

In [363]:
df[df['sector'] == 'Golf Course Road'].index

Index([185, 608, 897, 1260, 1495], dtype='int64')

In [364]:
df['sector'].iloc[[185, 608, 897, 1260, 1495]] = 'Sector 43'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\4215442067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[185, 608, 897, 1260, 1495]] = 'Sector 43'

In [365]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'Golf Course Extension Road',
       'South City 1', 'Sushant Lok', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 43', 'Sector 80', 'Sector 67', 'Sector 79',
       'Sector 35', 'South City 2', 'Sector 32', 'Sector 36A',
       'DLF Phase 1', 'sector 103', 'DLF Cyber City', 'Sector 56',
       'Sector 24', 'Sector 69', 'Sector 46', 'Sector 62', 'Sector 85',
       'Sector 108', 'IILM Institute', 'Sector 48', 'Orchid Petals',
       'Sihi Village Sector 84', 'Behrampur Village', 'Sector 33 Sohna',
       'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A', 'Sector 72',
       'Garauli Khurd', 'Sector 23A', 'Block B Sushant Lok Phase 1',
       'Gwal Pahari', 'Sohna Road', 'Sector 40', 'Sector 82',
       'Phase 3 DLF', 'Block C Sushant Lok Phase 1', 'Dhorka',
       'Uppal Southend', 'Dhani', 'Parsvnath Exotica', 'Sector 45',
       'Block G Sector 57', 'Block D Sector 49',
       'Sushant Lok 2 Sector 55', 'Palam Vihar', 'Urban Estate Sector 40',
       'Sector 31', 'Sector 42', 'Block G DLF Phase 1', 'Fazilpur Jharsa',
       'Sector 91', 'Sector 52', 'Sector 11', 'Sector 5 Sohna',
       'Sector 22B', 'Block A Sushant Lok Phase 1',
       'Block A Sushant Lok 3', 'Phase 4 DLF', 'Sector 55',
       '> 10 BHK Sector 57', 'Block B Ardee City', 'Sector 27',
       'Sector 28', 'Vatika City', 'Dwarka Expressway',
       'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road', 'Sector 33',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [366]:
df[df['sector'] == 'Golf Course Extension Road']['bhk']

76      3 BHK Builder Floor for Sale in Smartworld Orc...
85      4 BHK Builder Floor for Sale in Golf Course Ex...
329     4 BHK Apartment for Sale in Pioneer Presidia, ...
371     Apartment for Sale in Godrej Aristocrat, Golf ...
681     4 BHK Apartment for Sale in Pioneer Presidia, ...
714     4 BHK Apartment for Sale in DLF The Arbour, Go...
1050    6 BHK Penthouse for Sale in Raisina Residenc, ...
1299    3 BHK Apartment for Sale in Trehan Luxury Floo...
1315    4 BHK Builder Floor for Sale in Golf Course Ex...
1376    4 BHK Apartment for Sale in Pioneer Presidia, ...
1384    5 BHK Apartment for Sale in Raisina Residenc, ...
1441    2 BHK Builder Floor for Sale in Golf Course Ex...
Name: bhk, dtype: object

In [367]:
df['sector'].iloc[76] = 'Sector 61'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1537794700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[76] = 'Sector 61'

In [368]:
df['sector'].iloc[[329,681,1376]] = 'Sector 62'
df['sector'].iloc[371] ='Sector 49'
df['sector'].iloc[714] = 'Sector 63'
df['sector'].iloc[[1050,1384]] = 'Sector 59'
df['sector'].iloc[1299] = 'Sector 33'
df['sector'].iloc[[1315,1441,85]] = 'Sector 102'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[329,681,1376]] = 'Sector 62'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[371] ='Sector 49'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[714] = 'Sector 63'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1050,1384]] = 'Sector 59'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1299] = 'Sector 33'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3298119047.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1315,1441,85]] = 'Sector 102'

In [369]:
df[df['sector']=='IILM Institute']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
186,186,"4 BHK Apartment for Sale in Tulip Monsella, II...",4,IILM Institute,"8.15 Cr22,123 per sqft",2710 sqft,NAN,NAN,28 out of 39,Resale,Semi-Furnished,North - East,Tulip Monsella,Freehold,"3 Covered,",5,4,"Garden/Park, Pool",Poss. by Sep '25

In [370]:
df['sector'].iloc[186] = 'Sector 53'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3256145623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[186] = 'Sector 53'

In [371]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'South City 1', 'Sushant Lok',
       'Sector 47', 'Sector 50', nan, 'Phase 5 DLF', 'Sector 43',
       'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35', 'South City 2',
       'Sector 32', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Orchid Petals', 'Sihi Village Sector 84', 'Behrampur Village',
       'Sector 33 Sohna', 'Sector 67A', 'Sector 66', 'Sector 58',
       'Sector 70A', 'Sector 72', 'Garauli Khurd', 'Sector 23A',
       'Block B Sushant Lok Phase 1', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF',
       'Block C Sushant Lok Phase 1', 'Dhorka', 'Uppal Southend', 'Dhani',
       'Parsvnath Exotica', 'Sector 45', 'Block G Sector 57',
       'Block D Sector 49', 'Sushant Lok 2 Sector 55', 'Palam Vihar',
       'Urban Estate Sector 40', 'Sector 31', 'Sector 42',
       'Block G DLF Phase 1', 'Fazilpur Jharsa', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5 Sohna', 'Sector 22B',
       'Block A Sushant Lok Phase 1', 'Block A Sushant Lok 3',
       'Phase 4 DLF', 'Sector 55', '> 10 BHK Sector 57',
       'Block B Ardee City', 'Sector 27', 'Sector 28', 'Vatika City',
       'Dwarka Expressway', 'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road', 'Sector 33',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [372]:
df[df['sector'] == 'Orchid Petals']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
198,198,"3 BHK Apartment for Sale in Godrej Aristocrat,...",3,Orchid Petals,"3.85 Cr21,330 per sqft",1285 sqft,NAN,NAN,16 out of 31,Resale,Semi-Furnished,East,Godrej Aristocrat,Freehold,1 Covered,3,4,"Garden/Park, Pool, Main Road",Poss. by Dec '30

In [373]:
df['sector'].iloc[198] = 'Sector 49'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\600135276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[198] = 'Sector 49'

In [374]:
df[df['sector'] == 'Sihi Village Sector 84']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
202,202,"3 BHK Apartment for Sale in Nandaka, Sihi Vill...",3,Sihi Village Sector 84,"4.27 Cr14,000 per sqft",2850 sqft,NAN,NAN,7 out of 42,New Property,Semi-Furnished,North,Nandaka,Freehold,2 Covered,3,2,Garden/Park,Poss. by May '25
288,288,"3 BHK Apartment for Sale in Nandaka, Sihi Vill...",3,Sihi Village Sector 84,"4.50 Cr14,754 per sqft",1700 sqft,NAN,NAN,18 out of 42,Resale,Unfurnished,North - East,Nandaka,Freehold,2 Covered,3,2,Garden/Park,Poss. by Jan '28

In [375]:
df['sector'].iloc[[202,288]]='Sector 84'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\779776871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[202,288]]='Sector 84'

In [376]:
df[df['sector']=='Behrampur Village']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
203,203,3 BHK Builder Floor for Sale in Trehan Luxury ...,3,Behrampur Village,"2.18 Cr13,457 per sqft",NAN,1620 sqft,NAN,3 out of 4,New Property,Semi-Furnished,East,Trehan Luxury Floors,Freehold,1 Covered,3,2,"Garden/Park, Main Road",Poss. by Mar '25
450,450,3 BHK Builder Floor for Sale in Trehan Luxury ...,3,Behrampur Village,"2.15 Cr13,438 per sqft",1150 sqft,NAN,NAN,1 out of 3,New Property,Semi-Furnished,West,Trehan Luxury Floors,Freehold,"3 Covered,",3,2,Garden/Park,Poss. by May '25

In [377]:
df['sector'].iloc[[203,450]] = 'Sector 71'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1392428179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[203,450]] = 'Sector 71'

In [378]:
df[df['sector'] == 'Sector 33 Sohna'].index

Index([205, 813, 916, 1083, 1162, 1224, 1272, 1297, 1472], dtype='int64')

In [379]:
df['sector'].iloc[[205, 813, 916, 1083, 1162, 1224, 1272, 1297, 1472]] = 'Sector 33'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3579202050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[205, 813, 916, 1083, 1162, 1224, 1272, 1297, 1472]] = 'Sector 33'

In [380]:
df[df['sector'] == 'Garauli Khurd'].index

Index([233, 456, 494, 788, 1000, 1204], dtype='int64')

In [381]:
df['sector'].iloc[[233, 456, 494, 788, 1000, 1204]] = 'Sector 37D'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1061599600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[233, 456, 494, 788, 1000, 1204]] = 'Sector 37D'

In [382]:
df[df['sector'] == 'Block B Sushant Lok Phase 1']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
241,241,4 BHK Apartment for Sale in Block B Sushant Lo...,4,Block B Sushant Lok Phase 1,"4.05 Cr15,000 per sqft",2200 sqft,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,East,NAN,Freehold,NAN,5,2,Garden/Park,NAN

In [383]:
df['sector'].iloc[241] = 'Sushant Lok'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2509133425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[241] = 'Sushant Lok'

In [384]:
df[df['sector'] == 'Dhorka'].index

Index([269, 613, 1383], dtype='int64')

In [385]:
df['sector'].iloc[[269, 613, 1383]] = 'Sector 92'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3889962109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[269, 613, 1383]] = 'Sector 92'

In [386]:
df[df['sector'] == 'Uppal Southend'].index

Index([271, 1167, 1480], dtype='int64')

In [387]:
df['sector'].iloc[[271, 1167, 1480]] = 'Sector 49'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2773819566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[271, 1167, 1480]] = 'Sector 49'

In [388]:
df[df['sector'] == 'Dhani'].index

Index([273, 615], dtype='int64')

In [389]:
df['sector'].iloc[[273, 615]] = 'Sector 72'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\899468239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[273, 615]] = 'Sector 72'

In [390]:
df[df['sector'] == 'Parsvnath Exotica']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
284,284,"4 BHK Apartment for Sale in Tulip Monsella, Pa...",4,Parsvnath Exotica,"9.39 Cr25,500 per sqft",2700 sqft,NAN,NAN,18 out of 36,Resale,Furnished,North - East,Tulip Monsella,Freehold,2 Covered,5,4,Garden/Park,Poss. by Jul '26
843,843,"2 BHK Apartment for Sale in TDI Ourania, Parsv...",2,Parsvnath Exotica,"2.20 Cr17,671 per sqft",1245 sqft,NAN,Ready to Move,8 out of 12,Resale,Semi-Furnished,North - East,TDI Ourania,Freehold,1 Covered,2,2,"Garden/Park, Pool, Main Road",NAN

In [391]:
df['sector'].iloc[284] = 'Sector 53'
df['sector'].iloc[843] = 'Sector 53'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1201250367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[284] = 'Sector 53'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1201250367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[843] = 'Sector 53'

In [392]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'South City 1', 'Sushant Lok',
       'Sector 47', 'Sector 50', nan, 'Phase 5 DLF', 'Sector 43',
       'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35', 'South City 2',
       'Sector 32', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF',
       'Block C Sushant Lok Phase 1', 'Sector 45', 'Block G Sector 57',
       'Block D Sector 49', 'Sushant Lok 2 Sector 55', 'Palam Vihar',
       'Urban Estate Sector 40', 'Sector 31', 'Sector 42',
       'Block G DLF Phase 1', 'Fazilpur Jharsa', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5 Sohna', 'Sector 22B',
       'Block A Sushant Lok Phase 1', 'Block A Sushant Lok 3',
       'Phase 4 DLF', 'Sector 55', '> 10 BHK Sector 57',
       'Block B Ardee City', 'Sector 27', 'Sector 28', 'Vatika City',
       'Dwarka Expressway', 'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [393]:
df[df['sector']=='Block C Sushant Lok Phase 1'].index

Index([261, 370, 467, 496, 626, 875, 1031], dtype='int64')

In [394]:
df['sector'].iloc[[261, 370, 467, 496, 626, 875, 1031]] = 'Sushant Lok'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1956772545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[261, 370, 467, 496, 626, 875, 1031]] = 'Sushant Lok'

In [395]:
df[df['sector'] == 'Gwal Pahari']['bhk']

249     3 BHK Builder Floor for Sale in Gwal Pahari Gu...
779       3 BHK Apartment for Sale in Gwal Pahari Gurgaon
1011    2 BHK Apartment for Sale in Ansal Valley View ...
1150    2 BHK Apartment for Sale in Suncity Vatsal Val...
1172    4 BHK Apartment for Sale in Paras Quartier The...
1245    2 BHK Apartment for Sale in Ansal Valley View ...
1451    2 BHK Apartment for Sale in Suncity Vatsal Val...
Name: bhk, dtype: object

In [396]:
df['sector'].iloc[[1150,1172,1451]] = 'Sector 2'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\198115074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1150,1172,1451]] = 'Sector 2'

In [397]:
df[df['sector'] == 'Block G Sector 57']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
291,291,3 BHK Builder Floor for Sale in Block G Sector...,3,Block G Sector 57,"1.90 Cr10,349 per sqft",1490 sqft,NAN,Ready to Move,3 out of 4,New Property,Semi-Furnished,East,NAN,Freehold,"2 Covered,",3,2,"Garden/Park, Main Road",NAN

In [398]:
df['sector'].iloc[291] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2113307339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[291] = 'Sector 57'

In [399]:
df[df['sector']== 'Block D Sector 49']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
292,292,4 BHK Builder Floor for Sale in Block D Sector...,4,Block D Sector 49,"5.70 Cr13,902 per sqft",3400 sqft,NAN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,NAN,Freehold,"3 Covered,",5,2,"Garden/Park, Main Road",NAN

In [400]:
df['sector'].iloc[292] = 'Sector 49'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\719603107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[292] = 'Sector 49'

In [401]:
df[df['sector'] == 'Sector 32 Sohna']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32 Sohna,"2.81 Cr15,707 per sqft",NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
15,15,2 BHK Flat for Sale in Central Park Flower V...,2,Sector 32 Sohna,"1.84 Cr16,909 per sqft",NAN,1093 sqft,NAN,NAN,New Property,Unfurnished,NAN,Central Park Flower Valley,NAN,NAN,2,2,NAN,NAN

In [402]:
df['sector'].unique()

array(['Sector 71', 'Sector 32 Sohna', 'Sector 111', 'Sector 61',
       'Sector 63A', 'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63',
       'Sector 76', 'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81',
       'Sector 113', 'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53',
       'Sector 51', 'Sector 84', 'Sector 22', 'Sector 2 Sohna',
       'Phase 1 DLF', 'Phase 2 DLF', 'Sector 93', 'Sector 102',
       'Sector 92', 'Sector 57', 'South City 1', 'Sushant Lok',
       'Sector 47', 'Sector 50', nan, 'Phase 5 DLF', 'Sector 43',
       'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35', 'South City 2',
       'Sector 32', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45',
       'Sushant Lok 2 Sector 55', 'Palam Vihar', 'Urban Estate Sector 40',
       'Sector 31', 'Sector 42', 'Block G DLF Phase 1', 'Fazilpur Jharsa',
       'Sector 91', 'Sector 52', 'Sector 11', 'Sector 5 Sohna',
       'Sector 22B', 'Block A Sushant Lok Phase 1',
       'Block A Sushant Lok 3', 'Phase 4 DLF', 'Sector 55',
       '> 10 BHK Sector 57', 'Block B Ardee City', 'Sector 27',
       'Sector 28', 'Vatika City', 'Dwarka Expressway',
       'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula', 'Sector 5',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'Sector 2', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [403]:
df['sector'].iloc[[2,15]] = 'Sector 32'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1994583681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[2,15]] = 'Sector 32'

In [404]:
df[df['sector'] == 'Sector 2 Sohna'].index

Index([57, 211, 213, 236, 983, 1218, 1267], dtype='int64')

In [405]:
df['sector'].iloc[[57, 211, 213, 236, 983, 1218, 1267]] = 'Sector 2'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2776508467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[57, 211, 213, 236, 983, 1218, 1267]] = 'Sector 2'

In [406]:
df[df['sector'] == 'Sushant Lok 2 Sector 55'].index

Index([293, 398, 440, 708, 864, 1198, 1439], dtype='int64')

In [407]:
df['sector'].iloc[[293, 398, 440, 708, 864, 1198, 1439]] = 'Sector 55'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3566606610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[293, 398, 440, 708, 864, 1198, 1439]] = 'Sector 55'

In [408]:
df[df['sector'] == 'Urban Estate Sector 40'].index

Index([296, 1298, 1303], dtype='int64')

In [409]:
df['sector'].iloc[[296, 1298, 1303]] = 'Sector 40'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1840495355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[296, 1298, 1303]] = 'Sector 40'

In [410]:
df[df['sector']=='Block G DLF Phase 1']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
301,301,3 BHK Builder Floor for Sale in Block G DLF Ph...,3,Block G DLF Phase 1,"3.65 Cr20,278 per sqft",1985 sqft,NAN,Ready to Move,4 out of 4,New Property,Semi-Furnished,East,NAN,Freehold,2 Covered,3,2,Main Road,NAN

In [411]:
df['sector'].iloc[301] = 'DLF Phase 1'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2415961904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[301] = 'DLF Phase 1'

In [412]:
df[df['sector'] == 'Fazilpur Jharsa']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
304,304,"4 BHK Apartment for Sale in Tata Primanti, Faz...",4,Fazilpur Jharsa,"6 Cr18,462 per sqft",2950 sqft,NAN,Ready to Move,2 out of 4,Resale,Semi-Furnished,East,Tata Primanti,Freehold,"1 Covered,",4,3,"Garden/Park, Pool, Main Road",NAN

In [413]:
df['sector'].iloc[304] = 'Sector 72'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3148869556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[304] = 'Sector 72'

In [414]:
df[df['sector'] == 'Sector 5 Sohna']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
326,326,3 BHK Apartment for Sale in Sector 5 Sohna Gur...,3,Sector 5 Sohna,"29 Lac4,500 per sqft",645 sqft,NAN,NAN,4 out of 18,New Property,Semi-Furnished,North - West,NAN,Freehold,"1 Covered,",2,2,"Garden/Park, Pool, Main Road",Poss. by Mar '27
1066,1066,2 BHK Apartment for Sale in Sector 5 Sohna Gur...,2,Sector 5 Sohna,"28 Lac5,091 per sqft",480 sqft,NAN,Ready to Move,2 out of 12,Resale,Unfurnished,NAN,NAN,NAN,NAN,2,1,NAN,NAN

In [415]:
df['sector'].iloc[[326,1066]] = 'Sector 5'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2354795872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[326,1066]] = 'Sector 5'

In [416]:
df[(df['sector'] == 'Block A Sushant Lok Phase 1')].index

Index([335, 420, 866, 1387], dtype='int64')

In [417]:
df['sector'].iloc[[335, 420, 866, 1387]] = 'Sector 43'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1955748194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[335, 420, 866, 1387]] = 'Sector 43'

In [418]:
df[df['sector'] == 'Sushant Lok']['bhk'].index

Index([  80,  241,  261,  263,  319,  370,  431,  467,  496,  508,  611,  626,
        875, 1031, 1041, 1210],
      dtype='int64')

1,2,5,7,8,11,12,13 -> phase1

In [419]:
df['sector'].iloc[[241,261,370,467,496,626,875,1031,80, 263, 319, 431, 508, 611, 1041, 1210]] = 'Sector 43'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2019129846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[241,261,370,467,496,626,875,1031,80, 263, 319, 431, 508, 611, 1041, 1210]] = 'Sector 43'

In [420]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Block A Sushant Lok 3',
       'Phase 4 DLF', '> 10 BHK Sector 57', 'Block B Ardee City',
       'Sector 27', 'Sector 28', 'Vatika City', 'Dwarka Expressway',
       'Block F DLF Phase 1', 'Block Q South City 1',
       'Block B Sushant Lok 3', 'Sector 73',
       'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [421]:
df[df['sector'] == 'Sohna Road'].index

Index([253, 384, 417, 446, 484, 622, 657, 859, 1064, 1131, 1165, 1192, 1372,
       1427],
      dtype='int64')

1,7 = Sector 38 <br>
4,8,10 = Sector 49
1427 = sector 92

In [422]:
df['sector'].iloc[[384,859]] = 'Sector 38'
df['sector'].iloc[[484,1064,1165]] = 'Sector 49'
df['sector'].iloc[1427] = 'Sector 92'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1662435940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[384,859]] = 'Sector 38'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1662435940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[484,1064,1165]] = 'Sector 49'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1662435940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1427] = 'Sector 92'

In [423]:
df[df['sector'] == 'Block A Sushant Lok 3'].index

Index([337, 468], dtype='int64')

In [424]:
df['sector'].iloc[[337, 468]]='Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2879640901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[337, 468]]='Sector 57'

In [425]:
df[df['sector'] == '> 10 BHK Sector 57']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
349,349,> 10 BHK Builder Floor for Sale in Sector 57 G...,>,> 10 BHK Sector 57,"2.95 Cr18,947 per sqft",156 sqyrd,NAN,Ready to Move,4 out of 4,New Property,Furnished,North,NAN,Freehold,8 Covered,8,6,Garden/Park,NAN

In [426]:
df['sector'].iloc[349] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\4149260072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[349] = 'Sector 57'

In [427]:
df[df['sector'] == 'Block B Ardee City']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
356,356,3 BHK Builder Floor for Sale in Block B Ardee ...,3,Block B Ardee City,"1.65 Cr12,941 per sqft",1257 sqft,NAN,Ready to Move,2 out of 3,New Property,Semi-Furnished,North - East,NAN,Co-operative Society,NAN,3,3,Main Road,NAN

In [428]:
df['sector'].iloc[356] = 'Sector 52'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1051325301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[356] = 'Sector 52'

In [429]:
df[df['sector'] == 'Vatika City']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
367,367,4 BHK Apartment for Sale in Vatika City Gurgaon,4,Vatika City,"3.60 Cr14,870 per sqft",1950 sqft,NAN,Ready to Move,7 out of 7,Resale,Unfurnished,South - East,NAN,Freehold,NAN,4,2,"Garden/Park, Pool",NAN

In [430]:
df['sector'].iloc[367] = 'Sector 49'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\594220891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[367] = 'Sector 49'

In [431]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Block F DLF Phase 1',
       'Sector 38', 'Block Q South City 1', 'Block B Sushant Lok 3',
       'Sector 73', 'Ashok Vihar Phase 3 Extension', 'Huda Sector 23',
       'Part 1 Sector 15', 'Ghata', 'Block H Sector 82', 'Sector 3A',
       'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Block J Mayfield Garden', 'Greenwood City', 'Pataudi Road',
       'Sector 14', 'Dharampur', 'Sector 23', 'bptp park terra',
       'Studio Sector 53', 'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', 'Sector 3', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [432]:
df[df['sector'] == 'Block F DLF Phase 1'].index

Index([382, 545, 551], dtype='int64')

In [433]:
df['sector'].iloc[[382, 545, 551]] = 'DLF Phase 1'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2997336162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[382, 545, 551]] = 'DLF Phase 1'

In [434]:
df[df['sector'] == 'Block Q South City 1']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
386,386,4 BHK Builder Floor for Sale in Block Q South ...,4,Block Q South City 1,"3.90 Cr12,000 per sqft",2350 sqft,NAN,Ready to Move,2 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,2 Covered,5,2,Garden/Park,NAN

In [435]:
df['sector'].iloc[386] = 'South City 1'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3663375392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[386] = 'South City 1'

In [436]:
df[df['sector'] == 'Block B Sushant Lok 3']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
387,387,4 BHK Builder Floor for Sale in Block B Sushan...,4,Block B Sushant Lok 3,"2.85 Cr13,571 per sqft",2000 sqft,NAN,Ready to Move,2 out of 4,New Property,Semi-Furnished,West,NAN,Freehold,"2 Covered,",4,2,"Garden/Park, Main Road",NAN
621,621,3 BHK Builder Floor for Sale in Block B Sushan...,3,Block B Sushant Lok 3,"2.50 Cr10,417 per sqft",2200 sqft,NAN,Ready to Move,2 out of 4,Resale,Semi-Furnished,West,NAN,Freehold,"1 Covered,",3,2,Garden/Park,NAN

In [437]:
df['sector'].iloc[[387,621]] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\630774570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[387,621]] = 'Sector 57'

In [438]:
df[df['sector'] == 'Ashok Vihar Phase 3 Extension']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
394,394,3 BHK Builder Floor for Sale in Ashok Vihar Ph...,3,Ashok Vihar Phase 3 Extension,"30 Lac4,286 per sqft",NAN,700 sqft,Ready to Move,1 out of 4,Resale,Furnished,NAN,NAN,Power Of Attorney,1 Covered,2,NAN,NAN,NAN

In [439]:
df['sector'].iloc[394] = 'Sector 3'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1830995530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[394] = 'Sector 3'

In [440]:
df[df['sector'] == 'Huda Sector 23']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
400,400,4 BHK Builder Floor for Sale in Huda Sector 23...,4,Huda Sector 23,"2.29 Cr9,957 per sqft",1850 sqft,NAN,Ready to Move,1 out of 4,Resale,Unfurnished,East,NAN,Freehold,NAN,3,2,"Garden/Park, Main Road",NAN

In [441]:
df['sector'].iloc[400] = 'Sector 23'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2087016173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[400] = 'Sector 23'

In [442]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Sector 38', 'Sector 73',
       'Sector 3', 'Sector 23', 'Part 1 Sector 15', 'Ghata',
       'Block H Sector 82', 'Sector 3A', 'Sector 17A', 'Sector 4',
       'Sector 7', 'Sector 95A', 'Block J Mayfield Garden',
       'Greenwood City', 'Pataudi Road', 'Sector 14', 'Dharampur',
       'bptp park terra', 'Studio Sector 53', 'Huda Colony Sector 46',
       'Block M DLF Colony', 'emaar emerald estate', 'Sector 30',
       'DLF City', 'tulip violet', 'Sikandarpur Badha',
       'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', '6 BHK Saraswati Enclave', '', 'Sector 74',
       'Pocket C Palam Vihar', 'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 15', 'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [443]:
df[df['sector'] == 'Part 1 Sector 15']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
401,401,3 BHK Builder Floor for Sale in Part 1 Sector ...,3,Part 1 Sector 15,"2.30 Cr12,105 per sqft",1800 sqft,NAN,Ready to Move,4 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,"2 Covered,",3,2,"Garden/Park, Main Road",NAN
587,587,3 BHK Builder Floor for Sale in Part 1 Sector ...,3,Part 1 Sector 15,"2 Cr10,526 per sqft",1700 sqft,NAN,Ready to Move,4 out of 5,New Property,Semi-Furnished,North - East,NAN,Freehold,NAN,3,2,Main Road,NAN

In [444]:
df['sector'].iloc[[401,587]] = 'Sector 15'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3537603109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[401,587]] = 'Sector 15'

In [445]:
df[df['sector'] == 'Ghata']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
405,405,3 BHK Apartment for Sale in Ghata Gurgaon,3,Ghata,"3.56 Cr14,989 per sqft",1925 sqft,NAN,Ready to Move,3 out of 18,Resale,Semi-Furnished,East,NAN,Freehold,"2 Covered,",4,4,"Garden/Park, Main Road",NAN

In [446]:
df['sector'].iloc[405] = 'Sector 58'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2557361229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[405] = 'Sector 58'

In [447]:
df[df['sector'] == 'Block J Mayfield Garden'].index

Index([433, 549, 966], dtype='int64')

In [448]:
df['sector'].iloc[[433, 549, 966]] = 'Sector 51'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2325684637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[433, 549, 966]] = 'Sector 51'

In [449]:
df[df['sector'] == 'Greenwood City'].index

Index([443, 570, 1122], dtype='int64')

In [450]:
df['sector'].iloc[[443, 570, 1122]] = 'Sector 45'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3438428470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[443, 570, 1122]] = 'Sector 45'

In [451]:
df[df['sector'] == 'Pataudi Road']['bhk']

447     2 BHK Apartment for Sale in Meoka, Pataudi Roa...
1403    3 BHK Apartment for Sale in Tulip Ace, Pataudi...
1421    2 BHK Apartment for Sale in Sector 95A, Pataud...
Name: bhk, dtype: object

In [452]:
df['sector'].iloc[1421] = 'Sector 95A'
df['sector'].iloc[447] = 'Sector 92'
df['sector'].iloc[1403] = 'Sector 89'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1762359127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1421] = 'Sector 95A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1762359127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[447] = 'Sector 92'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1762359127.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1403] = 'Sector 89'

In [453]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Sector 38', 'Sector 73',
       'Sector 3', 'Sector 23', 'Sector 15', 'Block H Sector 82',
       'Sector 3A', 'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Sector 14', 'Dharampur', 'bptp park terra', 'Studio Sector 53',
       'Huda Colony Sector 46', 'Block M DLF Colony',
       'emaar emerald estate', 'Sector 30', 'DLF City', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', '6 BHK Saraswati Enclave', '', 'Sector 74',
       'Pocket C Palam Vihar', 'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [454]:
df[df['sector'] == 'Dharampur']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
452,452,"3 BHK Apartment for Sale in Sobha City, Dharam...",3,Dharampur,"4.70 Cr20,060 per sqft",2343 sqft,NAN,Ready to Move,12 out of 25,Resale,Unfurnished,North - East,Sobha City,Freehold,2 Covered,3,2,"Garden/Park, Main Road",NAN

In [455]:
df['sector'].iloc[452] = 'Sector 108'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\4106590434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[452] = 'Sector 108'

In [456]:
df[df['sector'] == 'bptp park terra']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
466,466,"4 BHK Apartment for Sale in BPTP Terra, bptp p...",4,bptp park terra,"2.40 Cr10,954 per sqft",1850 sqft,NAN,Ready to Move,4 out of 20,Resale,Unfurnished,East,BPTP Terra,Freehold,NAN,4,4,"Pool, Garden/Park, Main Road",NAN

In [457]:
df['sector'].iloc[466] = 'Sector 37 D'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\473579233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[466] = 'Sector 37 D'

In [458]:
df[df['sector'] == 'Studio Sector 53']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
475,475,Studio Apartment for Sale in Sector 53 Gurgaon,Studio,Studio Sector 53,"21 Lac10,500 per sqft",19 sqm,NAN,Ready to Move,4 out of 19,New Property,Semi-Furnished,East,NAN,Leasehold,NAN,1,1,Main Road,NAN

In [459]:
df['sector'].iloc[475] = 'Sector 53'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1814250603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[475] = 'Sector 53'

In [460]:
df[df['sector'] == 'Huda Colony Sector 46']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
477,477,3 BHK Builder Floor for Sale in Huda Colony Se...,3,Huda Colony Sector 46,"2.50 Cr10,562 per sqft",1750 sqyrd,NAN,Ready to Move,3 out of 4,New Property,Semi-Furnished,South - East,NAN,Freehold,"2 Covered,",3,2,"Garden/Park, Main Road",NAN
568,568,3 BHK Builder Floor for Sale in Huda Colony Se...,3,Huda Colony Sector 46,"1.75 Cr9,532 per sqft",204 sqyrd,NAN,Ready to Move,1 out of 3,Resale,Semi-Furnished,East,NAN,NAN,NAN,3,2,Main Road,NAN

In [461]:
df['sector'].iloc[[477,568]] ='Sector 46'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1160727446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[477,568]] ='Sector 46'

In [462]:
df[df['sector'] == 'Block M DLF Colony']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
489,489,3 BHK Builder Floor for Sale in Block M DLF Co...,3,Block M DLF Colony,"3 Cr14,634 per sqft",2000 sqft,NAN,Ready to Move,3 out of 3,Resale,Furnished,North,NAN,Freehold,NAN,3,2,Garden/Park,NAN

In [463]:
df['sector'].iloc[489] = 'Sector 14'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3225918216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[489] = 'Sector 14'

In [464]:
df[df['sector'] == 'emaar emerald estate']['bhk']

492    2 BHK Apartment for Sale in emaar emerald esta...
Name: bhk, dtype: object

In [465]:
df['sector'].iloc[492] = 'Sector 65'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2793670834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[492] = 'Sector 65'

In [466]:
df[df['sector'] == 'DLF City']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
502,502,4 BHK Apartment for Sale in DLF City Gurgaon,4,DLF City,"2.75 Cr15,714 per sqft",1500 sqft,NAN,Ready to Move,19 out of 20,Resale,Unfurnished,East,NAN,Freehold,NAN,4,2,"Garden/Park, Main Road",NAN
985,985,"3 BHK Apartment for Sale in DLF Richmond Park,...",3,DLF City,"4.50 Cr21,429 per sqft",2100 sqft,NAN,Ready to Move,10 out of 21,Resale,Semi-Furnished,North,DLF Richmond Park,Freehold,"1 Covered,",3,3,"Garden/Park, Pool",NAN

In [467]:
df['sector'].iloc[502] = 'Sector 24'
df['sector'].iloc[985] = 'Sector 43'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1218156165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[502] = 'Sector 24'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1218156165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[985] = 'Sector 43'

In [468]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Sector 38', 'Sector 73',
       'Sector 3', 'Sector 23', 'Sector 15', 'Block H Sector 82',
       'Sector 3A', 'Sector 17A', 'Sector 4', 'Sector 7', 'Sector 95A',
       'Sector 14', 'Sector 37 D', 'Sector 30', 'tulip violet',
       'Sikandarpur Badha', 'Phase 3 Sushant Lok', 'Central Park 2',
       'vatika city homes Sector-83 gurgaon', 'Block N Mayfield Garden',
       'Sohna', 'Satya the legend', 'Sector 41', 'Sector 70',
       'Phase 1 Ashok Vihar', 'DLF City 4', 'Sector 6', 'Sector 68',
       'Block C Sushant Lok 3', 'Ghatta Kanarpur', 'Sector 22A', 'Badha',
       'Behrampur', 'Pocket A Palam Vihar', 'Sector 1 IMT Manesar',
       '9 BHK Ambedkar Nagar Sector 9', 'Huda Sector Sector 55',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', '6 BHK Saraswati Enclave', '', 'Sector 74',
       'Pocket C Palam Vihar', 'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [469]:
df[df['sector'] == 'tulip violet']['bhk']

503    3 BHK Apartment for Sale in tulip violet Gurgaon
Name: bhk, dtype: object

In [470]:
df['sector'].iloc[503] = 'Sector 69'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2041111424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[503] = 'Sector 69'

In [471]:
df[df['sector'] == 'Block H Sector 82']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
406,406,3 BHK Apartment for Sale in Block H Sector 82 ...,3,Block H Sector 82,"1.85 Cr9,856 per sqft",1310 sqft,NAN,Ready to Move,17 out of 17,Resale,Unfurnished,North,NAN,Freehold,NAN,3,3,Main Road,NAN

In [472]:
df['sector'].iloc[406] = 'Sector 82'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2955322497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[406] = 'Sector 82'

In [473]:
df[df['sector'] == 'Sikandarpur Badha']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
506,506,"2 BHK Apartment for Sale in SS The Leaf, Sikan...",2,Sikandarpur Badha,"1.60 Cr9,756 per sqft",1350 sqft,NAN,Ready to Move,18 out of 26,Resale,Unfurnished,North - East,SS The Leaf,Freehold,1 Covered,2,3,Garden/Park,NAN
878,878,"4 BHK Apartment for Sale in SS The Leaf, Sikan...",4,Sikandarpur Badha,"2.70 Cr9,602 per sqft",2000 sqft,NAN,Ready to Move,16 out of 26,Resale,Unfurnished,North - East,SS The Leaf,Freehold,2 Covered,4,3,Garden/Park,NAN

In [474]:
df['sector'].iloc[[506,878]] = 'Sector 85'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2589915402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[506,878]] = 'Sector 85'

In [475]:
df[df['sector'] == 'Phase 3 Sushant Lok']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
516,516,3 BHK Apartment for Sale in Phase 3 Sushant Lo...,3,Phase 3 Sushant Lok,"2.15 Cr12,647 per sqft",1700 sqft,NAN,Ready to Move,2 out of 19,Resale,Semi-Furnished,North - East,NAN,Freehold,1 Covered,3,3,Garden/Park,NAN

In [476]:
df['sector'].iloc[516] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1444273110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[516] = 'Sector 57'

In [477]:
df[df['sector'] == 'Central Park 2']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
518,518,2 BHK Apartment for Sale in Central Park Resor...,2,Central Park 2,"3.30 Cr23,272 per sqft",1100 sqft,NAN,Ready to Move,8 out of 15,Resale,Semi-Furnished,North - East,Central Park Resorts Sky Villas,Freehold,1 Covered,2,2,"Garden/Park, Pool, Main Road",NAN

In [478]:
df['sector'].iloc[518] = 'Sector 48'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1406180871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[518] = 'Sector 48'

In [479]:
df[df['sector'] == 'vatika city homes Sector-83 gurgaon']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
519,519,3 BHK Apartment for Sale in vatika city homes ...,3,vatika city homes Sector-83 gurgaon,"1.50 Cr8,108 per sqft",1550 sqft,NAN,Ready to Move,3 out of 4,Resale,Semi-Furnished,North - East,NAN,Freehold,NAN,3,3,"Garden/Park, Main Road",NAN

In [480]:
df['sector'].iloc[519] = 'Sector 83'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3393987726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[519] = 'Sector 83'

In [481]:
df[df['sector'] == 'Block N Mayfield Garden']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
520,520,3 BHK Builder Floor for Sale in Block N Mayfie...,3,Block N Mayfield Garden,"1.52 Cr7,600 per sqft",1900 sqft,NAN,Ready to Move,1 out of 3,Resale,Semi-Furnished,North,NAN,Freehold,1 Open,3,2,Main Road,NAN

In [482]:
df['sector'].iloc[520] = 'Sector 51'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3955049402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[520] = 'Sector 51'

In [483]:
df[df['sector'] == 'Sohna']['bhk']

525         2 BHK Builder Floor for Sale in Sohna Gurgaon
709                   Apartment for Sale in Sohna Gurgaon
795         2 BHK Builder Floor for Sale in Sohna Gurgaon
831     2 BHK Apartment for Sale in Eldeco Acclaim, So...
940     2 BHK Apartment for Sale in HCBS Sports Ville,...
1017    3 BHK Apartment for Sale in Central Park Flowe...
1032    2 BHK Apartment for Sale in HCBS Sports Ville,...
1132    2 BHK Apartment for Sale in HCBS Sports Ville,...
1161            2 BHK Apartment for Sale in Sohna Gurgaon
1166            2 BHK Apartment for Sale in Sohna Gurgaon
1221    2 BHK Apartment for Sale in Eldeco Acclaim, So...
1287    3 BHK Apartment for Sale in Signature Global P...
1432    3 BHK Apartment for Sale in Central Park Flowe...
Name: bhk, dtype: object

In [484]:
df['sector'].iloc[[525,709,795,1161,1166,]] = 'Sector 38'
df['sector'].iloc[[831,940,1032,1132,1221]] = 'Sector 2'
df['sector'].iloc[[1017,1432]] = 'Sector 32'
df['sector'].iloc[1287] = 'Sector 36'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\666479874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[525,709,795,1161,1166,]] = 'Sector 38'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\666479874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[831,940,1032,1132,1221]] = 'Sector 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\666479874.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1017,1432]] = 'Sector 32'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\666479874.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1287] = 'Sector 36'

In [485]:
df[df['sector'] == 'Satya the legend']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
532,532,3 BHK Apartment for Sale in Satya the legend G...,3,Satya the legend,"3.10 Cr13,080 per sqft",2100 sqft,NAN,Ready to Move,10 out of 14,Resale,Semi-Furnished,East,NAN,Freehold,NAN,3,3,"Pool, Garden/Park, Main Road",NAN

In [486]:
df['sector'].iloc[532] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\185893015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[532] = 'Sector 57'

In [487]:
df[df['sector'] == 'Phase 1 Ashok Vihar']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
539,539,3 BHK Apartment for Sale in Phase 1 Ashok Viha...,3,Phase 1 Ashok Vihar,"2.10 Cr10,106 per sqft",NAN,2078 sqft,NAN,4 out of 17,Resale,Semi-Furnished,North - East,NAN,Freehold,NAN,4,5,Main Road,Poss. by Dec '24
767,767,2 BHK Apartment for Sale in Phase 1 Ashok Viha...,2,Phase 1 Ashok Vihar,"50 Lac8,333 per sqft",580 sqft,NAN,Ready to Move,2 out of 5,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,2,1,NAN,NAN

In [488]:
df['sector'].iloc[[539,767]] = 'Sector 5'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3170238890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[539,767]] = 'Sector 5'

In [489]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Sector 38', 'Sector 73',
       'Sector 3', 'Sector 23', 'Sector 15', 'Sector 3A', 'Sector 17A',
       'Sector 4', 'Sector 7', 'Sector 95A', 'Sector 14', 'Sector 37 D',
       'Sector 30', 'Sector 41', 'Sector 70', 'DLF City 4', 'Sector 6',
       'Sector 68', 'Block C Sushant Lok 3', 'Ghatta Kanarpur',
       'Sector 22A', 'Badha', 'Behrampur', 'Pocket A Palam Vihar',
       'Sector 1 IMT Manesar', '9 BHK Ambedkar Nagar Sector 9',
       'Huda Sector Sector 55', 'Block M South City 1',
       'Block C South City 1', 'Golf Course  Road', 'Sector 95',
       'Sector 12A', 'Block F Sector 57', 'Pocket F Palam Vihar',
       'AWHO Shanti Vihar', 'Urban Estate Sector 4', 'Block F',
       'Naharpur Road', 'Studio Sector 39', '6 BHK Saraswati Enclave', '',
       'Sector 74', 'Pocket C Palam Vihar',
       'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Sector 86', 'Signature global sector 92',
       'Sector-89 A', 'sp units ews dlf phase 4 sector 43',
       'Mehrauli  Road', 'Sector 9', 'Sector-86', 'Sector 82A',
       'Ambience Island', 'Sector 26A', 'Ninex Rmg Residency',
       'Sector 36', 'Mianwali Colony', 'M3M Golf Hills',
       'Block B Sector 56', 'Anand society', 'Block B', 'Sector 88',
       'Block B1 Sector 57', 'Sector 39', 'Sector-99', 'Sriflex city',
       'sector 65', 'Block A Sector 30', 'Block F Suncity',
       'Sector 1 Palam Vihar', 'Studio Sector 31', 'dlf gardencity',
       'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [490]:
df[df['sector'] == 'DLF City 4']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
548,548,4 BHK Builder Floor for Sale in DLF City 4 Gur...,4,DLF City 4,"5.25 Cr23,864 per sqft",1600 sqft,NAN,Ready to Move,3 out of 4,Resale,Semi-Furnished,East,NAN,Freehold,2 Covered,4,3,"Garden/Park, Main Road",NAN
550,550,3 BHK Builder Floor for Sale in DLF City 4 Gur...,3,DLF City 4,"3.25 Cr13,374 per sqft",270 sqyrd,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,East,NAN,Freehold,"2 Covered,",4,2,Main Road,NAN

In [491]:
df['sector'].iloc[[548,550]] = 'Sector 28'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3584346991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[548,550]] = 'Sector 28'

In [492]:
df[df['sector'] == 'Block C Sushant Lok 3']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
562,562,3 BHK Builder Floor for Sale in Block C Sushan...,3,Block C Sushant Lok 3,"1.60 Cr9,697 per sqft",1350 sqft,NAN,Ready to Move,Ground out of 3,Resale,Semi-Furnished,East,NAN,Freehold,1 Open,3,2,"Garden/Park, Main Road",NAN
803,803,3 BHK Builder Floor for Sale in Block C Sushan...,3,Block C Sushant Lok 3,"1.80 Cr13,846 per sqft",1500 sqft,NAN,Ready to Move,Ground out of 3,Resale,Unfurnished,North - West,NAN,Freehold,"1 Covered,",3,NAN,"Garden/Park, Main Road",NAN

In [493]:
df['sector'].iloc[[562,803]] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\884669978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[562,803]] = 'Sector 57'

In [494]:
df[df['sector'] == 'Ghatta Kanarpur']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
571,571,3 BHK Apartment for Sale in Ireo The Grand Arc...,3,Ghatta Kanarpur,"4.50 Cr20,766 per sqft",1900 sqft,NAN,Ready to Move,15 out of 29,Resale,Semi-Furnished,North - East,Ireo The Grand Arch,Freehold,1 Covered,3,3,Garden/Park,NAN

In [495]:
df['sector'].iloc[571] = 'Sector 58'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3251752946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[571] = 'Sector 58'

In [496]:
df[df['sector'] == 'Badha']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
580,580,3 BHK Apartment for Sale in Badha Gurgaon,3,Badha,"1.99 Cr10,311 per sqft",1800 sqft,NAN,Ready to Move,8 out of 19,Resale,Semi-Furnished,East,NAN,NAN,1 Covered,3,4,"Garden/Park, Main Road",NAN
807,807,2 BHK Apartment for Sale in Badha Gurgaon,2,Badha,"60 Lac6,000 per sqft",599 sqft,NAN,Ready to Move,5 out of 14,Resale,Unfurnished,East,NAN,Freehold,1 Open,2,1,Garden/Park,NAN
944,944,2 BHK Apartment for Sale in Pyramid Urban Home...,2,Badha,"62 Lac12,016 per sqft",600 sqft,NAN,Ready to Move,7 out of 13,Resale,Semi-Furnished,East,Pyramid Urban Homes 2,Freehold,NAN,2,1,"Garden/Park, Main Road",NAN

In [497]:
df['sector'].iloc[[580,807,944]] = 'Sector 86'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\58390686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[580,807,944]] = 'Sector 86'

In [498]:
df[df['sector'] == 'Behrampur']['bhk']

589    4 BHK Apartment for Sale in Elevate, Behrampur...
Name: bhk, dtype: object

In [499]:
df['sector'].iloc[589] = 'Sector 34'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\863753884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[589] = 'Sector 34'

In [500]:
df[df['sector'] == 'Pocket A Palam Vihar']['bhk'].iloc[0]

'3 BHK Builder Floor for Sale in Pocket A Palam Vihar Gurgaon'

In [501]:
df['sector'].iloc[592] = 'Sector 2'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3921209312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[592] = 'Sector 2'

In [502]:
df[df['sector'] == 'Sector 1 IMT Manesar']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
595,595,3 BHK Apartment for Sale in Sector 1 IMT Manes...,3,Sector 1 IMT Manesar,"80 Lac5,161 per sqft",1100 sqft,NAN,Ready to Move,6 out of 12,Resale,Unfurnished,North,NAN,Freehold,NAN,3,4,NAN,NAN

In [503]:
df['sector'].iloc[595] = 'Sector 1'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\709860067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[595] = 'Sector 1'

In [504]:
df[df['sector'] == '9 BHK Ambedkar Nagar Sector 9']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
596,596,9 BHK Builder Floor for Sale in Ambedkar Nagar...,9,9 BHK Ambedkar Nagar Sector 9,"2.80 Cr6,362 per sqft",4351 sqft,NAN,Ready to Move,3 out of 3,Resale,Semi-Furnished,East,NAN,Freehold,NAN,6,3,"Garden/Park, Main Road",NAN

In [505]:
df['sector'].iloc[596] = 'Sector 9'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3436865324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[596] = 'Sector 9'

In [506]:
df[df['sector'] == 'Huda Sector Sector 55']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
598,598,3 BHK Builder Floor for Sale in Huda Sector Se...,3,Huda Sector Sector 55,"1.60 Cr8,715 per sqft",204 sqyrd,NAN,Ready to Move,3 out of 4,Resale,Semi-Furnished,North - East,NAN,Freehold,"1 Covered,",3,3,"Garden/Park, Main Road",NAN

In [507]:
df['sector'].iloc[598] = 'Sector 55'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\4167543569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[598] = 'Sector 55'

In [508]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57',
       'South City 1', 'Sector 43', 'Sector 47', 'Sector 50', nan,
       'Phase 5 DLF', 'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35',
       'South City 2', 'Sector 36A', 'DLF Phase 1', 'sector 103',
       'DLF Cyber City', 'Sector 56', 'Sector 24', 'Sector 69',
       'Sector 46', 'Sector 62', 'Sector 85', 'Sector 108', 'Sector 48',
       'Sector 33', 'Sector 67A', 'Sector 66', 'Sector 58', 'Sector 70A',
       'Sector 72', 'Sector 23A', 'Gwal Pahari', 'Sohna Road',
       'Sector 40', 'Sector 82', 'Phase 3 DLF', 'Sector 45', 'Sector 55',
       'Palam Vihar', 'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52',
       'Sector 11', 'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27',
       'Sector 28', 'Dwarka Expressway', 'Sector 38', 'Sector 73',
       'Sector 3', 'Sector 23', 'Sector 15', 'Sector 3A', 'Sector 17A',
       'Sector 4', 'Sector 7', 'Sector 95A', 'Sector 14', 'Sector 37 D',
       'Sector 30', 'Sector 41', 'Sector 70', 'Sector 6', 'Sector 68',
       'Sector 22A', 'Sector 86', 'Sector 34', 'Sector 1', 'Sector 9',
       'Block M South City 1', 'Block C South City 1',
       'Golf Course  Road', 'Sector 95', 'Sector 12A',
       'Block F Sector 57', 'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', '6 BHK Saraswati Enclave', '', 'Sector 74',
       'Pocket C Palam Vihar', 'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Signature global sector 92', 'Sector-89 A',
       'sp units ews dlf phase 4 sector 43', 'Mehrauli  Road',
       'Sector-86', 'Sector 82A', 'Ambience Island', 'Sector 26A',
       'Ninex Rmg Residency', 'Sector 36', 'Mianwali Colony',
       'M3M Golf Hills', 'Block B Sector 56', 'Anand society', 'Block B',
       'Sector 88', 'Block B1 Sector 57', 'Sector 39', 'Sector-99',
       'Sriflex city', 'sector 65', 'Block A Sector 30',
       'Block F Suncity', 'Sector 1 Palam Vihar', 'Studio Sector 31',
       'dlf gardencity', 'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [509]:
df[(df['sector'] == 'South City 1')].index

Index([78, 386, 413, 416, 513, 792, 844, 1087, 1212], dtype='int64')

In [510]:
df['sector'].iloc[[78, 386, 413, 416, 513, 792, 844, 1087, 1212]] = 'Sector 41'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\113539200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[78, 386, 413, 416, 513, 792, 844, 1087, 1212]] = 'Sector 41'

In [511]:
df[df['sector'] == 'Block C South City 1']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
606,606,4 BHK Builder Floor for Sale in Block C South ...,4,Block C South City 1,"2.75 Cr8,488 per sqft",NAN,360 sqyrd,Ready to Move,3 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,2 Covered,4,3,Main Road,NAN

In [512]:
df['sector'].iloc[[603,606]] = 'Sector 41'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\857744876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[603,606]] = 'Sector 41'

In [513]:
df[df['sector'] == 'South City 2'].index

Index([134, 266, 302, 344, 381, 389, 415, 459, 593, 690, 717, 872, 892, 1099,
       1296],
      dtype='int64')

In [514]:
df['sector'].iloc[[134, 266, 302, 344, 381, 389, 415, 459, 593, 690, 717, 872, 892, 1099,
       1296]] = 'Sector 14'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3690153136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[134, 266, 302, 344, 381, 389, 415, 459, 593, 690, 717, 872, 892, 1099,

In [515]:
df[df['sector'] == 'Golf Course  Road']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
612,612,4 BHK Apartment for Sale in Golf Course Road ...,4,Golf Course Road,"4.99 Cr19,119 per sqft",2100 sqft,NAN,Ready to Move,8 out of 20,Resale,Semi-Furnished,East,NAN,Freehold,"2 Covered,",4,4,"Pool, Garden/Park, Main Road",NAN

In [516]:
df['sector'].iloc[612] = 'Sector 43'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3113842827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[612] = 'Sector 43'

In [517]:
df[df['sector'] == 'Block F Sector 57']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
636,636,3 BHK Builder Floor for Sale in Block F Sector...,3,Block F Sector 57,"1.65 Cr9,429 per sqft",1650 sqft,NAN,Ready to Move,1 out of 4,New Property,Semi-Furnished,North - East,NAN,Freehold,1 Covered,3,3,NAN,NAN

In [518]:
df['sector'].iloc[636] = 'Sector 57'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1512587222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[636] = 'Sector 57'

In [519]:
df['sector'].unique()

array(['Sector 71', 'Sector 32', 'Sector 111', 'Sector 61', 'Sector 63A',
       'Sector 65', 'Sector 112', 'Sector 49', 'Sector 63', 'Sector 76',
       'Sector 89', 'Sector 37D', 'Sector 59', 'Sector 81', 'Sector 113',
       'Sector 106', 'Sector 103', 'Sector 83', 'Sector 53', 'Sector 51',
       'Sector 84', 'Sector 22', 'Sector 2', 'Phase 1 DLF', 'Phase 2 DLF',
       'Sector 93', 'Sector 102', 'Sector 92', 'Sector 57', 'Sector 41',
       'Sector 43', 'Sector 47', 'Sector 50', nan, 'Phase 5 DLF',
       'Sector 80', 'Sector 67', 'Sector 79', 'Sector 35', 'Sector 14',
       'Sector 36A', 'DLF Phase 1', 'sector 103', 'DLF Cyber City',
       'Sector 56', 'Sector 24', 'Sector 69', 'Sector 46', 'Sector 62',
       'Sector 85', 'Sector 108', 'Sector 48', 'Sector 33', 'Sector 67A',
       'Sector 66', 'Sector 58', 'Sector 70A', 'Sector 72', 'Sector 23A',
       'Gwal Pahari', 'Sohna Road', 'Sector 40', 'Sector 82',
       'Phase 3 DLF', 'Sector 45', 'Sector 55', 'Palam Vihar',
       'Sector 31', 'Sector 42', 'Sector 91', 'Sector 52', 'Sector 11',
       'Sector 5', 'Sector 22B', 'Phase 4 DLF', 'Sector 27', 'Sector 28',
       'Dwarka Expressway', 'Sector 38', 'Sector 73', 'Sector 3',
       'Sector 23', 'Sector 15', 'Sector 3A', 'Sector 17A', 'Sector 4',
       'Sector 7', 'Sector 95A', 'Sector 37 D', 'Sector 30', 'Sector 70',
       'Sector 6', 'Sector 68', 'Sector 22A', 'Sector 86', 'Sector 34',
       'Sector 1', 'Sector 9', 'Sector 95', 'Sector 12A',
       'Pocket F Palam Vihar', 'AWHO Shanti Vihar',
       'Urban Estate Sector 4', 'Block F', 'Naharpur Road',
       'Studio Sector 39', '6 BHK Saraswati Enclave', '', 'Sector 74',
       'Pocket C Palam Vihar', 'Sheetla Colony Ashok Vihar Phase 2',
       'Dwarka Expressway Link Road', 'Sushant Lok I', 'Sector 4 Sohna',
       'Sector 12', 'Laxman Vihar Sector 3A', 'Sector 104',
       'Studio Sector 28', 'Sector 105', 'Sector 37C',
       'shree vardhman olive', 'Dharuhera', 'Sector 99A', 'Sector 89A',
       'Old Delhi  Road', 'Prem Nagar Sector 11', 'Civil Lines',
       'Breez global hill view', 'Sector 107', 'Sector 78', 'Sector 109',
       'vatika city homes  sector 83', 'Manesar', 'Mension',
       'godrej summit', 'emmar Pam garden sector 83', 'Simphni Floor',
       'Builder Floor Sector 56', 'Naurangpur', 'Sector 26',
       'Sector 36 Sohna', 'Sector 110', 'Sector 2 Palam Vihar',
       'Sector 90', 'Sector 88A', 'Sector 88B', 'Block T Sector 109',
       'Ashok Vihar Phase 2', 'Block E Sector 56', 'Block C Sector 45',
       'Model Town Sector 11', 'Nirvana Country', 'Lodha Belmondo',
       'Sector 9A', 'Sector 10A', 'Pocket E Palam Vihar', 'Sector-92',
       'Gpl eden heights', 'Sector 110A', 'Land Mark', 'Gurugram Road',
       'Sector 77', 'May Field Gardens Sector 51', 'Sector 60',
       'Block 5 Phase 3 DLF', 'Sector 54', 'Kherki Daula',
       'Badshahpur Sohna Road Highway', 'Sec 37d', 'Orchid Island',
       'Ashok Vihar', 'Chakkarpur', 'Sector 11 Sohna',
       'Shastri Nagar Industrial Area Sector 106', 'Part 2 Sector 15',
       'Sector 99', 'Signature global sector 92', 'Sector-89 A',
       'sp units ews dlf phase 4 sector 43', 'Mehrauli  Road',
       'Sector-86', 'Sector 82A', 'Ambience Island', 'Sector 26A',
       'Ninex Rmg Residency', 'Sector 36', 'Mianwali Colony',
       'M3M Golf Hills', 'Block B Sector 56', 'Anand society', 'Block B',
       'Sector 88', 'Block B1 Sector 57', 'Sector 39', 'Sector-99',
       'Sriflex city', 'sector 65', 'Block A Sector 30',
       'Block F Suncity', 'Sector 1 Palam Vihar', 'Studio Sector 31',
       'dlf gardencity', 'Surya Vihar Sector 21',
       'Ashoka estate  sector 63A golf course road  Gurugram',
       'Sushant Lok-I', 'Patel Nagar', 'Studio Sector 62',
       'Siddharth ncr one sector 95 gurgaon', 'Sector 13',
       'Mayfield Garden', 'Palam Vihar Extension', 'Sector - 28',
       'IMT Manesar', 'Sector 21', 'Shanti Nagar Sector 11'], dtype=object)

In [520]:
df[df['sector'] == 'Pocket F Palam Vihar']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
639,639,4 BHK Builder Floor for Sale in Pocket F Palam...,4,Pocket F Palam Vihar,"4 Cr8,547 per sqft",500 sqyrd,NAN,Ready to Move,1 out of 4,Resale,Semi-Furnished,East,NAN,Freehold,3 Covered,5,2,Main Road,NAN

In [521]:
df['sector'].iloc[639] = 'Sector 2'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\13568252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[639] = 'Sector 2'

In [522]:
df[df['sector'] == 'AWHO Shanti Vihar']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
642,642,3 BHK Apartment for Sale in AWHO Shanti Vihar ...,3,AWHO Shanti Vihar,"1.50 Cr8,571 per sqft",1560 sqft,NAN,Ready to Move,14 out of 23,Resale,Unfurnished,North - East,NAN,Freehold,NAN,3,3,Main Road,NAN

In [523]:
df['sector'].iloc[642] = 'Sector 95'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\258552965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[642] = 'Sector 95'

In [524]:
df[df['sector'] == 'Urban Estate Sector 4']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
646,646,3 BHK Builder Floor for Sale in Urban Estate S...,3,Urban Estate Sector 4,"2.50 Cr11,111 per sqft",250 sqyrd,NAN,NAN,1 out of 3,New Property,Furnished,North - West,NAN,Freehold,NAN,3,2,NAN,Poss. by Dec '24
669,669,4 BHK Builder Floor for Sale in Urban Estate S...,4,Urban Estate Sector 4,"2.50 Cr9,615 per sqft",2100 sqft,NAN,Ready to Move,2 out of 4,Resale,Furnished,South - East,NAN,Freehold,2 Covered,4,3,"Garden/Park, Main Road",NAN

In [525]:
df['sector'].iloc[[669,646]] = 'Sector 4'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2397475122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[669,646]] = 'Sector 4'

In [526]:
df[df['sector'] == 'Naharpur Road']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
653,653,3 BHK Apartment for Sale in Naharpur Road Gurgaon,3,Naharpur Road,"1.30 Cr8,333 per sqft",1560 sqft,NAN,Ready to Move,3 out of 15,Resale,Semi-Furnished,North,NAN,Freehold,NAN,3,4,Garden/Park,NAN

In [527]:
df['sector'].iloc[653] = 'Sector 81'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\3909479806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[653] = 'Sector 81'

In [528]:
df[df['sector'] == 'Studio Sector 39']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
660,660,Studio Apartment for Sale in Sector 39 Gurgaon,Studio,Studio Sector 39,"33 Lac11,458 per sqft",NAN,32 sqyrd,Ready to Move,1 out of 2,Resale,Unfurnished,East,NAN,Freehold,NAN,1,1,NAN,NAN

In [529]:
df['sector'].iloc[660] = 'Sector 39'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1566179384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[660] = 'Sector 39'

In [530]:
df[df['sector'] == 'Block F']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
650,650,3 BHK Apartment for Sale in Block F Gurgaon,3,Block F,"55 Lac4,400 per sqft",850 sqft,NAN,Ready to Move,2 out of 4,Resale,Furnished,North,NAN,Freehold,1 Covered,2,2,Main Road,NAN

In [531]:
df['sector'].iloc[650] = 'Sector 23A'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1577539991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[650] = 'Sector 23A'

In [532]:
df[df['sector'] == '6 BHK Saraswati Enclave']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
666,666,6 BHK Builder Floor for Sale in Saraswati Encl...,6,6 BHK Saraswati Enclave,52 Lac,675 sqft,NAN,Ready to Move,1 out of 3,Resale,Unfurnished,NAN,NAN,NAN,NAN,3,NAN,NAN,NAN

In [533]:
df['sector'].iloc[666] = 'Sector 37'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\675602241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[666] = 'Sector 37'

In [534]:
df[df['sector'] == 'Sector 36 Sohna'].index

Index([ 825,  906,  918,  942, 1003, 1010, 1053, 1107, 1156, 1246, 1312, 1326,
       1328, 1399, 1418, 1426, 1447, 1481],
      dtype='int64')

In [535]:
df['sector'].iloc[[728,747]] = 'Sector 3A'
df['sector'].iloc[[702, 838, 848, 861, 1283]] = 'Sector 4'
df['sector'].iloc[1406] = 'Sector 63A'
df['sector'].iloc[1024] = 'Sector 51'
df['sector'].iloc[[775,796]] = 'Sector 83'
df['sector'].iloc[896] = 'Sector 109'
df['sector'].iloc[1446] = 'Sector 62'
df['sector'].iloc[1449] = 'Sector 95'
df['sector'].iloc[1153] = 'Sector 43'
df['sector'].iloc[1469] = 'Sector 28'
df['sector'].iloc[[825,  906,  918,  942, 1003, 1010, 1053, 1107, 1156, 1246, 1312, 1326,
       1328, 1399, 1418, 1426, 1447, 1481]] = 'Sector 36'
df['sector'].iloc[1490] = 'Sector 11'
df['sector'].iloc[736] = 'Sector 28'
df['sector'].iloc[1100] = 'Sector 106'
df['sector'].iloc[1136] = 'Sector 30'
df['sector'].iloc[1393] = 'Sector 21'
df['sector'].iloc[1336] = 'Sector 30'
df['sector'].iloc[1336] = 'Sector 30'
df['sector'].iloc[1363] = 'Sector 31'
df['sector'].iloc[1306] = 'Sector 57'
df['sector'].iloc[1319] = 'Sector 99'
df['sector'].iloc[1361] = 'Sector 1'
df['sector'].iloc[[1237,818]] = 'Sector 56'
df['sector'].iloc[893] = 'Sector 45'
df['sector'].iloc[900] = 'Sector 11'
df['sector'].iloc[879] = 'Sector 56'
df['sector'].iloc[879] = 'Sector 56'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[728,747]] = 'Sector 3A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[702, 838, 848, 861, 1283]] = 'Sector 4'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1406] = 'Sector 63A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1024] = 'Sector 51'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[775,796]] = 'Sector 83'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[896] = 'Sector 109'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1446] = 'Sector 62'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1449] = 'Sector 95'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1153] = 'Sector 43'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1469] = 'Sector 28'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[825,  906,  918,  942, 1003, 1010, 1053, 1107, 1156, 1246, 1312, 1326,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1490] = 'Sector 11'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[736] = 'Sector 28'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1100] = 'Sector 106'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1136] = 'Sector 30'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1393] = 'Sector 21'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1336] = 'Sector 30'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1336] = 'Sector 30'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1363] = 'Sector 31'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1306] = 'Sector 57'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1319] = 'Sector 99'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1361] = 'Sector 1'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1237,818]] = 'Sector 56'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[893] = 'Sector 45'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[900] = 'Sector 11'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[879] = 'Sector 56'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2605559203.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[879] = 'Sector 56'

In [536]:
df[df['sector'] == 'Signature global sector 92'].index

Index([1138], dtype='int64')

In [537]:
df[df['sector'] == 'shree vardhman olive']['bhk'].iloc[0]

'3 BHK Apartment for Sale in shree vardhman olive Gurgaon'

In [538]:
df['sector'].iloc[1475] = 'Sector 1'
df['sector'].iloc[1026] = 'Sector 24'
df['sector'].iloc[[1091, 1177, 1274, 1362]] = 'Sector 11'
df['sector'].iloc[1016] = 'Sector 22'
df['sector'].iloc[1138] = 'Sector 92'
df['sector'].iloc[[851, 1035]] = 'Sector 2'
df['sector'].iloc[993] = 'Sector 51'
df['sector'].iloc[969] = 'Sector 70'
df['sector'].iloc[952] = 'Sector 2'
df['sector'].iloc[960] = 'Sector 92'
df['sector'].iloc[869] = 'Sector 109'
df['sector'].iloc[679] = 'Sector 2'
df['sector'].iloc[691] = 'Sector 43'
df['sector'].iloc[821] = 'Sector 79'
df['sector'].iloc[812] = 'Sector 51'
df['sector'].iloc[791] = 'Sector 104'
df['sector'].iloc[790] = 'Sector 113'
df['sector'].iloc[740] = 'Sector 2'
df['sector'].iloc[741] = 'Sector 6'
df['sector'].iloc[913] = np.nan
df['overlooking'].iloc[969] = 'Garden/Park, Pool'

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1475] = 'Sector 1'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1026] = 'Sector 24'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1091, 1177, 1274, 1362]] = 'Sector 11'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1016] = 'Sector 22'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1138] = 'Sector 92'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[851, 1035]] = 'Sector 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[993] = 'Sector 51'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[969] = 'Sector 70'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[952] = 'Sector 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[960] = 'Sector 92'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[869] = 'Sector 109'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[679] = 'Sector 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[691] = 'Sector 43'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[821] = 'Sector 79'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[812] = 'Sector 51'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[791] = 'Sector 104'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[790] = 'Sector 113'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[740] = 'Sector 2'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[741] = 'Sector 6'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[913] = np.nan
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\996444062.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overlooking'].iloc[969] = 'Garden/Park, Pool'

In [539]:
df[df['sector'] == '']

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
668,668,2 BHK Builder Floor for Sale in Gurgaon,2,,"55 Lac7,639 per sqft",NAN,80 sqyrd,Ready to Move,1 out of 4,Resale,Unfurnished,NAN,NAN,NAN,NAN,2,NAN,NAN,NAN
698,698,1 BHK Apartment for Sale in Laxman Vihar Secto...,1,,"19 Lac4,222 per sqft",NAN,450 sqft,Ready to Move,3 out of 4,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,1,NAN,NAN,NAN
744,744,3 BHK Apartment for Sale in Golf Course Extens...,3,,"3.93 Cr21,761 per sqft",NAN,1806 sqft,NAN,10 out of 35,Resale,Semi-Furnished,NAN,NAN,NAN,NAN,3,NAN,NAN,NAN
756,756,3 BHK Apartment for Sale in Gurgaon,3,,"1.90 Cr11,980 per sqft",NAN,1586 sqft,NAN,1 out of 4,Resale,Semi-Furnished,North,NAN,Freehold,NAN,3,2,Garden/Park,Poss. by May '25
852,852,4 BHK Apartment for Sale in Gurgaon,4,,"4.25 Cr12,248 per sqft",2429 sqft,NAN,Ready to Move,11 out of 24,Resale,Unfurnished,NAN,NAN,NAN,NAN,5,1,Pool,NAN
1203,1203,"3 BHK Builder Floor for Sale in DLF Phase II, ...",3,,"3.50 Cr9,722 per sqft",NAN,900 sqft,Ready to Move,14 out of 14,Resale,Unfurnished,South -West,Signature Global The Millennia,Leasehold,NAN,2,3,"Garden/Park, Main Road",NAN
1392,1392,3 BHK Builder Floor for Sale in Gurgaon,3,,"2.15 Cr12,760 per sqft",NAN,2391 sqft,Ready to Move,2 out of 3,Resale,Unfurnished,North,Mittal Surya Vihar,Freehold,1 Covered,4,4,Main Road,NAN

In [540]:
df[df['sector'] == '']['bhk'].iloc[6]

'3 BHK Builder Floor for Sale in Gurgaon'

In [541]:
df['sector'].iloc[[776, 1103, 1244, 1307]] = 'Sector 1'
df['sector'].iloc[1463] = 'Sector 23A'
df['sector'].iloc[[1154,1235,1377,59,   64,   83,  126,  298,  318,  412,  464,  493,  547,  557,  567,
573,  591,  659,  692,  823,  908,  923, 1060, 1341,1203]] = 'Sector 25'
df['sector'].iloc[[903, 1215, 1184]] = 'Sector 50'
df['sector'].iloc[[465,148,259, 555, 605, 881, 883, 926, 1073, 1145]] = 'Sector 24'
df['sector'].iloc[688] = 'Sector 89'
df['sector'].iloc[[1082,343, 383, 404, 437, 563, 687, 849, 1305, 1309, 1431]] = 'Sector 28'
df['sector'].iloc[[753,1044,668,756,852,1392]] = np.nan
df['sector'].iloc[[751,765]] = 'Sector 22'
df['sector'].iloc[1253] = 'Sector 56'
df['sector'].iloc[[870,1412,683,754]] = 'Sector 5'
df['sector'].iloc[1188] = 'Sector 24'
df['sector'].iloc[1214] = 'Sector 12A'
df['sector'].iloc[[1226,744]] = 'Sector 65'
df['sector'].iloc[1202] = 'Sector 37C'
df['sector'].iloc[1147] = 'Sector 89A'
df['sector'].iloc[357] = 'Sector 54'
df['sector'].iloc[1322] = 'Sector 4'
df['sector'].iloc[1081] = 'Sector 3'
df['sector'].iloc[698] = 'Sector 3A'
df['sector'].iloc[1069] = 'Sector 51'
df['sector'].iloc[[1068,1369]] = 'Sector 37D'
df['sector'].iloc[1051] = 'Sector 84'
df['sector'].iloc[752] = 'Sector 11'
df['sector'].iloc[1101] = 'Sector 15'
df['sector'].iloc[1058] = 'Sector 67A'
df['sector'].iloc[1462] = 'Sector 51'
df['sector'].iloc[1444] = 'Sector 15'
df['sector'].iloc[[1434,95, 237, 277, 579, 722, 833, 1089]] = 'Sector 43'
df['sector'].iloc[381] = 'Sector 92'
df['sector'].iloc[[139, 301, 303, 382, 545, 551, 643,58, 110, 130, 177, 262, 444, 507, 577, 597, 886, 1002, 1229, 1234, 1243,
       1320]] = 'Sector 26'
df['sector'].iloc[755] = np.nan

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[776, 1103, 1244, 1307]] = 'Sector 1'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1463] = 'Sector 23A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1154,1235,1377,59,   64,   83,  126,  298,  318,  412,  464,  493,  547,  557,  567,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[903, 1215, 1184]] = 'Sector 50'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[465,148,259, 555, 605, 881, 883, 926, 1073, 1145]] = 'Sector 24'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[688] = 'Sector 89'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1082,343, 383, 404, 437, 563, 687, 849, 1305, 1309, 1431]] = 'Sector 28'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[753,1044,668,756,852,1392]] = np.nan
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[751,765]] = 'Sector 22'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1253] = 'Sector 56'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[870,1412,683,754]] = 'Sector 5'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1188] = 'Sector 24'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1214] = 'Sector 12A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1226,744]] = 'Sector 65'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1202] = 'Sector 37C'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1147] = 'Sector 89A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[357] = 'Sector 54'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1322] = 'Sector 4'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1081] = 'Sector 3'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[698] = 'Sector 3A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1069] = 'Sector 51'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1068,1369]] = 'Sector 37D'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1051] = 'Sector 84'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[752] = 'Sector 11'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1101] = 'Sector 15'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1058] = 'Sector 67A'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1462] = 'Sector 51'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[1444] = 'Sector 15'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[1434,95, 237, 277, 579, 722, 833, 1089]] = 'Sector 43'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[381] = 'Sector 92'
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[[139, 301, 303, 382, 545, 551, 643,58, 110, 130, 177, 262, 444, 507, 577, 597, 886, 1002, 1229, 1234, 1243,
C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\1628822697.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'].iloc[755] = np.nan

In [542]:
df['sector'].value_counts()

sector
Sector 79            56
Sector 43            53
Sector 37D           48
Sector 89            47
Sector 57            43
Sector 92            42
Sector 65            38
Sector 49            36
Sector 61            35
Sector 106           34
Sector 111           30
Sector 85            29
Sector 102           28
Sector 63            28
Sector 113           26
Sector 25            25
Sector 51            23
Sector 26            23
Sector 71            23
Sector 2             22
Sector 63A           22
Sector 14            21
Sector 36            21
Sector 24            20
Sector 59            20
Sector 67A           19
Sector 66            18
Sector 56            18
Sector 28            17
Sector 62            16
Sector 69            16
Sector 84            16
Sector 33            15
Sector 83            15
Sector 81            14
Sector 55            14
Sector 67            14
Sector 76            13
Sector 36A           13
Dwarka Expressway    13
Sector 50            13
Sector 5             12
Palam Vihar          12
Sector 41            12
Sector 22            12
Sector 48            12
Sector 52            11
Sector 68            11
Sector 93            11
Sector 70            11
Sector 47            11
Sector 32            10
Sector 4             10
Sector 95            10
Sector 107            9
Sector 112            9
Sector 103            9
Sector 82             9
Sector 53             9
Sector 58             9
Sector 31             9
Sector 86             8
Sector 37C            8
Sector 108            8
Sector 11             8
Sector 72             8
Sector 109            8
Sohna Road            8
Sector 104            7
Sector 1              7
Sector 40             7
Sector 38             7
Sector 45             7
Sector 46             7
Sector 54             6
Sector 88A            6
Sector 23             6
Sector 15             6
Sector 95A            6
Sector 99A            6
Sector 99             5
Sector 90             5
Sector 91             5
Sector 3              5
Sector 42             5
Sector 7              4
Sector 6              4
Sector 23A            4
Sector 3A             4
Sector 30             4
Gwal Pahari           4
Sector 105            4
Sector 80             4
Sector 77             3
Sector 74             3
Sector 70A            3
Sector 35             3
Sector 9A             3
Sector 73             3
Sector 39             2
Sector 12A            2
Sector 89A            2
Sector 9              2
Sector 10A            2
Sector 110A           2
Sector 21             2
Sector 110            2
Sector-86             1
Sector 82A            1
Sector 37 D           1
Sector 26A            1
Sector 88             1
sector 65             1
Block F Suncity       1
dlf gardencity        1
Block B               1
Sector 78             1
Sector 60             1
Sector 88B            1
sector 103            1
Sector 22B            1
Sector 27             1
Sector 12             1
Sector 37             1
Sector 34             1
Sector 22A            1
Sector 17A            1
Sector 13             1
Name: count, dtype: int64

In [543]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32,"2.81 Cr15,707 per sqft",NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

# **Extract Cr and Lac**

In [544]:
def extract_values(value):
    matches = re.findall(r'(\d+(\.\d+)?\s*Cr|\d+(\.\d+)?\s*Lac)', value)
    return ', '.join([match[0] for match in matches])

In [545]:
price = df['price_sqft_price'].apply(extract_values)

In [546]:
df.insert(loc =5,column='price', value= price)

In [547]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19 Cr,NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07 Cr,NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32,"2.81 Cr15,707 per sqft",2.81 Cr,NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95 Cr,1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55 Cr,NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

In [548]:
price_persqft =df['price_sqft_price'].str.replace('Cr',':').str.replace('Lac',':').str.split(':').str.get(1).str.replace(',','').str.split(' ').str.get(0)

In [549]:
price_persqft

0        13560
1        12351
2        15707
3        24890
4        16500
5        13002
6        29500
7        15190
8        13793
9        18937
10       18000
11       18937
12       21798
13       14016
14       17287
15       16909
16       12228
17       18937
18       15250
19       14009
20       18937
21       35969
22       15930
23       20724
24       24890
25       19592
26       35969
27       17347
28       15250
29       35969
30       11515
31       19274
32       13887
33       15188
34       24900
35       19592
36       14489
37       16653
38       29500
39       11515
40       13103
41       13793
42        9000
43       14009
44       14040
45       27093
46       14009
47       15789
48       19617
49       21178
50       22000
51       20476
52       15985
53       16585
54       18519
55       14000
56       20886
57        9917
58       13889
59       14387
60       11322
61       14981
62       14392
63       11295
64       14259
65       19241
66       10000
67       14468
68       13543
69       15766
70       18000
71       16576
72       10025
73       21133
74       16251
75       14130
76       14200
77       19500
78       10862
79       14500
80       14474
81       20468
82       12240
83       15972
84       16850
85       12346
86        8043
87       13500
88       16327
89       18750
90       12035
91       15873
92        9506
93       20000
94       17995
95       31266
96       15741
97       14947
98       11410
99       25889
100      14985
101       9517
102      15741
103       9568
104      18444
105      17124
106      10000
107      16500
108      15500
109      18270
110      19200
111      18000
112      13136
113       8760
114      17178
115       9947
116      15171
117      11341
118      14561
119       9184
120      13177
121      18222
122       8219
123      13880
124      17967
125      18889
126      12316
127      14815
128      15360
129      17397
130      11667
131      13478
132      24000
133      10455
134      11905
135       6561
136      12031
137      15760
138      15844
139      13889
140      17593
141      17396
142      10190
143      11875
144      12881
145      28099
146      15567
147      14238
148      12973
149       8906
150      11471
151      15757
152       8583
153       9487
154      20253
155      11000
156      17647
157      21000
158       9667
159      20655
160      20479
161      12215
162      10621
163      21571
164      18672
165      16500
166      13387
167      13519
168      15100
169      18000
170      11278
171       9032
172       8817
173      18850
174      12933
175      16939
176      23747
177      13611
178      14247
179      12676
180      19064
181      16000
182      20479
183      13699
184      19177
185      22965
186      22123
187      13089
188      12963
189      15002
190      15263
191      14749
192      13175
193      18987
194      16117
195      19913
196       9939
197      18963
198      21330
199      11934
200      12654
201       9487
202      14000
203      13457
204      11613
205      16975
206      21776
207      20253
208      13232
209      11522
210      10401
211       7514
212      18750
213       8480
214      13398
215      15500
216      20625
217      11529
218      14885
219      20749
220       8484
221      17884
222      24650
223       9562
224      18987
225      20253
226       7692
227      16777
228      15364
229      18481
230      15231
231      14000
232      12630
233      15700
234      15633
235      13750
236       9023
237      26005
238      17419
239      13333
240      17213
241      15000
242      16092
243      12146
244      22000
245      12500
246       8690
247      20886
248      10625
249       4466
250      16074
251      14085
252      16531
253       9394
254      15102
255      13043
256       9713
257       6588
258      18572
259      18571
260      21184
261      10877
262      17361
263      21447
264       9444
265      18421
266      14583
267       9662
268      10455
269       9892
270      10217
271      20753
272      11000
273      14925
274      19799
275      13822
276      14148
277      28744
278
279      11220
280      10000
281      20256
282      22343
283      11136
284      25500
285       9184
286      18470
287      17500
288      14754
289      14821
290      14348
291      10349
292      13902
293       8588
294      16461
295       8022
296      11196
297      10741
298      15114
299      10757
300      15322
301      20278
302       9714
303      14444
304      18462
305      20795
306       8889
307      12500
308       9906
309      16739
310       7910
311      21193
312      12687
313      11296
314      18513
315      11000
316      12346
317      13913
318      13129
319      10897
320       8125
321      15296
322      19444
323      16438
324      14383
325      19392
326       4500
327      14810
328      17000
329      23117
330      10799
331       7593
332      17979
333      11541
334      13333
335
336      10185
337      12432
338      10540
339      15026
340      17657
341      16200
342      10399
343      15278
344       6633
345      12069
346       9850
347      14958
348       9066
349      18947
350      14559
351      12000
352       9861
353      11446
354       9500
355      20795
356      12941
357      14118
358      10000
359      24390
360      26786
361      12300
362      11471
363      13696
364      16071
365      14815
366      17302
367      14870
368      15094
369      13023
370      12263
371      22266
372      21985
373      27663
374      12828
375      10526
376      17778
377      15323
378      15567
379      22449
380       8000
381       9848
382      14940
383      16538
384      11794
385      12000
386      12000
387      13571
388      10000
389      14250
390      21552
391       9259
392      10800
393      13333
394       4286
395
396      19658
397      19769
398      10556
399      25824
400       9957
401      12105
402      12968
403      13500
404      29928
405      14989
406       9856
407      11635
408      15000
409      14237
410       3333
411      11765
412      13600
413      11364
414       9740
415      11429
416      11562
417      11310
418      15423
419       7733
420      18571
421      17345
422      15419
423      24255
424      15046
425      10556
426      12965
427      12500
428       6222
429      15097
430      20801
431       9630
432      14660
433       8889
434      14724
435      15000
436      24952
437      11420
438      14122
439       8130
440      10947
441      15000
442      16762
443      14940
444       8750
445      11111
446       8750
447       7857
448       8602
449      13343
450      13438
451       5034
452      20060
453      20452
454      11456
455      21965
456      14900
457
458       7714
459      12882
460      16092
461      13969
462      17000
463      13501
464      18750
465      14750
466      10954
467
468      12810
469      14335
470      16537
471      15714
472       9813
473       9246
474      19872
475      10500
476      19979
477      10562
478      15034
479      10250
480      20795
481      13408
482       8749
483      11152
484      19000
485      13542
486      22537
487      20795
488      15500
489      14634
490      24000
491      12857
492      17157
493      10904
494      12500
495      13359
496      20000
497      15203
498      12857
499       5235
500      18848
501      13706
502      15714
503      12991
504       9524
505      27286
506       9756
507
508      13333
509      10156
510      16216
511      13412
512      13704
513      11667
514      13661
515      18229
516      12647
517       8600
518      23272
519       8108
520       7600
521      14435
522      17463
523      17241
524      20070
525       8789
526       5556
527      14000
528      13909
529      13750
530       9815
531      10882
532      13080
533      10227
534      20000
535      18909
536      11778
537      13655
538      19531
539      10106
540      15823
541      19846
542       7037
543      13034
544      13771
545      14815
546      13852
547
548      23864
549      14545
550      13374
551      21622
552       9275
553       8293
554      12999
555      13158
556      16837
557      17222
558      15000
559      21488
560       8885
561      10000
562       9697
563      13117
564       8182
565      16000
566       8649
567      18849
568       9532
569      26401
570      14462
571      20766
572      13793
573       9889
574       9028
575       8341
576      10247
577      13118
578      14206
579      25000
580      10311
581      10111
582      17333
583      14509
584      18966
585      23073
586      13750
587      10526
588      13548
589      20177
590      12857
591      16611
592       8636
593       9697
594       9922
595       5161
596       6362
597      12472
598       8715
599      13824
600      10135
601       7857
602      10366
603       8333
604       4462
605      17532
606       8488
607      11500
608      24245
609      12618
610      18816
611      14259
612      19119
613      10236
614      11574
615      16000
616      12897
617      20833
618      14055
619      16501
620      26304
621      10417
622      10500
623       7700
624      12376
625       9091
626       9561
627      10061
628      13457
629       9286
630      18991
631      13126
632      10061
633       9338
634      20152
635       8589
636       9429
637       5979
638      12903
639       8547
640      15032
641      21607
642       8571
643     125000
644      16279
645      11111
646      11111
647      14500
648       8872
649      13625
650       4400
651      18606
652
653       8333
654      12500
655       9767
656      22857
657      11091
658      12662
659      14815
660      11458
661      18362
662      10000
663      21174
664       6667
665       7143
666
667       8571
668       7639
669       9615
670      15950
671      15950
672      15044
673      11333
674      15796
675      18831
676       7500
677      10000
678      23224
679       9811
680      17011
681      16486
682      23008
683
684      20222
685      11074
686      15217
687      16882
688      20814
689      18519
690       7556
691      17879
692      18750
693      24224
694      16785
695      23064
696      15986
697       6566
698       4222
699      15097
700      17343
701       9077
702       4375
703      11864
704      16779
705      10755
706      17483
707      10515
708      15294
709       8000
710      11111
711      13333
712      14706
713      15475
714      22250
715       5625
716      14348
717      11053
718      28683
719       9811
720      14286
721      12320
722      13793
723       6944
724       5645
725       9877
726       4000
727       5405
728       5231
729       5500
730       9294
731       8333
732      17931
733      16000
734       5556
735       7480
736      11818
737      10789
738       3571
739       4500
740       7500
741       2655
742       4500
743       5725
744      21761
745      11538
746      10000
747       4444
748      19106
749       9962
750      11481
751       8400
752       5000
753      11852
754
755       7080
756      11980
757       8000
758      15000
759       6107
760       8788
761      11613
762       5900
763      12632
764      14545
765      10000
766      13084
767       8333
768      13809
769      10256
770      11667
771      11719
772      16411
773      11111
774      11111
775       8462
776       6383
777       5000
778
779       8846
780      19111
781      10879
782      15075
783      12535
784       9557
785      10917
786      13889
787      14103
788      13251
789      12800
790      18043
791       6278
792      16667
793      17216
794       8500
795       7632
796      12368
797      19312
798      15593
799      15373
800      13180
801       6718
802      10979
803      13846
804       9756
805      17118
806      14485
807       6000
808      12791
809       9146
810      12500
811      12500
812       8389
813       4200
814      11125
815      12731
816       4870
817       8032
818       8667
819      10000
820      15517
821       9371
822      16667
823      13889
824       9722
825       9713
826      22537
827      12548
828       5833
829
830       6805
831       8236
832
833      25720
834      21489
835      13659
836      22215
837       7886
838       5128
839       8872
840       8000
841      12171
842      15918
843      17671
844      11574
845       8178
846      13750
847      14892
848       8565
849      18000
850      11471
851      10769
852      12248
853      14085
854       8828
855      17930
856      10669
857      10278
858      10766
859      13532
860      22750
861       6424
862
863      11920
864      96000
865       9705
866      17995
867       9355
868      11111
869       8703
870       8750
871
872      12097
873      14734
874      10833
875      11659
876      11386
877      10366
878       9602
879      10112
880      11450
881      12556
882      11257
883       7000
884      11182
885      12397
886      17465
887      24466
888      17544
889      21000
890       8582
891      13825
892      12111
893      11483
894      21726
895      23057
896       8333
897       9308
898      17718
899      11002
900       6818
901      13125
902      14085
903      13988
904      20087
905      11618
906       7339
907      10924
908      14444
909       9296
910      13393
911      10971
912       9459
913      11156
914
915       8914
916      12525
917      16875
918
919       8586
920      17750
921      23406
922      10693
923      14313
924
925       5405
926      14000
927      18268
928       9007
929      10857
930      13950
931      11250
932       7513
933      14894
934      17535
935       6250
936      15254
937      12564
938       8303
939      14483
940       4038
941       9744
942      11563
943      10337
944      12016
945       4364
946      10081
947      12077
948      15534
949      10636
950      13065
951      11364
952      12273
953      10400
954       4593
955       7665
956      11475
957       5556
958      12869
959      12000
960       7297
961       8380
962      10389
963       5900
964      10451
965       6133
966      12931
967      12064
968      10021
969
970      12987
971       3750
972       5000
973      14545
974
975       6408
976       5000
977      13103
978       3600
979       4942
980       6881
981      12607
982       5384
983       8922
984      10836
985      21429
986      10323
987      14091
988      24242
989       6977
990      12190
991      10459
992       5674
993       5324
994       9827
995      13192
996      13519
997       4783
998       8857
999      10000
1000      5500
1001
1002     16596
1003      8326
1004     17045
1005     10730
1006      9778
1007     10000
1008     12977
1009      2525
1010      7678
1011      6381
1012     13308
1013      5308
1014      7073
1015     12500
1016     13700
1017     12018
1018     20506
1019     10000
1020      7000
1021      7241
1022     11104
1023     25000
1024     11739
1025     13514
1026     11364
1027      9588
1028     10417
1029      7442
1030      9519
1031     17386
1032      6129
1033     15565
1034     10929
1035      8197
1036     12688
1037      6939
1038     10541
1039     12842
1040     14783
1041     12222
1042     13281
1043      5385
1044      6250
1045      7371
1046      7895
1047      8258
1048      4800
1049      5733
1050     11607
1051      7273
1052     16138
1053      8000
1054      8262
1055      5882
1056      5449
1057      5495
1058     10286
1059
1060      8125
1061      4380
1062      6700
1063      7371
1064      9461
1065     11364
1066      5091
1067     12418
1068     10491
1069      8571
1070      3385
1071      9362
1072     10769
1073     13580
1074      5862
1075      5788
1076     12855
1077      8525
1078     10270
1079      7727
1080     13969
1081     11667
1082      8667
1083     10000
1084
1085      9615
1086     13174
1087
1088      9664
1089     16865
1090      4667
1091      3750
1092     11589
1093     12048
1094     14000
1095      5816
1096
1097     12176
1098      8250
1099     12037
1100     15694
1101      9884
1102      8500
1103      4593
1104     16019
1105     10556
1106      6800
1107      8839
1108      8667
1109     15152
1110     21502
1111     10840
1112     10278
1113     11950
1114     10000
1115      8706
1116      5898
1117      9270
1118     12533
1119      9066
1120
1121      8621
1122
1123      7656
1124      7383
1125      6861
1126      9014
1127
1128     22579
1129     15119
1130      6173
1131      5556
1132      5385
1133      8323
1134      5938
1135      8116
1136     16471
1137      7000
1138
1139      6460
1140      3889
1141      8465
1142     10471
1143     14996
1144     10590
1145     10667
1146     10256
1147
1148     18215
1149      8790
1150     13186
1151     10044
1152      6286
1153     13500
1154     16710
1155      6400
1156      4867
1157     11605
1158      8487
1159      7500
1160      5650
1161      9040
1162     15632
1163      8802
1164      6079
1165     16982
1166      7220
1167     12600
1168      5742
1169      4778
1170      9470
1171     10000
1172     17000
1173     13315
1174      6293
1175     10881
1176      4667
1177      3333
1178      5059
1179     15288
1180      4485
1181     11579
1182     11340
1183     10000
1184     14118
1185      8627
1186     16730
1187     12969
1188     20474
1189      8200
1190     11609
1191      8974
1192     11667
1193
1194     12917
1195     28682
1196     12900
1197      8765
1198      8889
1199     16918
1200     18280
1201     15550
1202      7451
1203      9722
1204      6167
1205     10152
1206      8054
1207      9263
1208      7500
1209     10363
1210     12368
1211      9168
1212     15625
1213     18676
1214      7857
1215
1216     16654
1217      9412
1218      4913
1219     23741
1220     13519
1221      7397
1222
1223     14265
1224     15270
1225      5761
1226     14602
1227
1228     14153
1229     10854
1230     14153
1231      6636
1232      8333
1233      4750
1234     12963
1235     12611
1236     10252
1237     10172
1238     13189
1239     13043
1240     20245
1241     18231
1242
1243     12250
1244      5697
1245
1246      7299
1247     11586
1248      5365
1249
1250      9767
1251     25408
1252      5217
1253      4617
1254      5625
1255     11475
1256     10377
1257
1258
1259      7143
1260     81081
1261      5294
1262      8594
1263      5300
1264      7500
1265      7778
1266      5932
1267      5512
1268     11931
1269      6098
1270     13514
1271      3709
1272      9160
1273      8073
1274      5714
1275     12500
1276     11613
1277      8182
1278      8693
1279     11146
1280     19086
1281     12399
1282     23011
1283      6076
1284     12255
1285      5785
1286     10623
1287      9158
1288     13810
1289     11074
1290      8333
1291      5278
1292     13235
1293      6667
1294      9091
1295     12500
1296      8316
1297     22727
1298      7368
1299     13035
1300      6472
1301      7191
1302     17635
1303     10020
1304     12792
1305     23333
1306     10298
1307      4758
1308      8889
1309     13934
1310      4375
1311     11458
1312      8788
1313     13115
1314      7409
1315     10000
1316      8494
1317      8191
1318      8683
1319      5425
1320
1321      7234
1322      4608
1323     14000
1324     13846
1325      8464
1326      9732
1327     17018
1328      9907
1329      7486
1330     12102
1331      3889
1332      8179
1333      4667
1334     24379
1335     13301
1336      7917
1337     15758
1338     15625
1339      7828
1340      4516
1341     18182
1342      9066
1343     13972
1344     13028
1345      8333
1346      6861
1347     10576
1348      8955
1349      6709
1350     10526
1351     11992
1352
1353     12500
1354     14632
1355     12935
1356
1357     20345
1358     18000
1359     12048
1360     11594
1361     18000
1362
1363

In [550]:
df.insert(loc=6,column='price_persqft',value=price_persqft)

In [551]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19 Cr,13560,NAN,1615 sqft,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07 Cr,12351,NAN,1676 sqft,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32,"2.81 Cr15,707 per sqft",2.81 Cr,15707,NAN,1789 sqft,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95 Cr,24890,1324 sqft,NAN,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55 Cr,16500,NAN,1549 sqft,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

In [552]:
df['price']=df['price'].str.replace('Cr','').str.strip()

In [553]:
temp_df = df[df['price'].str.contains('Lac')]

In [554]:
temp_df['price']=temp_df['price'].str.replace(' Lac','').astype(float)*0.01

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\2992832755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['price']=temp_df['price'].str.replace(' Lac','').astype(float)*0.01

In [555]:
index = temp_df['Unnamed: 0']

In [556]:
df.iloc[index] = temp_df

In [557]:
temp_df = df[df['price_persqft'] == '']

In [558]:
temp_df['price_persqft']=np.nan

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\698114968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['price_persqft']=np.nan

In [559]:
index = temp_df['Unnamed: 0']

In [560]:
df.iloc[index] = temp_df

In [561]:
temp = df[(df['SuperArea'] == 'NAN') & (df['price_persqft']!='NAN')]

In [562]:
temp['SuperArea'] = round(temp['price'].astype(float)*(10**7)/temp['price_persqft'].astype(float))

C:\Users\dhanr\AppData\Local\Temp\ipykernel_13160\4039761705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['SuperArea'] = round(temp['price'].astype(float)*(10**7)/temp['price_persqft'].astype(float))

In [563]:
temp['SuperArea']

3        1587.0
8        2900.0
13       2433.0
14       2285.0
19       1085.0
23       3040.0
24       1587.0
31       3912.0
34       1783.0
37       3699.0
41       2900.0
43       1085.0
44       2678.0
46       1085.0
47       1900.0
58       3240.0
59       4518.0
61       3651.0
63       1328.0
64       2700.0
65       3950.0
66       3200.0
68       1366.0
72       1995.0
73       2295.0
74       1846.0
76       1542.0
77       2277.0
78       2900.0
79       3248.0
80       1900.0
82       1250.0
85       2268.0
86       2300.0
87       2000.0
88       2450.0
89       2800.0
90       2260.0
92       2367.0
93       2250.0
95       1983.0
96       2700.0
97       1940.0
98       2191.0
99       4500.0
100      2002.0
102      2700.0
104      2250.0
105      3381.0
106      2200.0
108      3394.0
110      3000.0
112      2200.0
113      2169.0
115      1518.0
118      1648.0
122      1460.0
123      1549.0
124      2282.0
125      2250.0
126      2850.0
127      2700.0
128      1250.0
129      2282.0
131      1150.0
132      3525.0
133      2200.0
137      2538.0
139      1800.0
140      2160.0
141      3449.0
142      1845.0
143      1600.0
144      2950.0
145      6050.0
146      1895.0
147      2100.0
148      1850.0
149      3200.0
150      1700.0
151      1777.0
152      2505.0
153      1423.0
155      1445.0
156      1700.0
158      1500.0
160      2295.0
161      1580.0
162      3060.0
163      3106.0
164      2410.0
166      2129.0
167      1620.0
168      1132.0
170      2660.0
172      2722.0
173      2122.0
174      2250.0
175      2450.0
176      2295.0
177      1800.0
178      2597.0
179      1420.0
180      2072.0
181      1000.0
182      2295.0
183      1825.0
185      2874.0
186      3684.0
187      1528.0
188      1620.0
189      2433.0
190      1900.0
191      1356.0
194      4095.0
196      1650.0
197      2410.0
198      1805.0
199      1634.0
200      2766.0
201      1423.0
202      3050.0
204      1550.0
205      3240.0
207      3950.0
208      1640.0
209      2300.0
210      1135.0
211      1730.0
212      3035.0
213      1462.0
214      1642.0
215      2355.0
216      4000.0
217      1171.0
218      2002.0
219      2164.0
220      2982.0
221      3355.0
222      2941.0
223      1255.0
224      3950.0
225      3950.0
226      2600.0
227      1967.0
229      3950.0
230      2600.0
231      1150.0
232      4030.0
233      3656.0
235      2000.0
236      1751.0
237      4503.0
239      1350.0
240      3660.0
241      2700.0
242      1740.0
244      2291.0
246      2129.0
248      3200.0
249      1451.0
250      2333.0
251      1420.0
253      3300.0
254      2450.0
255      3680.0
258      2423.0
259      1750.0
260      3918.0
261      2850.0
262      3600.0
263      3800.0
264      4500.0
265      3040.0
266      2400.0
267      2070.0
268      2200.0
269      2325.0
270      2300.0
271      1807.0
273      3350.0
274      3955.0
276      1555.0
277      1983.0
278         NaN
281      3900.0
282      5514.0
283      2200.0
284      3682.0
287      2097.0
288      3050.0
289      2800.0
291      1836.0
292      4100.0
293      4250.0
294      2430.0
296      2367.0
297      2700.0
298      6120.0
299      1850.0
300      2937.0
301      1800.0
302      3500.0
303      1800.0
304      3250.0
305      2164.0
306      2700.0
307      2800.0
308      2120.0
309      2300.0
310      3780.0
311      2430.0
312      3350.0
313      2700.0
314      3106.0
315      2000.0
316      1620.0
317      1150.0
319      2340.0
321      2092.0
322      1800.0
323      1600.0
326       644.0
330      1852.0
331      2700.0
332      2781.0
333      1629.0
334      3000.0
335         NaN
336      2700.0
337      1850.0
338      1518.0
339      1890.0
341      2012.0
342      2404.0
343      3600.0
344      3000.0
345      1450.0
347      1551.0
348      1103.0
349      1557.0
350      3400.0
351      1650.0
352      3600.0
353      1922.0
354      2000.0
355      2164.0
356      1275.0
357      1700.0
358      2500.0
359      2050.0
363      2300.0
366      2283.0
367      2421.0
370      2691.0
371      2515.0
372      1360.0
373      2892.0
374      1676.0
375      1900.0
376      4500.0
377      2480.0
378      4497.0
379      2450.0
380       850.0
381      3300.0
382      4518.0
383      2600.0
384      1611.0
385      1900.0
386      3250.0
387      2100.0
389      2000.0
391      4050.0
392      2500.0
393      1800.0
395         NaN
397      3035.0
398      4500.0
399      4550.0
400      2300.0
401      1900.0
402      1735.0
403      4000.0
404      2506.0
405      2375.0
406      1877.0
407      3438.0
408      2400.0
409      2950.0
410      1500.0
411      3400.0
412      2500.0
413      2200.0
414      1540.0
415      2100.0
416      3200.0
419       750.0
420      3500.0
424      2160.0
425      1800.0
428       900.0
429      1550.0
430      3245.0
431      2700.0
432      3240.0
433      2475.0
434      1630.0
437      3240.0
439      1833.0
440      2375.0
441      2400.0
443      4518.0
444      4000.0
445      1557.0
447       700.0
450      1600.0
451      1450.0
452      2343.0
453      2567.0
454      1484.0
455      2595.0
456      3658.0
457         NaN
460      1305.0
461      1625.0
462      1600.0
464      2000.0
465      2000.0
466      2191.0
467         NaN
468      1210.0
471      7000.0
473      2812.0
474      3900.0
475       200.0
476      3844.0
477      2367.0
480      2164.0
481      4848.0
483      1650.0
484      2511.0
485      2400.0
486      3106.0
487      2164.0
488      1465.0
489      2050.0
491      2520.0
492      1020.0
493      1935.0
494      2184.0
495      3331.0
496      2500.0
497      2368.0
499      4680.0
501      1700.0
502      1750.0
503      1578.0
504      2100.0
505      1356.0
506      1640.0
507         NaN
508      3000.0
509      3200.0
512      2700.0
513      3000.0
514      2562.0
515      3072.0
516      1700.0
517      1000.0
518      1418.0
519      1850.0
520      2000.0
521      1150.0
523      1450.0
526      2700.0
527      1500.0
529      2000.0
530      2547.0
531      3400.0
532      2370.0
533      2200.0
536      2250.0
540      1580.0
543      1450.0
546      2700.0
547         NaN
548      2200.0
550      2430.0
552      1725.0
553      2050.0
555      2850.0
557      2700.0
558      1147.0
561      1450.0
562      1650.0
563      3240.0
564      1100.0
565      2400.0
566      1850.0
567      2520.0
568      1836.0
569      1356.0
570      3250.0
571      2167.0
572      2900.0
574      3600.0
575      3357.0
577      4650.0
578      1795.0
579      1800.0
580      1930.0
583      1544.0
586      1600.0
587      1900.0
588      1550.0
590      3500.0
591      1800.0
592      2200.0
593      1650.0
595      1550.0
596      4401.0
597      2205.0
598      1836.0
599      1700.0
601      1400.0
602      1640.0
603      1620.0
604      1300.0
605      7700.0
608     10600.0
609      2655.0
611      2700.0
612      2610.0
615      3200.0
616      1667.0
619      3497.0
621      2400.0
622      4000.0
623      3974.0
625       550.0
626      1935.0
629      1400.0
630      2459.0
635      2154.0
636      1750.0
637      1890.0
639      4680.0
642      1750.0
643       200.0
644      1935.0
645      2700.0
646      2250.0
647      1545.0
648      2367.0
650      1250.0
652         NaN
653      1560.0
655      1720.0
658      1540.0
661      2124.0
662      1550.0
663      2300.0
666         NaN
669      2600.0
672      2260.0
682      1691.0
683         NaN
685      1806.0
688      1701.0
690      4500.0
693      1610.0
697       990.0
700      2537.0
704      2378.0
705      2650.0
707      1902.0
708      1700.0
709      1350.0
710      1710.0
714      4000.0
715      3200.0
717      3800.0
718      2186.0
719      2650.0
740      2000.0
749      2650.0
750      4050.0
751      1250.0
752      3500.0
754         NaN
757       350.0
758      2000.0
760      1650.0
767       600.0
775      1300.0
778         NaN
779      1300.0
780      1125.0
782      2985.0
784      1423.0
785      1200.0
786      1800.0
787      1950.0
788      2468.0
790      2300.0
791      1816.0
792      1650.0
793      1365.0
794      2000.0
795      1022.0
796      1900.0
797      2123.0
801      1935.0
803      1300.0
804      1640.0
805      2103.0
807      1000.0
808      2150.0
809      1640.0
812      1800.0
813      1000.0
814      4000.0
816      1232.0
817       498.0
818      1500.0
819      1650.0
820      1450.0
821      1494.0
824      1800.0
827      1666.0
828      2400.0
829         NaN
831      1457.0
832         NaN
834       940.0
835      2050.0
836      1508.0
838       975.0
840      1500.0
841      2054.0
843      1245.0
844      2160.0
845      1712.0
848       467.0
849      2500.0
851      1300.0
852      3470.0
853      1420.0
854      1450.0
857      1800.0
859      1611.0
860      3956.0
861       467.0
862         NaN
863      1250.0
864       500.0
865      1628.0
866      3890.0
867      1550.0
868      1341.0
869      3045.0
871         NaN
873      3156.0
874      1800.0
877      1997.0
878      2812.0
879      1780.0
880      2000.0
883      5000.0
886      2691.0
887      1917.0
890      1107.0
892      4500.0
893      3048.0
895      3036.0
896      2100.0
897      1719.0
899      1727.0
901      2400.0
903      2066.0
905      3400.0
906      1022.0
907      2380.0
908      4500.0
909      1420.0
910       336.0
911      1750.0
912      6565.0
913       493.0
914         NaN
915      2367.0
917      1600.0
918         NaN
919      1980.0
923      3703.0
924         NaN
926      2500.0
927      1478.0
928      1943.0
929      1750.0
930      1276.0
931       800.0
932      1930.0
933      2350.0
935       800.0
936      5900.0
937      1950.0
938      1385.0
939      1450.0
941      1950.0
942      1081.0
943      1306.0
944       516.0
945      1100.0
946      1240.0
947      2153.0
948      2060.0
949      2595.0
950       995.0
954      1350.0
955      1957.0
962      2599.0
963      1000.0
964      2727.0
967      3448.0
969         NaN
970       847.0
972      1326.0
973      2200.0
974         NaN
983      1457.0
984      1615.0
985      2100.0
990      1009.0
997      1150.0
998      1750.0
1001        NaN
1004     3702.0
1006     2250.0
1007     2600.0
1008     1310.0
1009      990.0
1016     2000.0
1018     3950.0
1019     1600.0
1022     1576.0
1027     3400.0
1028     1440.0
1031     1553.0
1033     1150.0
1037     2450.0
1038     1423.0
1040     1150.0
1041     4500.0
1044     2400.0
1048      750.0
1051      550.0
1052     1828.0
1053      700.0
1058      700.0
1059        NaN
1060     4000.0
1066      550.0
1068     1811.0
1070      650.0
1071     1442.0
1073     4050.0
1074     1450.0
1078     1704.0
1079     1100.0
1081     2100.0
1082      900.0
1083     1380.0
1084        NaN
1087        NaN
1089     2520.0
1091      800.0
1095     1410.0
1096        NaN
1097     1700.0
1098      800.0
1099     3240.0
1101      860.0
1102     1000.0
1106     1000.0
1112     1800.0
1114     2100.0
1120        NaN
1121     1450.0
1122        NaN
1127        NaN
1132      650.0
1136      850.0
1137      500.0
1138        NaN
1141     2150.0
1143     1367.0
1146     1950.0
1147        NaN
1152      700.0
1155     1875.0
1158     1414.0
1161      531.0
1166      554.0
1168     2090.0
1169      900.0
1173     1442.0
1176      900.0
1177      720.0
1183     2800.0
1184     1877.0
1187     3200.0
1190     1852.0
1191     1560.0
1192     3000.0
1195     1290.0
1196     1000.0
1197     1312.0
1198     2700.0
1200     1860.0
1204      900.0
1210     1900.0
1213     2945.0
1214      700.0
1216     2630.0
1220     2293.0
1221     1264.0
1224     1277.0
1226     2260.0
1228     2685.0
1229      691.0
1230     2685.0
1234     2700.0
1236     1902.0
1237     2900.0
1240     2124.0
1241     1865.0
1243    10000.0
1244      825.0
1248     1957.0
1249        NaN
1250     2150.0
1251     3188.0
1252     1150.0
1256     2120.0
1257        NaN
1262      640.0
1265      900.0
1272     1310.0
1277     2200.0
1278     1760.0
1279     1615.0
1282     2899.0
1289     1562.0
1290     4500.0
1291     1800.0
1292     1700.0
1295     4200.0
1297     2772.0
1298     3800.0
1308      450.0
1309     3050.0
1314     2227.0
1319     1530.0
1322      645.0
1327     1516.0
1328     1080.0
1330     1570.0
1331      900.0
1333      450.0
1334     2256.0
1335     1669.0
1336     1200.0
1337     1650.0
1338     1600.0
1345     1140.0
1347     1371.0
1348      670.0
1351      959.0
1352        NaN
1353     3400.0
1354     2597.0
1355     2010.0
1361     1000.0
1362        NaN
1364      650.0
1368     1100.0
1370     2350.0
1371     2408.0
1376     4800.0
1377     1850.0
1379     1680.0
1380     2000.0
1381        NaN
1382     2361.0
1383     2226.0
1385     1261.0
1387     2700.0
1389     2000.0
1391     2003.0
1393     2391.0
1394     2226.0
1396     1957.0
1399     1081.0
1405     1325.0
1408     1091.0
1411     2217.0
1414     1365.0
1415     2842.0
1416     5075.0
1418     1081.0
1420     2670.0
1425      903.0
1427     3700.0
1429     1380.0
1433     2588.0
1434     1780.0
1435     1550.0
1436     1930.0
1439     2259.0
1443      950.0
1446      640.0
1448     2595.0
1454      600.0
1456     1260.0
1457     1775.0
1458     1260.0
1461     1259.0
1463     1100.0
1468     1442.0
1471     2358.0
1474     2480.0
1479     2200.0
1480     2799.0
1482     1520.0
1484     1130.0
1487     1950.0
1488     1000.0
1499     3850.0
Name: SuperArea, dtype: float64

In [564]:
index = temp['Unnamed: 0']

In [565]:
df.iloc[index] = temp

In [566]:
df['SuperArea']=df['SuperArea'].astype(str)

In [567]:
df['SuperArea']=df['SuperArea'].str.replace(' sqft','').str.replace(' sqyrd','').str.replace(',','').str.replace(' sqm','').astype(float)

In [568]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19,13560,NAN,1615.0,Ready to Move,NAN,New Property,Unfurnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07,12351,NAN,1676.0,Ready to Move,NAN,New Property,Semi-Furnished,NAN,Trehan Luxury Floors,NAN,NAN,3,NAN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,Sector 32,"2.81 Cr15,707 per sqft",2.81,15707,NAN,1789.0,NAN,NAN,New Property,Unfurnished,NAN,Aqua Front Towers,NAN,NAN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95,24890,1324 sqft,1587.0,NAN,NAN,New Property,Unfurnished,NAN,Puri Diplomatic Residences,NAN,NAN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55,16500,NAN,1549.0,NAN,NAN,New Property,Unfurnished,NAN,Smartworld Orchard,NAN,NAN,3,3,NAN,Poss. by Dec '24

# **BHK**

In [569]:
df['BHK'].value_counts()

BHK
3            709
4            393
2            315
1             33
5             28
Studio        13
6              3
Apartment      3
>              1
7              1
9              1
Name: count, dtype: int64

In [570]:
bhk = ['1','2','3','4']
def bhk_type(value):
    if value in bhk:
        return value
    elif value == 'Studio':
        return '1'
    else:
        return '5+'

In [571]:
df['BHK']=df['BHK'].apply(bhk_type)

In [572]:
df['sector'].value_counts().head(25)

sector
Sector 79     56
Sector 43     53
Sector 37D    48
Sector 89     47
Sector 57     43
Sector 92     42
Sector 65     38
Sector 49     36
Sector 61     35
Sector 106    34
Sector 111    30
Sector 85     29
Sector 102    28
Sector 63     28
Sector 113    26
Sector 25     25
Sector 51     23
Sector 26     23
Sector 71     23
Sector 2      22
Sector 63A    22
Sector 14     21
Sector 36     21
Sector 24     20
Sector 59     20
Name: count, dtype: int64

In [573]:
sector = ['Sector 79',
'Sector 43',
'Sector 37D',
'Sector 89',
'Sector 57',
'Sector 92',
'Sector 65',
'Sector 49',
'Sector 61',
'Sector 106',
'Sector 111',
'Sector 85',
'Sector 102',
'Sector 63',
'Sector 113',
'Sector 25',
'Sector 51',
'Sector 26',
'Sector 71',
'Sector 2',
'Sector 63A',
'Sector 14',
'Sector 36',
'Sector 24',
'Sector 59']

In [574]:
def sector_type(value):
    if value in sector:
        return value
    else:
        return 'others'

In [575]:
df['sector']=df['sector'].apply(sector_type)

In [576]:
df['sector'].value_counts()

sector
others        707
Sector 79      56
Sector 43      53
Sector 37D     48
Sector 89      47
Sector 57      43
Sector 92      42
Sector 65      38
Sector 49      36
Sector 61      35
Sector 106     34
Sector 111     30
Sector 85      29
Sector 102     28
Sector 63      28
Sector 113     26
Sector 25      25
Sector 71      23
Sector 51      23
Sector 26      23
Sector 2       22
Sector 63A     22
Sector 14      21
Sector 36      21
Sector 59      20
Sector 24      20
Name: count, dtype: int64

In [577]:
df['Floor']=df['Floor'].str.split(' ').str.get(0)

In [578]:
df['Floor'].value_counts()

Floor
1         219
2         201
3         172
4         132
NAN        85
Ground     73
10         61
5          57
8          56
9          54
12         50
6          47
11         44
7          39
15         39
14         27
16         27
18         17
17         16
21         11
19          9
20          8
25          8
23          7
13          7
28          5
33          5
22          4
27          3
30          3
29          3
Upper       3
24          2
32          2
36          1
43          1
26          1
35          1
Name: count, dtype: int64

In [579]:
def floor_type(value):
    if value == 'Ground':
        return '0'
    elif value == 'Basement':
        return '-1'
    elif value == 'Lower':
        return '-2'
    elif value == 'Upper':
        return '1'

    else:
        return value

In [580]:
df['Floor'] = df['Floor'].apply(floor_type)

In [581]:
df['Floor'].value_counts()

Floor
1      222
2      201
3      172
4      132
NAN     85
0       73
10      61
5       57
8       56
9       54
12      50
6       47
11      44
15      39
7       39
14      27
16      27
18      17
17      16
21      11
19       9
20       8
25       8
13       7
23       7
33       5
28       5
22       4
30       3
29       3
27       3
24       2
32       2
36       1
43       1
26       1
35       1
Name: count, dtype: int64

In [582]:
floor = ['1','2','3','4','5','6','7','8','9','10']
def floor_type(value):
    if value in floor:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '10+'

In [583]:
df['Floor'] = df['Floor'].apply(floor_type)

In [584]:
df['Floor'].value_counts()

Floor
10+    374
1      222
2      201
3      172
4      132
10      61
5       57
8       56
9       54
6       47
7       39
Name: count, dtype: int64

In [585]:
df['Furnishing'].value_counts()

Furnishing
Semi-Furnished    885
Unfurnished       435
Furnished         163
NAN                17
Name: count, dtype: int64

In [586]:
def furnishing_type(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [587]:
df['Furnishing'] = df['Furnishing'].apply(furnishing_type)

In [588]:
df['Furnishing'].value_counts()

Furnishing
Semi-Furnished    885
Unfurnished       435
Furnished         163
Name: count, dtype: int64

In [589]:
df['facing'].value_counts()

facing
NAN             546
East            334
North - East    307
North           145
West             54
North - West     41
South - East     31
South            22
South -West      20
Name: count, dtype: int64

In [590]:
def facing_type(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [591]:
df['facing'] = df['facing'].apply(facing_type)

In [592]:
df['facing'].value_counts()

facing
East            334
North - East    307
North           145
West             54
North - West     41
South - East     31
South            22
South -West      20
Name: count, dtype: int64

In [593]:
df['Car_Parking'].value_counts()

Car_Parking
NAN            854
1 Covered      208
2 Covered      189
1 Covered,      86
2 Covered,      66
1 Open          43
3 Covered       25
3 Covered,      12
2 Open           4
4 Covered        2
8 Covered        2
4 Covered,       1
11 Covered       1
9 Covered        1
7 Covered        1
606 Covered      1
20 Covered       1
100 Covered      1
6 Covered,       1
104 Covered      1
Name: count, dtype: int64

In [594]:
def car_parking_type(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [595]:
df['Car_Parking'] = df['Car_Parking'].apply(car_parking_type)

# **Bathroom**

In [596]:
df['Bathroom'].value_counts()

Bathroom
3      569
2      368
4      343
5      138
1       54
6       13
NAN     11
7        2
10       1
8        1
Name: count, dtype: int64

In [597]:
bathrm = ['1','2','3','4']
def bath(value):
    if value in bathrm:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [598]:
df['Bathroom'] = df['Bathroom'].apply(bath)

In [599]:
df['Bathroom'].value_counts()

Bathroom
3     569
2     368
4     343
4+    155
1      54
Name: count, dtype: int64

In [600]:
df['Balcony'].value_counts()

Balcony
2      454
3      442
NAN    258
4      208
1       86
5       42
6        7
10       1
8        1
7        1
Name: count, dtype: int64

In [601]:
balcony = ['1','2','3','4']
def balc(value):
    if value in balcony:
        return value
    elif value == 'NAN':
        return np.nan
    else:
        return '4+'

In [602]:
df['Balcony'] = df['Balcony'].apply(balc)

In [603]:
df['Balcony'].value_counts()

Balcony
2     454
3     442
4     208
1      86
4+     52
Name: count, dtype: int64

In [604]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19,13560,NAN,1615.0,Ready to Move,NaN,New Property,Unfurnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NAN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07,12351,NAN,1676.0,Ready to Move,NaN,New Property,Semi-Furnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NAN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,others,"2.81 Cr15,707 per sqft",2.81,15707,NAN,1789.0,NAN,NaN,New Property,Unfurnished,NaN,Aqua Front Towers,NAN,NaN,3,3,NAN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95,24890,1324 sqft,1587.0,NAN,NaN,New Property,Unfurnished,NaN,Puri Diplomatic Residences,NAN,NaN,3,4,NAN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55,16500,NAN,1549.0,NAN,NaN,New Property,Unfurnished,NaN,Smartworld Orchard,NAN,NaN,3,3,NAN,Poss. by Dec '24

In [605]:
df['overlooking'].value_counts()

overlooking
NAN                             556
Garden/Park                     234
Garden/Park, Main Road          189
Main Road                       173
Garden/Park, Pool, Main Road    163
Garden/Park, Pool                86
Pool, Garden/Park, Main Road     46
Pool, Garden/Park                16
Pool                             13
Main Road, Garden/Park            7
Main Road, Garden/Park, Pool      7
Pool, Main Road                   4
Garden/Park, Main Road, Pool      2
Pool, Main Road, Garden/Park      2
Main Road, Pool                   1
Main Road, Pool, Garden/Park      1
Name: count, dtype: int64

In [606]:
def over(value):
    if value == 'NAN':
        return np.nan
    else:
        return value

In [607]:
df['overlooking'] = df['overlooking'].apply(over)

In [608]:
df['overlooking'].value_counts()

overlooking
Garden/Park                     234
Garden/Park, Main Road          189
Main Road                       173
Garden/Park, Pool, Main Road    163
Garden/Park, Pool                86
Pool, Garden/Park, Main Road     46
Pool, Garden/Park                16
Pool                             13
Main Road, Garden/Park            7
Main Road, Garden/Park, Pool      7
Pool, Main Road                   4
Garden/Park, Main Road, Pool      2
Pool, Main Road, Garden/Park      2
Main Road, Pool                   1
Main Road, Pool, Garden/Park      1
Name: count, dtype: int64

In [609]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19,13560,NAN,1615.0,Ready to Move,NaN,New Property,Unfurnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NaN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07,12351,NAN,1676.0,Ready to Move,NaN,New Property,Semi-Furnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NaN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,others,"2.81 Cr15,707 per sqft",2.81,15707,NAN,1789.0,NAN,NaN,New Property,Unfurnished,NaN,Aqua Front Towers,NAN,NaN,3,3,NaN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95,24890,1324 sqft,1587.0,NAN,NaN,New Property,Unfurnished,NaN,Puri Diplomatic Residences,NAN,NaN,3,4,NaN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55,16500,NAN,1549.0,NAN,NaN,New Property,Unfurnished,NaN,Smartworld Orchard,NAN,NaN,3,3,NaN,Poss. by Dec '24

In [610]:
df.isnull().sum()

Unnamed: 0              0
bhk                     0
BHK                     0
sector                  0
price_sqft_price        0
price                   0
price_persqft          52
Carpet_Area             0
SuperArea              36
Status                  0
Floor                  85
Transaction             0
Furnishing             17
facing                546
Society                 0
Ownership               0
Car_Parking           854
Bathroom               11
Balcony               258
overlooking           556
Under_Construction      0
dtype: int64

In [611]:
df.head()

,Unnamed: 0,bhk,BHK,sector,price_sqft_price,price,price_persqft,Carpet_Area,SuperArea,Status,Floor,Transaction,Furnishing,facing,Society,Ownership,Car_Parking,Bathroom,Balcony,overlooking,Under_Construction
0,0,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.19 Cr13,560 per sqft",2.19,13560,NAN,1615.0,Ready to Move,NaN,New Property,Unfurnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NaN,NAN
1,1,"3 BHK Flat for Sale in Trehan Luxury Floors,...",3,Sector 71,"2.07 Cr12,351 per sqft",2.07,12351,NAN,1676.0,Ready to Move,NaN,New Property,Semi-Furnished,NaN,Trehan Luxury Floors,NAN,NaN,3,NaN,NaN,NAN
2,2,"3 BHK Flat for Sale in Aqua Front Towers, Se...",3,others,"2.81 Cr15,707 per sqft",2.81,15707,NAN,1789.0,NAN,NaN,New Property,Unfurnished,NaN,Aqua Front Towers,NAN,NaN,3,3,NaN,NAN
3,3,3 BHK Flat for Sale in Puri Diplomatic Resid...,3,Sector 111,"3.95 Cr24,890 per sqft",3.95,24890,1324 sqft,1587.0,NAN,NaN,New Property,Unfurnished,NaN,Puri Diplomatic Residences,NAN,NaN,3,4,NaN,Poss. by Mar '31
4,4,"3 BHK Flat for Sale in Smartworld Orchard, S...",3,Sector 61,"2.55 Cr16,500 per sqft",2.55,16500,NAN,1549.0,NAN,NaN,New Property,Unfurnished,NaN,Smartworld Orchard,NAN,NaN,3,3,NaN,Poss. by Dec '24

In [612]:
df['Floor'].value_counts()

Floor
10+    374
1      222
2      201
3      172
4      132
10      61
5       57
8       56
9       54
6       47
7       39
Name: count, dtype: int64

In [613]:
df.drop(columns=['Unnamed: 0','Status','Transaction','Society','Ownership','Under_Construction','price_sqft_price','bhk','Carpet_Area'], axis=1, inplace=True)

In [614]:
df['city'] = 'Gurgaon'

In [615]:
df.head()

,BHK,sector,price,price_persqft,SuperArea,Floor,Furnishing,facing,Car_Parking,Bathroom,Balcony,overlooking,city
0,3,Sector 71,2.19,13560,1615.0,NaN,Unfurnished,NaN,NaN,3,NaN,NaN,Gurgaon
1,3,Sector 71,2.07,12351,1676.0,NaN,Semi-Furnished,NaN,NaN,3,NaN,NaN,Gurgaon
2,3,others,2.81,15707,1789.0,NaN,Unfurnished,NaN,NaN,3,3,NaN,Gurgaon
3,3,Sector 111,3.95,24890,1587.0,NaN,Unfurnished,NaN,NaN,3,4,NaN,Gurgaon
4,3,Sector 61,2.55,16500,1549.0,NaN,Unfurnished,NaN,NaN,3,3,NaN,Gurgaon

In [616]:
df.to_csv('gurgaon_cleaned.csv',index=False)